<!DOCTYPE html>
<html {{ HTML_ATTRS }} lang="es">
  <head {{ HEAD_ATTRS }}>
    <!-- Google Optimize -->
    <script src="https://www.googleoptimize.com/optimize.js?id=GTM-W67TPZT"></script>
    <!-- Básicos -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >
    <!-- Identificación -->
    <meta name="google-site-verification" content="Jed-HEqd5HFV8vCgFCZOGSav13zUvsG73r4am7daIHM" >
    <meta name="facebook-domain-verification" content="ze4kmenbgxfaqvvysm0le7maa0ya0h" />

    <meta property="fb:app_id" content="2004847559786991">
    <meta property="fb:pages" content="187029654704725">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_MX">
    <meta property="og:site_name" content="dínamo">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@wdinamo">
    <!-- íconos -->
    <meta name="msapplication-TileImage" content="/mstile-150x150.png?v=QEMEyKyxR8">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=69Pda3goPB">
    <link rel="author" type="text/plain" href="/humans.txt">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" color="#f83f28" href="/safari-pinned-tab.svg">
    {{ HEAD }}
    <link rel="preload" as="script" href="/outdated-browser/outdatedbrowser.min.js">
    <link rel="preload" as="style" href="/outdated-browser/outdatedbrowser.min.css">
    <link rel="stylesheet" href="/outdated-browser/outdatedbrowser.min.css">
  </head>
  <body {{ BODY_ATTRS }} attr-test>
    <noscript>
      <div
        role="alert"
        class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-2 text-center"
      >
        Para tener una experiencia óptima, habilita JavaScript en tu navegador.
      </div>
    </noscript>
    <div id="outdated"></div>
    {{ APP }}
    <script src="/outdated-browser/outdatedbrowser.min.js"></script>
    <script>
      //plugin function, place inside DOM ready function
      outdatedBrowser({
          bgColor: '#f25648',
          color: '#ffffff',
          lowerThan: 'Edge',
      })
      console.log('11.05.202');
    </script>
    
  </body>
</html>
