// @font-face {
//   font-family: "IBM Plex Sans";
//   font-display: swap;
//   font-style: normal;
//   font-weight: 700;
//   src: local("IBM Plex Sans Bold"), local("IBMPlexSans-Bold"),
//     url("~assets/fonts/IBMPlexSans-Bold.woff2") format("woff2"),
//     url("~assets/fonts/IBMPlexSans-Bold.woff") format("woff");
// }

// @font-face {
//   font-family: "IBM Plex Sans";
//   font-display: swap;
//   font-style: italic;
//   font-weight: 700;
//   src: local("IBM Plex Sans Bold Italic"), local("IBMPlexSans-BoldItalic"),
//     url("~assets/fonts/IBMPlexSans-BoldItalic.woff2") format("woff2"),
//     url("~assets/fonts/IBMPlexSans-BoldItalic.woff") format("woff");
// }

// @font-face {
//   font-family: "IBM Plex Sans";
//   font-display: swap;
//   font-style: normal;
//   font-weight: 200;
//   src: local("IBM Plex Sans ExtraLight"), local("IBMPlexSans-ExtraLight"),
//     url("~assets/fonts/IBMPlexSans-ExtraLight.woff2") format("woff2"),
//     url("~assets/fonts/IBMPlexSans-ExtraLight.woff") format("woff");
// }

// @font-face {
//   font-family: "IBM Plex Sans";
//   font-display: swap;
//   font-style: italic;
//   font-weight: 200;
//   src: local("IBM Plex Sans ExtraLight Italic"),
//     local("IBMPlexSans-ExtraLightItalic"),
//     url("~assets/fonts/IBMPlexSans-ExtraLightItalic.woff2") format("woff2"),
//     url("~assets/fonts/IBMPlexSans-ExtraLightItalic.woff") format("woff");
// }

@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: local("IBM Plex Sans Italic"), local("IBMPlexSans-Italic"),
    url("~assets/fonts/IBMPlexSans-Italic.woff2") format("woff2"),
    url("~assets/fonts/IBMPlexSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local("IBM Plex Sans Light"), local("IBMPlexSans-Light"),
    url("~assets/fonts/IBMPlexSans-Light.woff2") format("woff2"),
    url("~assets/fonts/IBMPlexSans-Light.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  src: local("IBM Plex Sans Light Italic"), local("IBMPlexSans-LightItalic"),
    url("~assets/fonts/IBMPlexSans-LightItalic.woff2") format("woff2"),
    url("~assets/fonts/IBMPlexSans-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local("IBM Plex Sans Medium"), local("IBMPlexSans-Medium"),
    url("~assets/fonts/IBMPlexSans-Medium.woff2") format("woff2"),
    url("~assets/fonts/IBMPlexSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  src: local("IBM Plex Sans Medium Italic"), local("IBMPlexSans-MediumItalic"),
    url("~assets/fonts/IBMPlexSans-MediumItalic.woff2") format("woff2"),
    url("~assets/fonts/IBMPlexSans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans"), local("IBMPlexSans"),
    url("~assets/fonts/IBMPlexSans-Regular.woff2") format("woff2"),
    url("~assets/fonts/IBMPlexSans-Regular.woff") format("woff");
}

// @font-face {
//   font-family: "IBM Plex Sans";
//   font-display: swap;
//   font-style: normal;
//   font-weight: 600;
//   src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold"),
//     url("~assets/fonts/IBMPlexSans-SemiBold.woff2") format("woff2"),
//     url("~assets/fonts/IBMPlexSans-SemiBold.woff") format("woff");
// }

// @font-face {
//   font-family: "IBM Plex Sans";
//   font-display: swap;
//   font-style: italic;
//   font-weight: 600;
//   src: local("IBM Plex Sans SemiBold Italic"),
//     local("IBMPlexSans-SemiBoldItalic"),
//     url("~assets/fonts/IBMPlexSans-SemiBoldItalic.woff2") format("woff2"),
//     url("~assets/fonts/IBMPlexSans-SemiBoldItalic.woff") format("woff");
// }

// @font-face {
//   font-family: "IBM Plex Sans";
//   font-display: swap;
//   font-style: normal;
//   font-weight: 450;
//   src: local("IBM Plex Sans Text"), local("IBMPlexSans-Text"),
//     url("~assets/fonts/IBMPlexSans-Text.woff2") format("woff2"),
//     url("~assets/fonts/IBMPlexSans-Text.woff") format("woff");
// }

// @font-face {
//   font-family: "IBM Plex Sans";
//   font-display: swap;
//   font-style: italic;
//   font-weight: 450;
//   src: local("IBM Plex Sans Text Italic"), local("IBMPlexSans-TextItalic"),
//     url("~assets/fonts/IBMPlexSans-TextItalic.woff2") format("woff2"),
//     url("~assets/fonts/IBMPlexSans-TextItalic.woff") format("woff");
// }

// @font-face {
//   font-family: "IBM Plex Sans";
//   font-display: swap;
//   font-style: normal;
//   font-weight: 100;
//   src: local("IBM Plex Sans Thin"), local("IBMPlexSans-Thin"),
//     url("~assets/fonts/IBMPlexSans-Thin.woff2") format("woff2"),
//     url("~assets/fonts/IBMPlexSans-Thin.woff") format("woff");
// }

// @font-face {
//   font-family: "IBM Plex Sans";
//   font-style: italic;
//   font-display: swap;
//   font-weight: 100;
//   src: local("IBM Plex Sans Thin Italic"), local("IBMPlexSans-ThinItalic"),
//     url("~assets/fonts/IBMPlexSans-ThinItalic.woff2") format("woff2"),
//     url("~assets/fonts/IBMPlexSans-ThinItalic.woff") format("woff");
// }
