/**
 Variable font.
 Usage
  html { font-family: 'IBM Plex Sans', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'IBM Plex Sans Var', sans-serif; }
  }
*/
@font-face {
  font-family: "IBM Plex Sans Var";
  font-style: normal;
  font-weight: 100 900;
  font-named-instance: "Regular";
  font-display: swap;
  src: url("~assets/fonts/IBMPlexSansVar-Roman.woff2") format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans Var";
  font-style: italic;
  font-weight: 100 900;
  font-named-instance: "Italic";
  font-display: swap;
  src: url("~assets/fonts/IBMPlexSansVar-Italic.woff2") format("woff2");
}
