<template>
  <main class="service-work">
    <section class="section pt-16 lg:pt-20 xl:pt-32 text-microCopy">
      <div class="container">
        <div class="content relative pb-18">
          <p class="service-work__title">{{ entry.intro }}</p>
          <p v-show="entry.subtitle" class="sm:w-1/2">{{ entry.subtitle }}</p>
          <arrow-scroll left bot />
        </div>
        <article
          v-for="(work, i) in entry.works"
          :key="i"
          class="pb-12 lg:pb-16 service-work__navegation-left"
          :class="[
            {
              'ml-auto service-work__navegation-right':
                work.position === 'right',
            },
            {
              'sm:ml-auto  lg:mx-auto service-work__navegation-center':
                work.position === 'center',
            },
            work.imgVertical ? 'service-work__grid' : 'sm:w-4/5 xl:w-3/4',
          ]"
        ><div :id="work.name2"><span :id="work.name"> </span></div>
          <!--
            Carousel

            Es importante que para que el autoplay-timeout funcione,
            se coloque antes el autoplay.
          -->
          <vue-carousel
            autoplay
            :autoplay-timeout="8000"
            :per-page-custom="[[0, 1]]"
            pagination-active-color="#f83f28"
            center-mode
            loop
            class="service-work__carousel"
          
          > 
            <vue-slide v-for="(image, j) in work.images" :key="j">
              <video-player-auto
                v-if="image.extension === '.mp4'"
                :binder="entry.binder"
                :url="image.url"
                :extension="image.extension"
                :poster="image.poster"
              />
              <image-responsive
                v-else
                :src="`/files/images${entry.binder}${image.url}${image.extension}`"
                :alt="image.alt"
                :responsive="false"
                width="900"
                height="400"
                class="w-full h-full"
                image-classes="w-full h-full"
               
              />
            </vue-slide>
          </vue-carousel>

          <div
            class="content mt-2 service-work__body"
            :class="[
              work.position === 'center' ? 'lg:ml-auto' : 'lg:ml-auto',
              { 'sm:ml-auto': !work.position },
              work.imgVertical
                ? 'sm:mb-12 sm:pr-4 lg:w-4/5 xl:w-3/4'
                : 'sm:w-2/3 xl:w-3/5',
              work.images.length === 1 ? 'sm:mt-2' : 'sm:-mt-4',
            ]"
          >
            <p class="font-bold">
              Cliente: 
              <span class="font-normal">{{ work.name }}</span>
            </p>
            <p class="font-bold">
              <span class="font-normal" v-html="work.project"></span>
            </p>
          </div>
        </article>

        <current-page-button
          :url-prev="entry.urlPrev"
          :title-prev="entry.titlePrev"
          :url-next="entry.urlNext"
          :title-next="entry.titleNext"
        />
      </div>
    </section>
  </main>
</template>

<script>
import VueCarousel from 'vue-carousel/src/Carousel.vue'
import VueSlide from 'vue-carousel/src/Slide.vue'
import VideoPlayerAuto from '~/components/VideoPlayerAuto.vue'
import ArrowScroll from '~/components/ArrowScroll.vue'
import CurrentPageButton from '~/components/CurrentPageButton.vue'

import { commonHeadTags } from '~/utils/index'

/** @typedef {import('types').Category} Category */
export default {
  name: 'Fotografia',
  components: {
    VueCarousel,
    VueSlide,
    VideoPlayerAuto,
    ArrowScroll,
    CurrentPageButton,
  },
  async asyncData({ route, app, error }) {
    try {
      const entry = await import(
        `~/assets/data/${app.i18n.locale}/portafolio/${route.params.work}.js`)
      return { entry: entry.default || entry }
    } catch (error_) {
      error({
        message: 'Not Found',
        statusCode: 404,
      })
    }
    return {}
  },
  data() {
    return {
      /** @type {import('types').Category} */
      entry: {
        binder: '',
        intro: '',
        urlPrev: '',
        urlNext: '',
        titlePrev: '',
        titleNext: '',
        subtitle: '',
        works: [],
        title: '',
        domain: '',
        og_image: '',
        image_cover: '',
        image_card: '',
        images_content: [],
        description: '',
      },
    }
  },
  head() {
    if (this.entry) {
      return commonHeadTags(this.entry)
    }
    return {}
  },
  scrollToTop: true,
  meta: {
    headerIsDark: true,
  },
}
</script>

<style lang="scss">
.service-work {
  @include sm {
    &__carousel {
      grid-column: 2;
      grid-row: 1;
    }

    &__body {
      grid-column: 1;
      grid-row: 1;
      align-self: flex-end;
    }
  }

  &__title {
    margin-top: theme('margin.4');
    font-size: theme('fontSize.h3');
    font-weight: theme('fontWeight.bold');
    line-height: theme('lineHeight.h3');
    color: theme('colors.brand.naranja');

    @include sm {
      width: theme('width.4/5');
    }
    @include md {
      margin-top: theme('margin.10');
      font-size: theme('fontSize.h1');
      font-weight: theme('fontWeight.normal');
      line-height: theme('lineHeight.h1');
    }
    @include lg {
      width: theme('width.3/5');
    }

    &:last-of-type {
      margin-bottom: theme('margin.16');

      &:last-of-type {
        margin-bottom: theme('margin.24');
      }
    }
  }

  &__grid {
    @include sm {
      display: grid;
      grid-template-columns: 4fr 5fr;
      grid-auto-rows: 100%;
      width: theme('width.4/5');
    }
    @include lg {
      grid-template-columns: 5fr 3fr;
      width: 100%;
    }
  }

  &__navegation-left {
    /* stylelint-disable-next-line selector-class-pattern */
    .VueCarousel-pagination {
      text-align: left;
    }
  }

  &__navegation-center {
    /* stylelint-disable-next-line selector-class-pattern */
    .VueCarousel-pagination {
      text-align: left;

      @include sm {
        text-align: right;
      }

      @include lg {
        text-align: left;
      }
    }
  }

  &__navegation-right {
    /* stylelint-disable-next-line selector-class-pattern */
    .VueCarousel-pagination {
      text-align: left;

      @include sm {
        text-align: right;
      }
      @include lg {
        text-align: left;
      }
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .VueCarousel-dot-container {
    /*
      Se aplica !important ya que no se pueden resetear los estilos
      en esta seccion por estar como estilos en linea.
    */
    margin-top: 0 !important;

  }

  /* stylelint-disable-next-line selector-class-pattern */
  .VueCarousel-dot {
    /*
      Se aplica !important ya que no se pueden resetear los estilos
      en esta seccion por estar como estilos en linea.
    */
    margin-top: theme('margin.1') !important;

    /* border: groove red 1px !important */

  }

  /* stylelint-disable-next-line selector-class-pattern */
  .VueCarousel-slide-adjustableHeight {
    display: block !important;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .VueCarousel-inner {
    align-items: flex-start !important;
  }
}
</style>
