<template>
  <article class="acordeon-number-mobile container">
    <ul class="acordeon-number-mobile__menu" role="tablist">
      <li
        v-for="(item, index) in items"
        :key="index"
        class="acordeon-number-mobile__menu-list"
      >
        <div>
          <div class="flex items-center md:items-start py-2">
            <base-title
              :id="'control-' + index"
              :href="'#tab-' + index"
              :aria-controls="'#tab-' + index"
              :aria-selected="isToggleList === item.title"
              :text="item.title"
              :sillabe-length="item.sillabe"
              tag="a"
              :class="[
                {
                  'acordeon-number-mobile--is-activeItem':
                    isToggleList === item.title,
                },
                'acordeon-number-mobile__menu-item',
              ]"
              @click.prevent="isToggleList = item.title"
            />
          </div>

          <div
            :id="'#tab-' + index"
            role="tabpanel"
            class="acordeon-number-mobile__menu-content"
            :aria-labelledby="'control-' + index"
            :class="{
              'acordeon-number-mobile--is-activeContent':
                isToggleList == item.title,
            }"
          >
            <p
              v-for="(t, o) in item.text"
              :key="o + 't'"
              class="mb-3"
              v-text="t"
            ></p>

            <picture
              class="acordeon-number-mobile__shadow-title"
              :class="{
                'acordeon-number-mobile__shadow-title--is-active':
                  isToggleList == item.title,
              }"
            >
              <source
                v-if="item.imageText2"
                media="(max-width: 550px)"
                :srcset="`/files/images/hacemos/${item.imageText2}`"
              />
              <img
                :src="`/files/images/hacemos/${item.imageText}`"
                :alt="item.imageTextName"
                class="w-full h-full"
              />
            </picture>

            <div class="xsm:w-3/4 sm:w-3/5 mt-4 mx-auto">
              <image-responsive
                :src="`/files/images/hacemos/${item.image}`"
                :alt="item.imageName"
                :responsive="false"
                width="800"
                height="768"
                :webp="false"
                class="w-full h-full object-cover"
                image-classes="w-full h-full"
              />
            </div>
          </div>
        </div>
      </li>
    </ul>
  </article>
</template>

<script>
import BaseTitle from '~/components/BaseTitle.vue'
/** @typedef {import('types').AcordionItem} AcordionItem */

export default {
  name: 'AcordeonNumberMobile',
  components: {
    BaseTitle,
  },
  props: {
    items: {
      /** @type {{(): AcordionItem[]}} */
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      isToggleList: 'Estrategia Integral',
    }
  },
}
</script>
