<template>
  <ul class="acordeon-number-desktop container">
    <li class="acordeon-number-desktop__menu">
      <ul>
        <li
          v-for="(item, index) in items"
          :key="index"
          class="acordeon-number-desktop__menu-list"
        >
          <label
            class="acordeon-number-desktop__menu-label"
            :class="{ 'is-active': item.number === currentItem.number }"
            @mouseenter="activeItemIndex = index"
          >
            <!-- input para la animacion del slider -->
            <input
              v-model="activeItemIndex"
              type="radio"
              name="exp-comp-service"
              class="invisible absolute"
              :value="index"
            />
            <base-title
              :class="['acordeon-number-desktop__menu-item']"
              :text="item.title"
              :sillabe-length="item.sillabe"
              tag="p"
            />
          </label>
        </li>
      </ul>
    </li>

    <li class="acordeon-number-desktop__submenu">
      <ul class="flex overflow-hidden">
        <li
          v-for="(item, i) in items"
          :key="i"
          :style="transfomStyles"
          :class="{ 'is-active': item.number === currentItem.number }"
          class="acordeon-number-desktop__submenu-item"
        >
          <div class="flex items-center h-3/5">
            <div class="pr-6 min-w-3/5 max-w-3/5 w-3/5">
              <p
                v-for="(t, o) in item.text"
                :key="o + 't'"
                class="mt-3"
                v-text="t"
              ></p>
            </div>

            <div class="relative z-10 min-w-2/5 max-w-2/5 w-2/5">
              <image-responsive
                :src="`/files/images/hacemos/${item.image}`"
                :alt="item.imageName"
                :responsive="false"
                width="800"
                :webp="false"
                height="768"
                class="w-full h-full object-cover"
                image-classes="w-full h-full"
              />
            </div>
          </div>

          <div class="acordeon-number-desktop__shadow-title">
            <image-responsive
              :src="`/files/images/hacemos/${item.imageText}`"
              :alt="item.imageTextName"
              :responsive="false"
              width="800"
              :webp="false"
              height="768"
              class="w-full h-full object-cover"
              image-classes="w-full h-full"
            />
          </div>
        </li>
      </ul>
    </li>
  </ul>
</template>

<script>
import BaseTitle from '~/components/BaseTitle.vue'

/** @typedef {import('types').AcordionItem} AcordionItem */

export default {
  name: 'AcordeonNumberDesktop',
  components: {
    BaseTitle,
  },
  props: {
    items: {
      /** @type { { (): AcordionItem[] } } */
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      activeItemIndex: 0,
    }
  },
  computed: {
    /** @returns {AcordionItem} */
    currentItem() {
      return this.items[this.activeItemIndex]
    },
    /** @returns {{transform: string}} */
    transfomStyles() {
      return {
        transform: `translateX(-${this.activeItemIndex * 100}%)`,
      }
    },
  },
}
</script>
