<template>
  <div>
    <acordeon-number-mobile :items="items">
      <template #default="props">
        <slot v-bind="props" />
      </template>
    </acordeon-number-mobile>

    <acordeon-number-desktop :items="items">
      <template #default="props">
        <slot v-bind="props" />
      </template>
    </acordeon-number-desktop>
  </div>
</template>

<script>
import AcordeonNumberMobile from '~/components/AcordeonNumberMobile.vue'
import AcordeonNumberDesktop from '~/components/AcordeonNumberDesktop.vue'

export default {
  name: 'AcordeonNumber',
  components: {
    AcordeonNumberMobile,
    AcordeonNumberDesktop,
  },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
}
</script>
