<template>
  <div
    v-if="!isProductionSite"
    class="alert-dev block bg-yellow-300 text-black p-1 text-small"
    v-text="'Sitio en desarrollo'"
  ></div>
</template>

<script>
/**
 * @param {string} string La string a escapar para regex
 * @returns {string}
 */
function escapeRegExp(string) {
  return string.replace(/[$()*+.?[\\\]^{|}]/g, '\\$&') // $& means the whole matched string
}
export default {
  name: 'AlertDevelopment',
  data() {
    return {
      productionDomain: process.env.productionDomain,
      /** @type {boolean} */
      isProductionSite: false,
    }
  },
  created() {
    if (!this.productionDomain) {return}
    if (!process.static) {
      if (process.client) {
        this.isProductionSite = document.location.host === this.productionDomain
      } else {
        const { req } = this.$nuxt.context
        const regexp = new RegExp(
          `https?:\\/\\/(?:www)?${escapeRegExp(this.productionDomain)}`
        )
        this.isProductionSite = req.url ? regexp.test(req.url) : false || false
      }
    }
  },
  mounted() {
    if (process.static) {
      this.isProductionSite = document.location.host === this.productionDomain
    }
  },
}
</script>

<style scoped>
.alert-dev {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  z-index: 999;
}
</style>
