<template>
  <div
    class="wrapper-arrows"
    :class="{ 'wrapper-arrows--bot': bot, 'wrapper-arrows--left': left }"
  >
    <p v-if="text" class="text-center" :class="{ 'text-white': themeDark }">
      {{ text }}
    </p>
    <div class="arrows">
      <button
        aria-label="Scroll arrow"
        class="arrows__slide"
        @click="moveScreen"
      >
        <fa-icon class="arrow-down" :icon="['fa', 'angle-down']" />
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ArrowScroll',
  props: {
    text: {
      type: String,
      default: '',
    },
    themeDark: {
      type: Boolean,
      default: false,
    },
    bot: {
      type: Boolean,
      default: false,
    },
    left: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      bottom: 0,
    }
  },
  methods: {
    moveScreen() {
      const bottomArrow = this.$el.getBoundingClientRect()
      this.bottom = bottomArrow.bottom + 60 + window.scrollY
      window.scroll(0, this.bottom)
    },
  },
}
</script>
