<script>
function splitWord(word = '', sillabeLength = 0) {
  return [word.slice(0, Math.max(0, sillabeLength)), word.slice(Math.max(0, sillabeLength))]
}

export default {
  name: 'BaseTitle',
  functional: true,
  props: {
    // El contenido que va a llevar el componente, debe ser texto
    text: {
      type: String,
      default: '',
    },
    // El numero de letras que van a llevar la linea debajo
    sillabeLength: {
      type: Number,
      default: 0,
    },
    // La etiqueta html que se va a renderizar en el lugar del componente
    tag: {
      type: String,
      default: 'h2',
    },
  },
  render(h, { props, data, listeners }) {
    const [span, rest] = splitWord(props.text, props.sillabeLength)
    // `<h2 class="base-title" :class="parentclasses" ><span class="base-title___line">lo</span>rem ipsum</h2>`
    return h(
      props.tag,
      {
        ...data,
        ...{
          on: listeners,
          staticClass: 'base-title',
        },
      },
      [h('span', { staticClass: 'base-title__line' }, span), rest]
    )
  },
}
</script>
