<template>
  <a
    href="#"
    class="btn-scroll-top"
    :class="
      viewButton
        ? 'btn-scroll-top__button-into'
        : 'btn-scroll-top__button-outside'
    "
  >
    <fa-icon class="flex" :icon="['fa', 'angle-up']" />
  </a>
</template>

<script>
import { PASSIVE_EVENT_OPTIONS } from '~/utils/index'

export default {
  name: 'ButtonScrollTop',
  data() {
    return {
      viewButton: false,
      sizeScreen: 0,
    }
  },
  mounted() {
    this.viewBtnScrollTop()
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.newSizeScreen)
    window.removeEventListener('scroll', this.toggleButton, {
      capture: false,
    })
  },
  methods: {
    viewBtnScrollTop() {
      this.sizeScreen = window.innerHeight

      window.addEventListener('resize', this.newSizeScreen)

      window.addEventListener(
        'scroll',
        this.toggleButton,
        PASSIVE_EVENT_OPTIONS
      )
    },
    newSizeScreen() {
      this.sizeScreen = window.innerHeight
    },
    toggleButton() {
      if (window.scrollY >= this.sizeScreen * 1.5) {
        this.viewButton = true
      } else {
        this.viewButton = false
      }
    },
  },
}
</script>
