<template>
  <figure
    v-if="!main"
    class="blog-card"
    :class="{ 'blog-card--small': mostRead }"
    @click="$router.push(permalink)"
  >
    <div
      v-if="post.image_card"
      class="flex-auto flex-grow-0 flex-shrink overflow-hidden"
    >
      <image-responsive
        :src="'/files/images/' + post.image_card"
        :responsive="false"
        base-url="/files/images/"
        class="relative block w-full aspect-ratio-square"
        image-classes="absolute inset-0 h-full w-full"
      />
    </div>

    <figcaption class="text-center sm:text-left flex-grow">
      <h3
        class="h6 pt-1 mb-0 whitespace-pre-line"
        :class="{ 'sm:pt-0': !mostRead }"
        v-text="post.title"
      ></h3>
      <h4 :class="colorAuthor ? 'text-brand-azul' : 'text-brand-naranja'">
        {{ post.autor }} - {{ post.autor_detalle }} - {{ postDate }}
      </h4>
      <p class="font-thin text-small pb-4" :class="{ 'sm:hidden': mostRead }">
        {{ post.abstract || post.description }}
      </p>
      <n-link
        :to="permalink"
        class="btn btn--orange"
        :class="{ 'sm:hidden': mostRead }"
      >
        Leer más
      </n-link>
    </figcaption>
  </figure>

  <div v-else class="blog-card-full" @click="$router.push(permalink)">
    <image-responsive
      :src="'/files/images/' + post.image_card"
      :responsive="false"
      base-url="/files/images/"
      class="blog-card-full__image"
      image-classes="h-full w-full"
    />
    <div class="blog-card-full__body">
      <h2 class="blog-card-full__subtitle">Artículo Destacado</h2>
      <h3 class="blog-card-full__title">{{ post.title }}</h3>
      <h4 class="text-small">
        {{ post.autor }} - {{ post.autor_detalle }} - {{ postDate }}
      </h4>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardBlog',
  props: {
    /** @type {import('vue').PropOptions<import('types').NuxtentBlogPost>} */
    post: {
      type: Object,
      default: () => null,
    },
    main: {
      type: Boolean,
      default: false,
    },
    /**
     * Agrega un color azul al texto del autor en caso de que exista la
     * variable, de lo contrario agrega el color naranja.
     */
    colorAuthor: {
      type: Boolean,
      default: false,
    },
    // Agrega estilos la seccion de los posts destacados
    mostRead: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    /** @returns {string} */
    permalink() {
      let match = this.post.slug.match(/(\d{4})-(\d{2})-(\d{2})-(.*)$/)
      if (!match) {
        return this.post.slug
      }
      // eslint-disable-next-line unicorn/no-unreadable-array-destructuring
      const [, year, , , slug] = match
      return `/a113/${year}/${slug}`
    },
    /** @returns {string} */
    postDate() {
      return (
        this.post?.publishedAt.toLocaleDateString('es-MX', {
          month: 'numeric',
          year: 'numeric',
          day: 'numeric',
        }) || ''
      )
    },
  },
}
</script>

<style lang="scss">
@import '~assets/styles/variables';

.blog-card {
  width: 100%;
  height: 100%;
  padding: theme('padding.3');
  cursor: pointer;

  @include sm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: theme('spacings.2');
  }
  @include md {
    padding-right: 0;
    padding-left: 0;
  }

  &--small {
    display: flex;
    flex-direction: column;
  }
}

.blog-card-full {
  position: relative;
  display: flex;
  height: theme('height.48');
  justify-content: center;
  align-items: center;
  padding-top: theme('padding.12');
  padding-bottom: theme('padding.12');
  color: $white;
  text-align: center;
  cursor: pointer;

  @include sm {
    height: theme('height.64');
  }
  @include lg {
    height: theme('height.70');
    margin: 0 theme('margin.3');
  }
  @include xl {
    height: theme('height.82');
  }

  &__title {
    font-size: theme('fontSize.h4');
    font-weight: theme('fontWeight.bold');
    line-height: theme('lineHeight.h4');

    @include md {
      font-size: theme('fontSize.h1');
      line-height: theme('lineHeight.h1');
    }
    @include xl {
      font-size: theme('spacings.10');
      line-height: theme('spacings.12');
    }
  }

  &__subtitle {
    margin-bottom: theme('margin.1');
    font-size: theme('fontSize.small');
    line-height: theme('lineHeight.small');
    letter-spacing: theme('spacings.1');

    @include md {
      margin-bottom: theme('margin.2');
      font-size: theme('fontSize.h2');
      line-height: theme('lineHeight.h2');
      letter-spacing: theme('spacings.2');
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(0, 0, 0, 0.5);
    }
  }

  &__body {
    position: relative;
    z-index: 10;
    padding: theme('padding.3');

    @include md {
      width: theme('width.4/5');
      padding-right: 0;
      padding-left: 0;
    }
    @include xl {
      width: theme('width.3/4');
    }
  }
}
</style>
