<template lang="html">
  <article class="card-portafolio">
    <n-link :to="url">
      <image-responsive
        :src="'/files/images/' + foto"
        :alt="title"
        :responsive="false"
        width="800"
        height="768"
        class="w-full h-full object-cover"
        image-classes="w-full h-full"
      />
      <div class="card-portafolio__description">
        <h3 class="h4 text-white">{{ title }}</h3>
        <p class="text-brand-azul pb-2">
          {{ descripcion }}
        </p>
      </div>
      <span class="sr-only" />
    </n-link>
  </article>
</template>

<script>
export default {
  name: 'CardPortafolio',
  props: {
    foto: {
      type: String,
      default: 'portafolio/hazpan.jpg',
    },
    descripcion: {
      type: String,
      default: 'Lorem Ipusm',
    },
    fecha: {
      type: [String, Number],
      default: 'Desconocido',
    },
    title: {
      type: String,
      required: true,
    },
    alt: {
      type: String,
      default: 'Lorem Ipsum',
    },
    tags: {
      type: Array,
      default: () => ['ninguna'],
    },
    url: {
      type: String,
      required: true,
    },
  },

  methods: {
    sendCardtrack() {
      this.$gtag.event('generate_lead', {
        event_category: 'engagement',
        event_label: `Lead desde ${this.$route.path}`,
      })
    },
  },
}
</script>

<style lang="scss">
@import '~assets/styles/variables';

.card-portafolio {
  $c: &;

  position: relative;
  min-width: 100%;
  margin-bottom: 0.5rem;
  overflow: hidden;
  border-radius: theme('borderRadius.default');
  flex: 0 0 auto;

  @media tablet {
    max-width: calc(50% - 0.5rem);
  }

  @media #{$mq-lg} {
    flex-basis: calc((100% / 3) - 0.5rem);
    flex-shrink: 1;
    max-width: calc((100% / 3) - 0.5rem);
  }

  /* stylelint-disable */
  .image-responsive__img {
    position: relative;
    transition: 0.34s transform ease-in;
    transform: scale(1.1);
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
    width: 180%;
    height: 70%;
    content: '';
    background: rgba(0, 0, 0, 0.5);
    transition: transform 350ms ease-in;
    transform: translate(-10%, -170%) rotate(45deg);
  }

  &:hover {
    &::before {
      transform: translate(-90%, 80%) rotate(45deg);
    }

    .image-responsive__img {
      transition: transform 350ms ease-in;
      transform: scale(1);
    }
  }

  &__description {
    position: absolute;
    bottom: 0;
    z-index: 1;
    float: left;
    width: 100%;
    min-height: theme('height.4');
    padding: theme('padding.2');
    margin: 0;
    background: rgba($brand-naranja, 0.85);
    transition: transform 500ms;
    transform: translateY(100%);

    @media #{$mq-sm} {
      font-size: theme('fontSize.base');
    }
  }
}
</style>
