<template>
  <div class="card-team">
    <!-- <client-only>
      <image-disorted class="card-team__image" :image="image" />
    </client-only> -->
    <div class="relative w-full h-full mb-1 lg:m-0">
      <div
        v-if="imageCenter"
        class="absolute top-0 left-0 z-20 w-full h-full hidden xl:block"
      >
        <image-responsive
          :src="`/files/images/equipo/${imageCenter}`"
          :alt="name"
          :responsive="false"
          width="600"
          height="800"
          class="card-team__image card-team__image--transition z-10"
          image-classes="w-full h-full"
        />
      </div>

      <div class="absolute top-0 left-0 w-full h-full">
        <image-responsive
          :src="`/files/images/equipo/${image}`"
          :alt="name"
          :responsive="false"
          width="600"
          height="800"
          class="card-team__image card-team__image--transition z-10 xl:hidden"
          image-classes="w-full h-full"
        />

        <image-responsive
          :src="`/files/images/equipo/back/${imageBack}`"
          :alt="name"
          :responsive="false"
          width="600"
          height="800"
          class="card-team__image card-team__image--back"
          image-classes="w-full h-full"
        />
      </div>
    </div>

    <div
      class="card-team__txt mb-0 text-small sm:text-h6 font-bold text-left mt-auto break-words"
    >
      <p class="card-team__title">
        {{ name }}
        <span class="ml-4 hidden lg:inline-block">
          <fa-icon :icon="['fa', 'plus']" />
        </span>
      </p>
      <p class="card-team__position">{{ position }}</p>
    </div>
  </div>
</template>

<script>
// import ImageDisorted from '~/components/ImageDisorted.vue'

export default {
  name: 'CardEquipo',
  // components: {
  //   ImageDisorted: () => import('~/components/ImageDisorted.vue'),
  // },
  props: {
    name: {
      type: String,
      default: '',
    },
    image: {
      type: String,
      default: '',
    },
    imageCenter: {
      type: String,
      default: '',
    },
    imageBack: {
      type: String,
      default: '',
    },
    imageBackCenter: {
      type: String,
      default: '',
    },
    position: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss">
.card-team {
  position: relative;
  display: flex;
  overflow: hidden;
  overflow: hidden;
  flex-direction: column;
  border-radius: 1rem;

  @include lg {
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 60;
      width: 200%;
      height: 30%;
      content: '';
      background: theme('colors.white');
      transition: transform 300ms ease-in;
      transform: translate(-10%, -170%) rotate(45deg);
    }

    &:hover {
      &::before {
        transform: translate(-90%, 65%) rotate(45deg);
      }

      /* stylelint-disable-next-line selector-class-pattern */
      .card-team__title {
        opacity: 1;
        transition: opacity 350ms 350ms ease-in, transform 450ms 200ms ease-in;
        transform: translateY(0);
      }
      /* stylelint-disable-next-line selector-class-pattern */
      .card-team__position {
        background: rgba(0, 0, 0, 0.75);
        opacity: 1;
        transition: opacity 350ms 550ms ease-in, transform 500ms 400ms ease-in;
        transform: translateX(0);
      }
      /* stylelint-disable-next-line selector-class-pattern */
      .card-team__image--transition {
        opacity: 0;
        transition: opacity 750ms 20ms ease-in-out;
      }
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    object-fit: cover;

    &--back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__txt {
    position: relative;

    @include lg {
      position: absolute;
      bottom: theme('spacings.8');
      left: theme('spacings.4');
      z-index: 100;
    }
  }

  &__title {
    color: $brand-naranja;

    @include md {
      padding-right: theme('padding.2');
    }
    @include lg {
      position: relative;
      padding-bottom: theme('padding.1');
      font-size: theme('fontSize.h2');
      opacity: 0;
      transition: 250ms ease-in;
      transition-property: transform, opacity;
      transform: translateY(-50%);
    }
  }

  &__position {
    @media (min-width: 360px) and (max-width: 420px) {
      font-weight: normal;
      letter-spacing: -0.6px;
    }

    @include lg {
      position: relative;
      display: inline-block;
      padding: theme('padding.1');
      color: $white;
      border-radius: theme('spacings.1');
      opacity: 0;
      transition: 250ms ease-in;
      transition-property: transform, opacity;
      transform: translateX(-30%);
    }
  }
}
</style>
