<template>
  <div
    v-if="showModal"
    class="covid-wrapper rounded-tr-lg rounded-tl-lg"
    :class="{'covid-wrapper--minimize' : isHidden, 'covid-wrapper--show' : isShowing, 'covid-wrapper--hide' : nearlyOnFooter}"
  >
    <button
      class="absolute top-0 right-0 mr-6 mt-1 text-white"
      aria-label="Este boton oculta parcialmente el modal y hace visible el boton que la abre"
      @click="close"
    >
      <fa-icon class="text-h4" :icon="['fa', 'times']" />
      <span
        class="sr-only"
        aria-label="Ocultar"
      >Este boton oculta parcialmente el modal y hace visible el boton que la abre</span>
    </button>
    <div v-if="!isHidden">
      <button
        class="absolute top-0 right-0 mr-12 mt-1 text-white"
        aria-label="Este boton oculta parcialmente el modal y hace visible el boton que la abre"
        @click="minimize"
      >
        <fa-icon class="text-h4" :icon="['fa', 'minus']" />
        <span
          class="sr-only"
          aria-label="Ocultar"
        >Este boton oculta parcialmente el modal y hace visible el boton que la abre</span>
      </button>
    </div>
    <div v-else>
      <button
        class="absolute top-0 right-0 left-0 mx-auto mt-1 text-white"
        aria-label="Mostrar modal"
        @click="expand"
      >
        <fa-icon class="text-h4" :icon="['fa', 'chevron-double-up']" />
        <span
          class="sr-only"
          aria-label="Mostrar"

        >Este boton muestra totalmente el modal y hace visible el boton que la cierra</span>
      </button>
    </div>
    <p
      class="mx-auto mt-3 text-h4 lg:text-h2 text-brand-naranja leading-base"
    >{{$t('form-flotante.cuentanos')}}</p>
    <form
      v-if="formState === 'idle' || formState === 'rejected'"
      @submit.prevent="sendFormAndTrack"
    >
      <div class="mt-4 block lg:flex">
        <div class="p-2 mx-auto">
          <label for="covid-form-nombre" class="text-white">{{$t('form-flotante.nombre')}}</label>
          <input
            id="covid-form-nombre"
            v-model="model.Nombre"
            class="pl-2 bg-transparent border-b-2 border-brand-naranja text-white"
            type="text"
            minlength="4"
            required
            name="Nombre"
          />
        </div>
        <div class="p-2 mx-auto">
          <label for="covid-form-telefono" class="text-white">{{$t('form-flotante.tel')}}</label>
          <input
            id="covid-form-telefono"
            v-model="model.Teléfono"
            class="pl-2 bg-transparent border-b-2 border-brand-naranja text-white"
            type="text"
            minlength="4"
            required
            name="Teléfono"
          />
        </div>

        <div class="p-2 mx-auto">
          <label for="covid-form-email" class="text-white">{{$t('form-flotante.correo')}}</label>
          <input
            id="covid-form-email"
            v-model="model.Email"
            class="pl-2 bg-transparent border-b-2 border-brand-naranja text-white"
            type="email"
            required
            minlength="4"
            name="Email"
          />
        </div>
      </div>
      <div class="flex flex-col px-2 mt-4 lg:flex-row lg:items-center">
        <label class="text-white mx-auto">
          <input
            v-model="model['Aviso de privacidad']"
            type="checkbox"
            class="cursor-pointer mr-1"
                required
            @click="trackAcepto"
          />
          {{$t('form-flotante.acepto')}}
          <nuxt-link class="text-brand-naranja" to="/aviso-privacidad">{{$t('form-flotante.aviso')}}</nuxt-link>
        </label>
        <button type="submit" class="btn btn--white mx-auto mt-4 lg:mt-0">{{$t('form-flotante.boton')}}</button>
      </div>
      <div class="px-2 my-4 flex justify-center"></div>
    </form>

    <div v-else-if="formState === 'pending'">
      <p class="mt-6 text-white text-h4">{{$t('form-flotante.enviando')}}</p>
    </div>
    <div v-else-if="formState === 'rejected'">
      <p class="mt-6 text-white text-h4">{{$t('form-flotante.error')}}</p>
    </div>
    <div v-else-if="formState === 'resolved'">
      <p class="mt-6 text-white text-h4">{{$t('form-flotante.enviado')}}</p>
    </div>
  </div>
</template>

<script>
import LogRocket from 'logrocket'
import FormMixin from '~/mixins/form-mixin'

export default {
  name: 'CovidModal',
  mixins: [FormMixin],
  data: () => ({
    /** @type {'idle' | 'pending' | 'rejected'| 'resolved'} */
    formState: 'idle',
    showModal: true,
    isShowing: false,
    isHidden: false,
    // Modelo del formulario
    model: {
      Nombre: '',
      Teléfono: '',
      Email: '',
    },
  }),
  computed: {
    nearlyOnFooter() {
      return this.$store.state.nearlyOnFooter
    },
  },
  methods: {
    expand() {
      this.isShowing = true
      this.isHidden = false
    },
    minimize() {
      this.isHidden = true
      this.isShowing = false
    },
    close() {
      this.showModal = false
    },
    sendFormAndTrack() {
      this.formState = 'pending'
      this.$gtag.event('generate_lead', {
        event_category: 'engagement',
        event_label: `Lead desde ${this.$route.path}`,
      })
      this.formSend()
    },
    isSuccess() {
      this.formState = 'resolved'
      this.isShowing = false
      this.$router.push('/gracias')
    },
    isError() {
      // TODO: Enviar a logrocket el error
      this.formState = 'rejected'
      LogRocket.captureMessage('El lead no fue enviado')
    },
    trackAcepto(){
      this.$gtag.event('sign_up_newletter',{
      event_category: 'engagment',
      event_label: 'Acepto la privacidad',
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@keyframes delayForm {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.covid-wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  max-width: 980px;
  height: theme('height.70');
  padding: theme('padding.3');
  margin-right: theme('margin.auto');
  margin-left: theme('margin.auto');
  text-align: center;
  background: theme('backgroundColor.brand.azul');
  box-shadow: theme('boxShadow.xl');
  box-shadow: 0 -1px 5px rgba(#000, 0.5);
  opacity: 0;
  transition: transform 1.5s ease-in-out;
  animation: delayForm 500ms forwards;
  animation-delay: 2s;
  @media #{$mq-lg} {
    height: theme('height.40');
    padding-top: theme('padding.4');
    padding-right: theme('padding.3');
    padding-bottom: theme('padding.0');
    padding-left: theme('padding.3');
  }

  &--minimize {
    transition: transform 800ms ease-in-out;
    transform: translateY(90%);
    @media #{$mq-lg} {
      transition: transform 800ms ease-in-out;
      transform: translateY(60%);
    }
  }

  &--show {
    transition: transform 800ms ease-in-out;
    transform: translateY(0%);
  }

  @keyframes hideModal {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  &--hide {
    pointer-events: none;
    animation: hideModal 500ms forwards;
  }
}
</style>
