<template>
  <div class="modaltaste">
    <div
      v-if="localIsOpen"
      key="form"
      class="modal"
      @scroll="preventEvent"
      @touchstart="preventEvent"
      @wheell.stop="() => {}"
    >
    <div class="modal__body" @click.prevent.stop="localIsOpen = false"/>
      <div ref="scrollbox" class="modal__card" @touchstart.stop="() => {}" @scroll.stop="() => {}">
        <button
          class="absolute top-0 right-0 m-3 text-h4 lg:text-h6 z-10 text-text"
          @click="localIsOpen = false"
        >
        <fa-icon :icon="['fa', 'times']" />
        </button>
        <slot name="header">
         <h3 class="h5 max-w-4xl mx-auto title pt-4 mb-6 md:mb-8">
           ¡Platícanos tu proyecto, seguro tu experiencia sumada a la nuestra
             nos dará grandes resultados!
         </h3>
        </slot>
         <div class="relative pb-4">
           <form-contact-basic center />
         </div>
      </div>
    </div>
    
    <div>
      <slot />
      <p class="mt-1">
        <button
          class="btn"
          :class="[{ 'btn--large': isLarge }, buttonClass]"
          @click="displayForm" 
        >Cotiza
        </button>
      </p>
    </div>
  </div>
</template>

<script>


export default {
  name: 'CtaInline',
  components: {
    
  },
  props: {
    isOpen: {
      type: Boolean,
      default: false,
    },
    isLarge: {
      type: Boolean,
      default: true,
    },
    buttonClass: {
      type: [String, Array, Object],
      default: 'btn--blue',
    },
  },
  data() {
    return {
      localIsOpen: this.isOpen,
    }
  },
  watch: {
    /** @type {import('vue').WatchHandler<boolean>} */
    isOpen(isTrue) {
      this.localIsOpen = isTrue
    },
    /** @type {import('vue').WatchHandler<boolean>} */
    localIsOpen(isTrue) {
      this.$emit('open', isTrue)
      if (isTrue) {
        this.stopScroll()
      } else {
        this.enableScroll()
      }
    },
  },
  beforeDestroy() {
    this.enableScroll()
  },
  methods: {
    displayForm() {
      this.localIsOpen = true
      this.$gtag.event('cta_click', {
        event_category: 'engagement',
        event_label: `Click en cta de ${this.$route.path}`,
      })
    },
    stopScroll() {
      document.addEventListener('wheel', this.preventEvent, { capture: true })
    },
    enableScroll() {
      document.removeEventListener('wheel', this.preventEvent, {
        capture: true,
      })
    },
    /**
     * Previente y detiene
     *
     * @param {WheelEvent} event El evento a detener.
     */
    preventEvent(event) {
      const scrollB = /** @type {HTMLDivElement} */ (this.$refs.scrollbox)
      const isInsideBox =
        scrollB === event.target ||
        (event.target instanceof Node && scrollB.contains(event.target))
      if (event.type === 'wheel') {
        if (!isInsideBox) {
          event.preventDefault()
        }
      } else {
        event.preventDefault()
      }
    },

    cotizaCta(){
      this.$gtag.event('click_cta',{
      event_category: 'Navegation',
      event_label: 'click en cotiza',
      value:1,
      })
    },
  },
}
</script>

<style lang="scss">
@keyframes modalFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modalCardFade {
  from {
    max-height: 0;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    max-height: 100vh;
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color: $black, $alpha: 0.7);
    opacity: 0;
    animation: modalFade 300ms 0s ease forwards;
  }

  &__card {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100vh;
    padding: theme('padding.3');
    overflow-y: auto;
    background-color: $white;
    border-radius: theme('borderRadius.default');
    box-shadow: theme('boxShadow.default');
    overscroll-behavior: contain;
    opacity: 0;
    animation: modalCardFade 800ms 300ms ease forwards;

    @media #{$mq-sm} {
      width: theme('width.64');
      height: auto;
    }
    @media #{$mq-md} {
      width: theme('width.94');
      padding: theme('padding.8') theme('padding.14') theme('padding.4');
    }
    @media #{$mq-lg} {
      width: 800px;
    }
  }
}
</style>
