<template>
  <div class="text-center flex flex-col lg:flex-row">
    <button aria-label="Button prev" class="mr-auto">
      <n-link
        :to="`/portafolio/category/${urlPrev}`"
        class="btn btn__current-page-back"
      >
        <div class="flex items-center">
          <fa-icon
            class="text-h2 md:text-h1 mr-2"
            :icon="['fa', 'angle-left']"
          />
          <p> 
              {{$t('portafolio.direccion')}}
            <span class="font-bold">{{ titlePrev }}</span>
          </p>
        </div>
        <p class="text-small md:text-base leading-2 md:leading-4">{{$t('portafolio.antes')}}</p>
      </n-link>
    </button>

    <button aria-label="Button back">
      <n-link to="/portafolio" class="btn btn__current-page-back">
       {{$t('portafolio.volver')}}
      </n-link>
    </button>
 
    <button aria-label="Button next" class="ml-auto">
      <n-link
        :to="`/portafolio/category/${urlNext}`"
        class="btn btn__current-page-back"
      >
        <div class="flex items-center">
          <p>
            {{$t('portafolio.direccion')}}
            <span class="font-bold">{{ titleNext }}</span>
          </p>
          <fa-icon
            class="text-h2 md:text-h1 ml-2"
            :icon="['fa', 'angle-right']"
          />
        </div>
        <p class="text-small md:text-base leading-2 md:leading-4">{{$t('portafolio.despues')}}</p>
      </n-link>
    </button>
  </div>
</template>

<script>
export default {
  name: 'CurrentPageButton',
  // Proporciona la url del servicio anterior
  props: {
    urlPrev: {
      type: String,
      required: true,
      default: '/portafolio',
    },
    // Proporciona la url del servicio siguiente
    urlNext: {
      type: String,
      required: true,
      default: '/portafolio',
    },
    // Proporciona el titulo de la pagina del servicio anterior
    titlePrev: {
      type: String,
      required: true,
      default: '',
    },
    // Proporciona el titulo de la pagina del servicio siguiente
    titleNext: {
      type: String,
      required: true,
      default: '',
    },
  },
}
</script>
