<template>
  <div class="container relative">
    <div class="filter-tags">
      <!-- Button Search -->
      <div class="flex md:items-center">
        <button
          ref="search"
          type="button"
          aria-label="Button search"
          class="btn btn__filter md:my-3 lg:my-4 text-h4"
          @click="toggleSearch"
          
        >
          <fa-icon class="md:text-h3 xxl:text-h2" :icon="['fas', 'search']" />
        </button>

        <!-- Caja de texto para la busqueda -->
        <transition name="fade">
          <div v-show="showSearchFilter" class="filter-tags__toogleView">
            <input
              ref="input"
              type="text"
              name="search"
              class="form-input rounded-full"
              @input="$emit('search', $event.target.value)"
            />
          </div>
        </transition>
      </div>

      <!-- Button Categorys -->
      <button
        ref="categorys"
        type="button"
        aria-label="Button category"
        class="btn btn__filter text-h4"
        @click="toggleCategorys"
      >
        <fa-icon class="md:text-h3 xxl:text-h2" :icon="['fas', 'th-large']" />
      </button>

      <!-- Menu Categorys -->
      <transition name="fade">
        <div v-show="showCategoryFilter" class="filter-tags__body-menu">
          <!--
          Si se decea filtrar por years, se debe pasar el estado de years desde
          el archivo a113.vue y recibir los props desde aqui.
          El elemento <ul> se debe duplicar y cambiar los valores que recibe,
          asi como el elemento <p> debe contener el titulo de esa seccion.
          Los estilos no se deben mover, ya que esta pensado para que muestre
          con una o dos secciones.
         -->
          <ul class="filter-tags__menu">
            <!-- Aplica unicamente para pintar el titulo de la seccion -->
            <li role="title" class="filter-tags__list-title">
              <p ref="pCategoty">Categorías</p>
            </li>
            <li>
              <n-link
                to="/a113"
                class="filter-tags__item"
                active-class="text-brand-naranja"
                exact
              >
                Todas las categorías
              </n-link>
            </li>
            <li v-for="(tag, i) in tags" :key="i">
              <n-link
                :to="`/a113/${tagsMap.get(tag)}`"
                class="filter-tags__item"
                active-class="text-brand-naranja"
              >
                {{ tag }}
              </n-link>
            </li>
          </ul>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import { tagsMap } from '~/assets/data/tags-map'

export default {
  name: 'FilterTags',
  props: {
    tags: {
      /** @type {() => string[]} */
      type: Array,
      required: true,
      default: () => [],
    },
  },
  data() {
    return {
      showSearchFilter: false,
      showCategoryFilter: false,
      tagsMap,
    }
  },
  mounted() {
    this.getClick()
  },
  beforeDestroy() {
    this.getClick()
  },
  methods: {
    /**
     * Cambio del estado de los botones de search y menu
     *
     * @param {MouseEvent} event
     */
    toggleSearch(event) {
      event.preventDefault()
      event.stopPropagation()
      this.$gtag.event('search_term', {
      event_category: 'engagment',
      event_label: 'Click en buscar'
      })

      /*
        Hace que el showCategoryFilter no este abierto al mismo tiempo que
        showSearchFilter
      */
      if (this.showCategoryFilter) {
        this.showCategoryFilter = false
      }
      this.showSearchFilter = !this.showSearchFilter
    },
    /**
     * @param {MouseEvent} event
     */
    toggleCategorys(event) {
      event.preventDefault()
      event.stopPropagation()

      /*
        Hace que el showSearchFilter no este abierto al mismo tiempo que
        showCategoryFilter
      */
      if (this.showSearchFilter) {
        this.showSearchFilter = false
      }
      this.showCategoryFilter = !this.showCategoryFilter
    },

    getClick() {
      const buttonCategory = /** @type {HTMLButtonElement} */ (this.$refs
        .categorys)
      const buttonSearch = /** @type {HTMLButtonElement} */ (this.$refs.search)
      const p = /** @type {HTMLParagraphElement} */ (this.$refs.pCategoty)
      const input = /** @type {HTMLInputElement} */ (this.$refs.input)

      document.addEventListener(
        'click',
        (event) =>
          this.closeButtons(event, buttonCategory, buttonSearch, p, input),
        false
      )
    },

    /**
     * @param {MouseEvent} event
     * @param {HTMLButtonElement} buttonCategory
     * @param {HTMLButtonElement} buttonSearch
     * @param {HTMLParagraphElement} p
     * @param {HTMLInputElement} input
     */
    closeButtons(event, buttonCategory, buttonSearch, p, input) {
      const click = event.target

      /**
       * Revias que unicamente acepte el click en los enlaces, de no ser asi
       * el estado de showCategoryFilter pasa a falso y se cierra el menu.
       */
      if (
        this.showCategoryFilter &&
        click !== buttonCategory &&
        click !== p &&
        click !== p.parentElement && // Selecciona el <li>
        click !== p.parentElement?.parentElement && // Selecciona el <ul>
        click !== p.parentElement?.parentElement?.parentElement // Selecciona el <div>
      ) {
        this.showCategoryFilter = false
      }

      /**
       * Revias que unicamente acepte click en el input, de no ser asi
       * el estado de showSearchFilter pasa a falso y se cierra la busqueda.
       */
      if (this.showSearchFilter && click !== buttonSearch && click !== input) {
        this.showSearchFilter = false
      }
    },
  },
}
</script>
