<template>
  <!-- Begin Mailchimp Signup Form -->
  <div id="mc_embed_signup" class="w-full bg-gray-100 border-t-2 border-gray-300">
      
    <div class="container p-4 rounded-t z-10">
    <form 
        id="mc-embedded-subscribe-form"
        class="validate mt-2 lg:mt-4 lg:flex lg:flex-wrap"
        action="https://dinamo.us3.list-manage.com/subscribe/post?u=d2bf404a6e291601e967a556b&amp;id=f59fb8e199"
        method="POST"  
        name="mc-embedded-subscribe-form" 
        target="_blank"
        novalidate>
      
        <div class="w-full lg:flex lg:justify-between items-center">
            <div class="lg:w-1/5">
                <img
                    class="w-32 mx-auto" 
                    src="/images/newsletter.png?v=3" 
                    alt="Newsletter Illustration">
            </div>
            

            <div class="text-left mc-field-group lg:w-4/5">
                <p class="mb-4 text-text text-h5 lg:mb-0" >
           {{$t('newsletter.uno')}}<span class="text-brand-naranja">newsletter</span>
           {{$t('newsletter.dos')}}</p>    
                <div class="my-2">
                <label for="mce-EMAIL" class="text-text">{{$t('newsletter.correo')}}</label>
                <input  id="mce-EMAIL" ref="emailinput" type="email" value="" name="EMAIL" class="required email pl-2 bg-transparent border-b-2 border-brand-naranja text-brand-naranja"><br/>
                </div>
                <div v-if="routename == 'a113' || routename =='a113-year-slug' "
                  class="my-6 text-text">
                  <span>Si te interesa añade diagnóstico: </span>
                  
                  <label for="mce-group[30745]-30745-0" class="checkbox-container mx-6">
                    <input id="mce-group[30745]-30745-0" type="checkbox" value="1" name="group[30745][1]" >
                    <span class="checkmark"></span>
                    WEB
                  </label>
                  <label for="mce-group[30745]-30745-1" class="checkbox-container mx-6">
                    <input id="mce-group[30745]-30745-1" type="checkbox" value="2" name="group[30745][2]" >
                    <span class="checkmark"></span>
                    Redes Sociales
                  </label>
                </div>
                <label class="text-text">
                <input
                type="checkbox"
                class="cursor-pointer mr-1"
                required
                @click="trackAcepto"
                />
                {{$t('newsletter.acepto')}}
                <nuxt-link class="text-brand-naranja" to="/aviso-privacidad">{{$t('newsletter.aviso')}}</nuxt-link>
                </label><br/>
            <input id="mc-embedded-subscribe" type="submit" :value="$t('newsletter.cta')" name="subscribe" 
            class="btn btn--orange mt-2">
            </div>
        </div>
        <div id="mce-responses" class="clear">
          <div id="mce-error-response" class="response" style="display: none;"></div>
          <div id="mce-success-response" class="response" style="display: none;"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div 
            class="inputhidden" 
            aria-hidden="true">
            <input type="text"
            name="b_d2bf404a6e291601e967a556b_3f304e24f5" tabindex="-1" value="">
        </div>
        
      
    </form>
    </div>
  </div>

  <!--End mc_embed_signup-->
</template>
<script>
export default {
  name: 'FormMailchimp',
  props:{
    routename: {
      type: [String],
      required: true,
    }
  },

  methods: {
     trackAcepto(){
       this.$gtag.event('sign_up_newsletter',{
       event_category: 'engagment',
       event_label: 'click en acepto',
       value: 1,
     })
    }
  }

}
</script>
<style lang="scss" scoped>
  .inputhidden {
    position: absolute;
    left: -5000px;
  }

  .checkbox-container {
    position: relative;
    display: inline-block;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;

    input {
      position: absolute;
      width: 0;
      height: 0;
      cursor: pointer;
      opacity: 0;
    }

    &:hover input ~ .checkmark {
      background-color: rgba($brand-naranja, 0.25);
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      background-color: $white;
      border: 1px solid $brand-naranja;
      border-radius: 3px;
    }

    input:checked ~ .checkmark {
      background-color: $brand-naranja;
    }

    .checkmark::after {
      position: absolute;
      display: none;
      content: "";
    }
    /* stylelint-disable no-duplicate-selectors */
    input:checked ~ .checkmark::after {
      display: block;
    }

    .checkmark::after {
      top: 5px;
      left: 9px;
      width: 5px;
      height: 10px;
      border: solid $white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

</style>