<template>
  <form @submit.prevent="formSend">
    <div class="md:flex justify-between">
      <div class="p-2 w-full">
        <label for="form-nombre" class="label">Nombre *</label>
        <input
          id="form-nombre"
          v-model="model.Nombre"
          type="text"
          required
          class="input"
          minlength="4"
          name="nombre"
        />
      </div>

      <div class="p-2 w-full">
        <label for="form-empresa" class="label">Empresa</label>
        <input
          id="form-empresa"
          v-model="model.Empresa"
          class="input"
          type="text"
          minlength="4"
          name="empresa"
        />
      </div>
    </div>

    <div class="md:flex justify-between">
      <div class="p-2 w-full">
        <label for="form-telefono" class="label">Teléfono</label>
        <input
          id="form-telefono"
          v-model="model.Teléfono"
          class="input"
          type="text"
          minlength="4"
          name="Teléfono"
        />
      </div>

      <div class="p-2 w-full">
        <label for="form-email" class="label">Email</label>
        <input
          id="form-email"
          v-model="model.Email"
          class="input"
          type="mail"
          minlength="4"
          name="Email"
        />
      </div>
    </div>

    <div class="p-2">
      <label for="form-comentarios" class="label">Comentarios</label>
      <textarea
        id="form-comentarios"
        v-model="model.Comentarios"
        class="textarea"
        minlength="4"
        name="Comentarios"
      />
    </div>

    <div class="px-2">
      <label class="checkbox cursor-pointer">
        <input
          v-model="model['Aviso de privacidad']"
          type="checkbox"
          class="cursor-pointer"
          required
          @click="trackPrivacidad"
        />
        Acepto el
        <nuxt-link to="/aviso-privacidad" class="checkbox-link">
          Aviso de privacidad
        </nuxt-link>
      </label>
    </div>

    <div class="px-2 flex justify-end">
      <button type="submit" class="btn btn--white">Enviar</button>
    </div>
  </form>
</template>

<script>
import FormMixin from '~/mixins/form-mixin'

/**
 * Formulario genérico
 *
 * @version 1.5
 */

export default {
  name: 'FormFotografia',
  mixins: [FormMixin],
  props: {
    /**
     * Orden en el que se muestran los datos en el correo,
     *   lo que no esté incluido aquí es omitido
     */
    formDataOrder: {
      type: [Array, String],
      default() {
        return [
          'Nombre',
          'Email',
          'Empresa',
          'Comentarios',
          'Fecha',
          'Teléfono',
          'Correo',
        ]
      },
    },
  },
  data: () => ({
    // Modelo del formulario
    model: {
      Tema: '',
      Comentarios: '',
      Empresa: '',
    },
  }),
  methods: {
    isSuccess() {
      this.$router.push('/gracias')
    },
    trackPrivacidad(){
     this.$gtag.event('sign_up',{
      event_category: 'engagment',
      event_label: 'Acepto la privacidad.'
     })
    }
  },
}
</script>
<style lang="scss" scoped>
.label {
  margin-bottom: 0;
  font-size: theme('fontSize.h6');
  color: theme('colors.brand.azul');
}

.checkbox-link {
  color: theme('colors.blue');
  text-decoration: none;
  transition: 200ms ease-in;

  &:hover {
    color: theme('colors.black');
  }
}

.input,
.textarea {
  width: theme('width.full');
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid theme('colors.brand.naranja');
  border-radius: 0;
  box-shadow: none;
}
</style>

<docs>
  Este formulario es muy configurable y no suele ser necesario tener más de uno

  ##  Examples

  Usando las opciones por defecto

  ```jsx
  <form-contact-basic/>
  ```

  Configurando la hoja de envío

  ```jsx
  <form-contact-basic sheet-destiny="Demo de componente"/>
  ```

</docs>
