<template>
  <div class="w-full bg-gray-100 border-t-2 border-gray-300">
    <div
      v-if="formState === 'idle' || formState === 'rejected'"
      class="container p-4 rounded-t z-10"
    >
      <form class="mt-2 lg:mt-4 lg:flex lg:flex-wrap" @submit.prevent="sendFormAndTrack">
        <div class="w-full lg:flex lg:justify-between">
          <p class="mb-4 text-text text-h5 text-center lg:mb-0">
            ¡Suscríbete a nuestro
            <span class="text-brand-naranja">newsletter</span>
            y recibe información de valor para tu proyecto.
          </p>
          <div class="text-center lg:flex">
            <label for="covid-form-email" class="text-text">Email:</label>
            <input
              id="covid-form-email"
              v-model="model.Email"
              class="pl-2 bg-transparent border-b-2 border-brand-naranja text-brand-naranja lg:w-full"
              type="mail"
              required
              minlength="4"
              name="Email"
            />
          </div>
        </div>
        <div
          class="w-full flex flex-col mt-4 lg:flex-row lg:justify-between lg:flex-wrap lg:items-center"
        >
          <p class="text-text text-center">Si te interesa, añade:</p>
          <button
            type="button"
            class="btn btn--white flex mx-auto mt-2 border-brand-naranja border-2 lg:mt-0"
            :class="{ 'btn--orange': requireWeb }"
            @click="selectWeb"
          >Diagnóstico web</button>
          <button
            type="button"
            class="btn btn--white flex mx-auto mt-2 border-brand-naranja border-2 lg:mt-0"
            :class="{ 'btn--orange': requireSocial }"
            @click="selectSocial"
          >Diagnóstico de redes sociales</button>
          <div v-if="requireWeb || requireSocial" class="flex lg:mx-auto lg:mt-4">
            <div class="p-2 w-1/2">
              <label for="covid-form-nombre" class="text-text">Nombre:</label>
              <input
                id="covid-form-nombre"
                v-model="model.Nombre"
                class="w-full pl-2 bg-transparent border-b-2 border-brand-naranja text-brand-naranja"
                type="text"
                minlength="4"
                required
                name="Nombre"
              />
            </div>
            <div class="p-2 w-1/2">
              <label for="covid-form-telefono" class="text-text">Teléfono:</label>
              <input
                id="covid-form-telefono"
                v-model="model.Teléfono"
                class="w-full pl-2 bg-transparent border-b-2 border-brand-naranja text-brand-naranja"
                type="text"
                minlength="4"
                required
                name="Teléfono"
              />
            </div>
          </div>
        </div>
        <div class="px-2 mt-4 text-center lg:w-full">
          <label class="text-text mx-auto">
            <input
              v-model="model['Aviso de privacidad']"
              type="checkbox"
              class="cursor-pointer mr-1"
              required
              @click="trackPrivacidad"
            />
            Acepto el
            <nuxt-link class="text-brand-naranja" to="/aviso-privacidad">Aviso de privacidad</nuxt-link>
          </label>
          <button type="submit" class="btn btn--orange flex mx-auto mt-2">Suscribirme</button>
        </div>
      </form>
    </div>
    <div v-else-if="formState === 'pending'">
      <p class="mt-6 text-center text-text text-h4">Estamos enviando tus datos...</p>
    </div>
    <div v-else-if="formState === 'rejected'">
      <p class="mt-6 text-center text-text text-h4">Hubo un error al enviar tus datos</p>
    </div>
    <div v-else-if="formState === 'resolved'">
      <p class="mt-6 text-center text-text text-h4">Tu formulario ha sido enviado</p>
    </div>
  </div>
</template>

<script>
import LogRocket from 'logrocket'
import FormMixin from '~/mixins/form-mixin'

export default {
  name: 'FormNewsLetter',
  mixins: [FormMixin],
  data: () => ({
    /** @type {'idle' | 'pending' | 'rejected'| 'resolved'} */
    formState: 'idle',
    requireWeb: false,
    requireSocial: false,
    // Modelo del formulario
    model: {
      Nombre: '',
      Teléfono: '',
      Email: '',
    },
  }),
  methods: {
    selectWeb() {
      this.requireWeb = !this.requireWeb
    },
    selectSocial() {
      this.requireSocial = !this.requireSocial
    },
    sendFormAndTrack() {
      this.formState = 'pending'
      this.$gtag.event('generate_lead', {
        event_category: 'engagement',
        event_label: `Lead desde ${this.$route.path}`,
      })
      this.formSend()
    },
    isSuccess() {
      this.formState = 'resolved'
      this.$router.push('/gracias')
    },
    isError() {
      // TODO: Enviar a logrocket el error
      this.formState = 'rejected'
      LogRocket.captureMessage('El lead no fue enviado')
    },
    trackPrivacidad(){
      this.$gtag.event('generate_lead',{
      event_category: 'engagment',
      event_label: 'click en Acepto privacidad'  
      })
    },
  },
}
</script>

<style></style>
