<template>
  <!-- Error es falso positivo por que vetur no entiende mixins -->
  <div class="w-full bg-gray-100 border-t-2 border-gray-300">
   <div
    v-if="formState === 'idle' || formState === 'rejected'"
    class="container p-4 rounded-t z-10"
   >
     <form
      class="grid grid-cols-1 md:grid-cols-2 gap-4"
      @submit.prevent="formSend"
     >
     <div>
      <label class="label" for="basic-first-name">
        Nombre
      </label>
      <input
        id="basic-first-name"
        v-model="model.Nombre"
        required
        class="form-input w-full"
        type="text"
        placeholder="Ramses Reyes"
      />
     </div>
     <div>
      <label class="label" for="basic-correo">
        Correo
      </label>
      <input
        id="basic-correo"
        v-model="model.Correo"
        class="form-input w-full"
        required
        type="email"
        placeholder="ramses@wdinamo.com"
      />
     </div>
     <div class="md:col-span-2">
      <label class="label" for="basic-tel">
        Teléfono
      </label>
      <input
        id="basic-tel"
        v-model="model.Teléfono"
        class="form-input w-full"
        type="tel"
        required
        placeholder="+525572818789"
      />
      <p class="text-gray-800 text-small leading-small -mt-1 mb-1 italic">
        Incluye el código de país
      </p>
     </div>
     <div class="md:col-span-2 md:flex justify-between items-baseline">
      <label class="block mb-4">
        <input
          v-model="model['Aviso de privacidad']"
          type="checkbox"
          required
          class="form-checkbox"
          @click="Priv"
        />
        Acepto el
        <n-link
        class="text-blue-600 underline"
        to="/aviso-privacidad"
          >aviso de privacidad</n-link
        >
      </label>
      <button
        type="submit"
        class="btn btn--primary btn--solid btn--medium md:ml-auto block"
        :aria-busy="isLoading"
        v-text="isLoading ? 'Enviando…' : 'Enviar'"
      ></button>
     </div>
     </form>
   </div>
   <div v-else-if="formState === 'pending'">
      <p class="mt-6 text-center text-text text-h4">Estamos enviando tus datos...</p>
    </div>
    <div v-else-if="formState === 'rejected'">
      <p class="mt-6 text-center text-text text-h4">Hubo un error al enviar tus datos</p>
    </div>
    <div v-else-if="formState === 'resolved'">
      <p class="mt-6 text-center text-text text-h4">Tu formulario ha sido enviado</p>
    </div>
  </div>
  <!-- eslint-enable max-len -->
</template>

<script>
import FormMixin from '~/mixins/form-mixin'
/**
 * Formulario genérico
 *
 * @version 1.6
 */

export default {
  name: 'FormGeneric',
  mixins: [FormMixin],
  data: () => ({
   /** @type {'idle' | 'pending' | 'rejected'| 'resolved'} */
    formState: 'idle',
    requireWeb: false,
    requireSocial: false, 
    return: {
      model: {},
    }
  }),
  methods: {
    isSuccess() {
      this.$router.push('/gracias')
    },

    Priv(){
      this.$gtag.event('sign_up_newsletter', {
        event_category: 'engagment',
        event_label: 'click en checkbox',
        value: 1,
      })
    },
  },
  
}
</script>


<style lang="scss" scoped>
.label {
  display: block;
  font-weight: bold;
}
</style>

<docs>
  Este formulario es muy configurable y no suele ser necesario tener más de uno
  ## Examples Usando las opciones por defecto
  ```jsx
  <form-generic />
  ```
  ## Configurando la hoja de envío
  ```jsx
  <form-generic sheet-destiny="Demo de componente" />
  ```
</docs>
