<template>
 <div class="w-full bg-gray-100 border-t-2 border-gray-300">
    <div
      v-if="formState === 'idle' || formState === 'rejected'"
      class="container p-4 rounded-t z-10"
    >
     <form :class="white ? 'text-white' : ''" @submit.prevent="formSend">
     <div class="md:flex flex-wrap">
      <div class="field-form field-form--third">
        <input
          id="form-nombre"
          v-model="model.Nombre"
          type="text"
          required
          class="input input--big"
          :class="{
            'input--is-active': !!model.Nombre,
            'text-grayLight': white,
          }"
          minlength="4"
          name="nombre"
        />
        <label for="form-nombre" class="label label--animated">
          {{$t('cotiza.campo1')}}
        </label>
      </div>

      <div class="field-form field-form--third">
        <input
          id="form-telefono"
          v-model="model.Teléfono"
          class="input input--big"
          :class="{
            'input--is-active': !!model.Teléfono,
            'text-grayLight': white,
          }"
          type="text"
          minlength="4"
          name="Teléfono"
        />
        <label for="form-telefono" class="label label--animated">
         {{$t('cotiza.campo2')}}
        </label>
      </div>

      <div class="field-form field-form--third">
        <input
          id="form-empresa"
          v-model="model.Empresa"
          class="input input--big"
          :class="{
            'input--is-active': !!model.Empresa,
            'text-grayLight': white,
          }"
          type="text"
          minlength="4"
          name="empresa"
        />
        <label for="form-empresa" class="label label--animated">
          {{$t('cotiza.campo3')}}
        </label>
      </div>

      <div class="field-form field-form--medium">
        <input
          id="form-email"
          v-model="model.Email"
          class="input input--big"
          :class="{
            'input--is-active': !!model.Email,
            'text-grayLight': white,
          }"
          required
          type="email"
          minlength="4"
          name="Email"
        />
        <label for="form-email" class="label label--animated">
           {{$t('cotiza.campo4')}}
        </label>
      </div>

      <div class="field-form field-form--full">
        <select
          id="form-temas"
          v-model="model.Tema"
          class="select"
          name="Tema"
          :class="{ 'input--is-active': !!model.Tema, 'text-grayLight': white }"
        >
          <option
            v-for="(tema, index) in temas"
            :key="index"
            :value="tema"
            class="text-text"
          >
            {{ tema }}
          </option>
        </select>
        <label for="form-temas" class="label label--animated">
           {{$t('cotiza.campo5')}}
        </label>
      </div>
     </div>

     <div class="field-form">
      <textarea
        id="form-comentarios"
        v-model="model.Comentarios"
        class="textarea"
        :class="{
          'textarea--is-active': !!model.Comentarios,
          'text-grayLight': white,
        }"
        minlength="4"
        name="Comentarios"
      />
      <label for="form-comentarios" class="label label--animated">
        {{$t('cotiza.campo6')}}
      </label>
     </div>

     <div class="flex items-center px-2">
      <label class="text-text" :class="{ 'text-grayLight': white }">
        <input
          v-model="model['Aviso de privacidad']"
          type="checkbox"
          class="checkbox"
          required
          @click="trackPri"
        />
        {{$t('cotiza.acepto')}}
        <nuxt-link
          to="/aviso-privacidad"
          class="checkbox__link"
          :class="{ 'checkbox__link--white': white }"
        >
          {{$t('cotiza.aviso')}}
        </nuxt-link>
      </label>
     </div>

     <div
      class="px-2 mt-6 flex justify-center md:justify-end"
      :class="{ 'md:justify-center': center }"
     >
      <button type="submit" class="btn btn--white"
       @click="trackEnviar"
      > {{$t('cotiza.boton2')}}</button>
     </div>
   
     <!-- Estado de carga al mandar un formulario -->
     <load-wheel :loading="isLoading" />
      </form>
   </div>
   <div v-else-if="formState === 'pending'">
      <p class="mt-6 text-center text-text text-h4">Estamos enviando tus datos...</p>
    </div>
    <div v-else-if="formState === 'rejected'">
      <p class="mt-6 text-center text-text text-h4">Hubo un error al enviar tus datos</p>
    </div>
    <div v-else-if="formState === 'resolved'">
      <p class="mt-6 text-center text-text text-h4">Tu formulario ha sido enviado</p>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-console */
import FormMixin from '~/mixins/form-mixin'
import LoadWheel from '~/components/LoadWheel.vue'
/**
 * Formulario genérico
 *
 * @version 1.5
 */

export default {
  name: 'FormContactBasic',
  components: {
    LoadWheel,
  },
  mixins: [FormMixin],
  props: {
    /**
     * Orden en el que se muestran los datos en el correo,
     *   lo que no esté incluido aquí es omitido
     */
    formDataOrder: {
      type: [Array, String],
      default() {
        return ['Fecha', 'Nombre', 'Email', 'Teléfono', 'Tema', 'Comentarios']
      },
    },
    white: {
      type: Boolean,
      default: false,
    },
    center: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    /** @type {'idle' | 'pending' | 'rejected'| 'resolved'} */
    formState: 'idle',
    requireWeb: false,
    requireSocial: false,
    // Modelo del formulario
    model: {
      Tema: '',
      Comentarios: '',
      Empresa: '',
    },
    temas: [],
    
  }),
  created(){
    this.langTemas()
  },
  methods: {
    langTemas(){
      const temasES = [
        'Diseño web',
        'Social Media',
        'Fotografía',
        'Impresos',
        'Imagen Corporativa',
        'Aumentar engagement',
        'Aumentar ventas / contactos',
        'Creación de marca',
        'Migrar mi negocio digital',
        'Comunicar nuevo producto',
        'Posicionamiento de marca',
        'Otros',
      ]
    
      const temasEN = [
        'Web Design',
        'Social Media',
        'Photography',
        'Printed Matter',
        'Corporate Branding',
        'Increase Engagement',
        'Increase Sales/Contacts',
        'Brand Creation',
        'Relocate my online business',
        'New product communication',
        'Brand Positioning',
        'Others',
      ]

      // frases
      if(this.$i18n.locale ==='en'){
        this.temas = temasEN;
      }
      else{
        this.temas = temasES;
      }
    },
    isSuccess() {
      this.resetForm()
      this.$gtag.event('generate_lead', {
        event_category: 'engagement',
        event_label: `Lead desde ${this.$route.path}`,
      })
      this.$router.push('/gracias')
    },
    trackPri(){
       this.$gtag.event('sign_up_newsletter', {
         event_category: 'engagment',
         event_label: 'Aceptar el aviso de privacidad',
         value: 0,
       })
     },

     trackEnviar(){
       this.$gtag.event('generate_lead', {
         event_category: 'engagment',
         event_label: 'Click en enviar formulario',
         value: 1,
       })
     }
  },
}
</script>

<style lang="scss" scoped>
// Estilos generales para los inputs y labels
%type-form {
  position: relative;
  width: 100%;
  padding: theme('padding.2');

  @screen lg {
    padding-top: theme('padding.3');
    padding-bottom: theme('padding.3');
  }
}

%type-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: theme('margin.3');
}

%type-label-animated {
  font-size: 0.75em;
  color: theme('colors.gray.600');
  transform: translateY(-20%);
}

//
//
// **************************************************
//
// Estilos del formulario
//
// **************************************************
.field-form {
  @extend %type-form;

  &--third {
    @screen lg {
      width: theme('width.1/2');
    }

    @screen xl {
      width: theme('width.1/3');
    }
  }

  &--medium {
    width: 100%;

    @screen lg {
      width: theme('width.1/2');
    }
  }

  &--full {
    width: 100%;

    @screen xl {
      width: theme('width.1/2');
    }
  }
}

.label {
  margin-bottom: 0;
  font-size: theme('fontSize.base');

  &--animated {
    @extend %type-label;
    font-weight: theme('fontWeight.normal');
    color: theme('colors.gray.600');
    transition: 300ms ease-in;
    transition-property: color, transform, font-size;
    transform: translateY(50%);

    @media #{$mq-lg} {
      transform: translateY(80%);
    }
  }

  &--temas {
    @extend %type-label, %type-label-animated;
  }
}

.checkbox {
  margin-right: theme('margin.1');
  border-color: theme('colors.brand.naranja');
  transition: border-color 300ms ease-in;

  &:hover,
  &:focus,
  &:active {
    border-color: theme('colors.brand.azul');
  }

  &__link {
    color: theme('colors.blue.400');
    text-decoration: none;
    transition: 200ms ease-in;

    &:hover {
      color: theme('colors.text');
    }

    &--white {
      &:hover {
        color: theme('colors.grayLight');
      }
    }
  }
}

.select {
  height: theme('height.6');
  background-color: #000;

  &:focus {
    outline: none;
  }
}

.input,
.select,
.textarea {
  width: theme('width.full');
  font-weight: theme('fontWeight.bold');
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid theme('colors.brand.naranja');
  border-radius: 0;
  box-shadow: none;

  &--big {
    height: theme('height.6');
  }

  // Mantiene estos estilos cunado hay texto en el input o en estado focus
  &:focus,
  &--is-active {
    + .label--animated {
      @extend %type-label-animated;
    }
  }
}

.textarea {
  height: theme('height.20');
  resize: none;

  @media #{$mq-lg} {
    height: theme('height.24');
  }
}
</style>

<docs>
  Este formulario es muy configurable y no suele ser necesario tener más de uno

  ##  Examples

  Usando las opciones por defecto

  ```jsx
  <form-contact-basic/>
  ```

  Configurando la hoja de envío

  ```jsx
  <form-contact-basic sheet-destiny="Demo de componente"/>
  ```

</docs>
