<template>
  <div class="gallery w-full">
    <figure
      v-for="(img, index) in images"
      :key="img.src"
      class="block picture-thumb min-h-4 p-1"
      tabindex="0"
      @click="openModal(index)"
    >
      <image-responsive
        :src="'/files/images' + img.src"
        :alt="img.alt"
        v-bind="$attrs"
        image-classes="w-full h-full absolute inset-0"
        class="w-full block relative aspect-ratio-4/3"
      />
    </figure>
    <transition name="modal">
      <div
        v-show="modalOpen"
        class="fixed inset-0 z-50 overflow-auto flex gallery__modal-bx"
        @click="modalOpen = false"
      >
        <div
          class="relative p-2 bg-white w-full m-auto flex-col flex gallery__modal"
        >
          <image-responsive
            :src="'/files/images' + images[selectedIndex].src"
            :alt="images[selectedIndex].alt"
            v-bind="$attrs"
            sizes="100vw"
            class="gallery__image"
          />
        </div>
        <button
          class="modal-close is-large"
          aria-label="close"
          @click="modalOpen = false"
        />
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'Gallery',
  props: {
    images: {
      /** @type {{new (): {src: string, alt: string}[]}} */
      type: Array,
      default: () => [
        {
          src: 'portafolio/single/By/ByMovil.jpg',
          alt: 'Movil',
        },
        {
          src: 'portafolio/single/By/ByWeb3.jpg',
          alt: 'Web',
        },
      ],
    },
  },
  data() {
    return {
      modalOpen: false,
      selectedIndex: 0,
    }
  },
  methods: {
    /** @param {number} i Index of image */
    openModal(i) {
      this.selectedIndex = i
      this.modalOpen = true
      this.$gtag.event('user-tracking', {
        event_label: document.title,
        event_category: 'Click en imagen de galería',
      })
    },
  },
}
</script>

<style lang="scss">
@import '~assets/styles/variables';

.gallery {
  display: flex;
  flex-wrap: wrap;

  .picture-thumb {
    position: relative;
    width: 100%;
    flex: 1 0 auto;
    cursor: pointer;

    @media #{$mq-md} {
      min-width: 50%;
      flex-basis: 50%;
    }
    @media #{$mq-lg} {
      min-width: 33%;
      flex-basis: 33%;
    }
    @media #{$mq-xl} {
      min-width: 25%;
      flex-basis: 25%;
    }

    img {
      box-shadow: theme('boxShadow.md');
      transition: transform ease-out 0.325s, box-shadow ease-in 0.42s;
      transform: scale(1);

      &:focus,
      &:hover {
        z-index: 2;
        box-shadow: theme('boxShadow.lg');
        transform: scale(1.1);
      }
    }
  }

  &__modal-bx {
    background: rgba($black, 0.8);
  }

  &__modal {
    min-width: 60vw;
    max-width: 90vw;
  }

  &__image {
    /* stylelint-disable-next-line selector-max-type */
    img {
      width: 100%;
      //height: calc(100vh - 4rem);
      height: auto;
      pointer-events: all;
      object-fit: cover;
    }
  }
}
</style>
