<template>
  <section
    :class="{ 'min-h-screen': minScreen, 'hero-generic--full': bgFull }"
    class="hero-generic"
  >
    <picture v-if="bgImage" class="hero-generic__background">
      <template v-if="srcset">
        <!-- sm -->
        <source media="(max-width: 640px)" :srcset="srcset.small" />
        <!-- lg -->
        <source media="(max-width: 1024px)" :srcset="srcset.medium" />
        <!-- lg en adelante -->
        <source media="(min-width: 1024px)" :srcset="srcset.large" />
      </template>
      <img
        :src="srcset ? srcset.medium : bgImage"
        class="object-cover w-full h-full"
        :alt="bgImageAlt"
      />
    </picture>

    <div class="hero-generic__body w-full">
      <div class="container">
        <div
          :class="['text-' + textColor, 'text-' + textAlign]"
          class="lg:w-4/5 mx-auto"
        >
          <h1
            class="font-bold h1"
            :class="[`text-${titleColor}`, 'text-' + titleAlign]"
            v-text="title"
          />
          <slot />
        </div>
      </div>
    </div>
    <div v-if="hasScrim" class="hero-generic__scrim"></div>
  </section>
</template>

<script>
const reg = /(.*)%(\.(?:png|jpg|gif|jpeg|svg|webp))$/gi
export default {
  name: 'HeroGeneric',
  props: {
    /**
     * El título del hero, se usara como `<h1>{{titulo}}</h1>`
     */
    title: {
      type: String,
      default: '',
    },
    /**
     * El color de texto del título, se aplica como `.text-<titleColor>`
     */
    titleColor: {
      type: String,
      default: '',
    },
    /**
     * La alineación del título, se aplica como `.text-<titleAlign>`
     */
    titleAlign: {
      type: String,
      default: 'center',
    },
    /**
     * El color del texto al cuerpo del contenido, se aplica como:
     * `.text-<textColor>`
     */
    textColor: {
      type: String,
      default: '',
    },
    /**
     * La alineación del texto al cuerpo del contenido, se aplica como:
     * `.text-<textAlign>`
     */
    textAlign: {
      type: String,
      default: 'center',
    },
    /**
     * Usar un color de fondo, se aplica como `.bg-<bgColor>`
     */
    bgColor: {
      type: String,
      default: '',
    },
    /**
     * Añade una imagen de fondo, formato requerido es:
     * `/ruta/completa/nombredelarchivo%.jpg`.
     * El `%` se debe incluir al pasar la ruta, ya que después es sustituido
     * por la extension de la computada `srcset`.
     */
    bgImage: {
      type: String,
      default: '',
    },
    /**
     * Coloca la imagen full en mobile y al 80% en desktop
     */
    bgFull: {
      type: Boolean,
      default: false,
    },
    /**
     * El texto alt de la imagen de fondo *no lo ignores*
     */
    bgImageAlt: {
      type: String,
      default: '',
    },
    /**
     * Usar el alto de la pantalla como tamaño mínimo
     */
    minScreen: {
      type: Boolean,
      default: false,
    },
    /**
     * Mostrar un fondo para aumentar el contraste del texto (scrim)
     */
    hasScrim: {
      type: Boolean,
      default: false,
    },
    /**
     * Intentar renderizar webp además del formato ya enviado por la prop.
     * Esto es debido a que se consideran imagenes en otros formatos que no son
     * convenientes en webp como svg o incluso en un futuro video
     */
    webp: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    // Regresa un objeto con tres valores: _sm, _md, _lg
    /** @returns {{small: string, medium: string, large: string, smallW: string, mediumW: string, largeW: string, } | null} */
    srcset() {
      if (!this.bgImage) {
        return null
      }

      /**
       * Genera dos grupos para la búsqueda de coincidencias.
       * En el primero se va a buscar todo en el archivo que coincida con el
       * `%`, es decir, la ruta que se pasa en `bgImage` debe tener la siguiente
       * forma: nombre%.extensión.
       * Lo `%` hace referencia a la coincidencia del valor de `reg` que está
       * buscando. Por eso la ruta debe tener el mismo símbolo que está después
       * del primer grupo `(.*)`.
       *
       * En el segundo grupo se va a busvar coincidencia con la extensión del
       *nombre del archivo.
       */

      // Busca si existe coincidencia en la ruta con lo que está en `reg`.
      const parts = this.bgImage.match(reg)
      if (!parts) {
        return null
      }

      /**
       * En la ruta del archivo se va a remplazar todo lo que contiene `reg`
       * por esta cadena de texto.
       * El texto que está como remplazo en la función, debe coincidir con
       * el mismo texto con el que se hayan nombrado las imagenes.
       */
      const small = this.bgImage.replace(reg, '$1_sm$2')
      const medium = this.bgImage.replace(reg, '$1_md$2')
      const large = this.bgImage.replace(reg, '$1_lg$2')
      const smallW = this.bgImage.replace(reg, '$1_sm.webp')
      const mediumW = this.bgImage.replace(reg, '$1_md.webp')
      const largeW = this.bgImage.replace(reg, '$1_lg.webp')
      return {
        small: `${small} 1x, ${small} 2x`,
        medium: `${medium} 1x, ${medium} 2x`,
        large: `${large} 1x, ${large} 2x`,
        smallW: `${smallW} 1x, ${smallW} 2x`,
        mediumW: `${mediumW} 1x, ${mediumW} 2x`,
        largeW: `${largeW} 1x, ${largeW} 2x`,
      }
    },
  },
}
</script>
