<template>
  <div class="relative" @mouseenter="initDisorted">
    <image-responsive
      :src="`/files/images/equipo/${image}`"
      :responsive="false"
      class="h-full"
      image-classes="block object-cover w-full h-full"
    />
    <div ref="canvasContainer" class="top-0 w-full h-full absolute" />
  </div>
</template>

<script>
import HoverDisort from '~/utils/hover-disort'
import displacementImage from '~/assets/images/displacement/12.jpg'

export default {
  name: 'ImageDisorted',
  props: {
    displacementImage: {
      type: String,
      default: displacementImage,
    },
    image: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      active: false,
      /** @type {HoverDisort|null} */
      animation: null,
      originalHeight: 0,
      originalWidth: 0,
      viewportWidth: 0,
      viewportHeight: 0,
      minWidth: 1050,
      minHeight: 750,
    }
  },
  computed: {
    /** @returns {boolean} */
    toSmall() {
      return (
        this.viewportWidth < this.minWidth ||
        this.viewportHeight < this.minHeight
      )
    },
  },
  mounted() {
    this.getViewport()
    document.addEventListener('resize', this.getViewport)
  },
  beforeDestroy() {
    document.removeEventListener('resize', this.getViewport)
    if (this.animation) {
      this.animation.destroy()
      this.animation = null
    }
  },
  methods: {
    getViewport() {
      this.viewportWidth = Math.max(
        document.documentElement.clientWidth,
        window.innerWidth || 0
      )
      this.viewportHeight = Math.max(
        document.documentElement.clientHeight,
        window.innerHeight || 0
      )
    },
    initDisorted() {
      if (
        this.active ||
        this.toSmall ||
        !(this.$refs.canvasContainer instanceof HTMLCanvasElement)
      )
        {return}
      this.active = true
      const parent = this.$refs.canvasContainer
      this.$nextTick(() => {
        this.animation = new HoverDisort({
          parent,
          image1: `/files/images/equipo/${this.image}`,
          image2: `/files/images/equipo/back/${this.image}`,
          displacementImage,
        })
      })
    },
  },
}
</script>
