<template>
  <a
    :href="link"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Enviar por whatsapp"
  >
    <slot />
  </a>
</template>

<script>
export default {
  name: 'LinkWhatsapp',
  props: {
    number: {
      type: [Number, String],
      default: 525572818789,
      required: true,
    },
    text: {
      type: String,
      default: '',
      required: false,
    },
  },
  data() {
    return {
      isMobile: false,
    }
  },
  computed: {
    /** @returns {string} */
    link() {
      const parsedText = encodeURI(this.text)
      if (this.isMobile) {
        return `https://wa.me/${this.number}?text=${parsedText}`
      }
      return `https://web.whatsapp.com/send?phone=${this.number}&text=${parsedText}`
    },
  },
  mounted() {
    this.isMobile = !!(
      navigator.maxTouchPoints || 'ontouchstart' in document.documentElement
    )
  },
}
</script>
