<template>
  <transition name="fade">
    <div v-if="loading" role="dialog" class="overlay">
      <div class="overlay__loader" />
    </div>
  </transition>
</template>

<script>
export default {
  name: 'LoadWheel',
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
