<template>
  <div class="marzipano" :class="elClasses">
    <!-- El container del panorama -->
    <div ref="pano" class="pano" />

    <!-- La cabezera de la sección -->
    <div class="title-bar">
      <h1 class="scene-name flex-grow" v-text="scene.data.name" />
      <div class="ml-auto md:ml-px flex">
        <button
          v-if="showRotateToggle"
          class="autorotate-toggle mx-1"
          :class="{ enabled: isAutoRotating }"
          title="Activar o desactivar rotación automática"
          @click.prevent="toggleAutorotate"
        >
          <fa-layers class="mp-icon">
            <fa-icon :icon="['fa', 'sync-alt']" />
            <fa-icon
              :icon="['fas', isAutoRotating ? 'play' : 'pause']"
              size="sm"
              :transform="'shrink-9' + (isAutoRotating ? ' right-1' : '')"
            />
          </fa-layers>
        </button>

        <button
          v-if="showFullscreenToggle"
          class="fullscreen-toggle mx-1"
          title="Activar o desactivar pantalla completa"
          :class="{ enabled: isFullscreen }"
          @click="toggleFullscreen"
        >
          <fa-icon
            class="mp-icon"
            :icon="[
              'fal',
              isFullscreen ? 'compress-arrows-alt' : 'expand-arrows-alt',
            ]"
          />
        </button>
        <button
          v-if="showSceneListToggle"
          class="scene-list-toggle mx-1"
          :class="{ enabled: showSceneList }"
          title="Mostrar u ocultar listado de escenas"
          @click="toggleSceneList"
        >
          <fa-icon
            :icon="[
              'fal',
              showSceneList ? 'arrow-alt-from-right' : 'arrow-alt-from-left',
            ]"
            class="mp-icon"
          />
        </button>
      </div>
    </div>
    <div ref="sceneList" class="scene-list" :class="{ enabled: showSceneList }">
      <ul class="scene-list__scenes">
        <li
          v-for="s in scenes"
          :key="s.data.id"
          class="scene-list__scene"
          :class="{ current: scene.data.id === s.data.id }"
        >
          <button
            class="scene-list__text"
            @click="
              () => {
                switchScene(s)
                showSceneList = false
              }
            "
            v-text="s.data.name"
          />
        </li>
      </ul>
    </div>

    <div
      class="absolute inset-x-0 bottom-0 hidden md:flex justify-center w-full"
    >
      <button
        ref="viewUp"
        class="view-control-button"
        title="Mover cámara hacia arriba"
      >
        <fa-icon size="lg" :icon="['fa', 'angle-up']" />
      </button>
      <button
        ref="viewDown"
        title="Mover cámara hacia abajo"
        class="view-control-button"
      >
        <fa-icon size="lg" :icon="['fa', 'angle-down']" />
      </button>
      <button
        ref="viewLeft"
        title="Mover cámara hacia izquierda"
        class="view-control-button"
      >
        <fa-icon size="lg" :icon="['fa', 'angle-left']" />
      </button>
      <button
        ref="viewRight"
        title="Mover cámara hacia derecha"
        class="view-control-button"
      >
        <fa-icon size="lg" :icon="['fa', 'angle-right']" />
      </button>
      <button ref="viewIn" title="Aumentar zoom" class="view-control-button">
        <fa-icon :icon="['fa', 'plus']" />
      </button>
      <button ref="viewOut" title="Disminuir zoom" class="view-control-button">
        <fa-icon :icon="['fa', 'minus']" />
      </button>
    </div>
    <transition name="fade">
      <div
        v-if="activeInfoHotspot"
        class="md:hidden absolute z-9 flex inset-0 px-4 py-8"
        role="dialog"
        @click.self.stop="activeInfoHotspot = null"
      >
        <div
          class="relative bg-white w-full max-w-md m-auto flex-col flex max-h-full overflow-auto"
        >
          <span
            class="absolute top-0 right-0 p-2"
            @click.stop="activeInfoHotspot = null"
          >
            <!-- eslint-disable max-len -->
            <svg
              class="h-4 w-4 fill-current text-white hover:text-grey-600"
              role="button"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <title>Ocultar descripción</title>
              <!-- prettier-ignore -->
              <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
            </svg>
          </span>
          <header
            class="leading-h5 px-2 w-full font-bold text-h6 mb-2 bg-brand-base text-white"
          >
            <h1 v-text="activeInfoHotspot.title" />
          </header>
          <div class="content p-4" v-text="activeInfoHotspot.text" />
          <a
            :href="activeInfoHotspot.image"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              class="w-full"
              :alt="activeInfoHotspot.title"
              :src="activeInfoHotspot.image"
            />
          </a>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { FontAwesomeLayers } from '@fortawesome/vue-fontawesome'
/* eslint-disable global-require */
const screenfull = require('screenfull')

const iconInfo = require('~/assets/images/info.png')
const iconClose = require('~/assets/images/close.png')
const iconLink = require('~/assets/images/link.png')
/** @type {import('types/Marzipano').Marzipano} */
let Marzipano
if (process.client) {
  Marzipano = require('marzipano')
}

/** @param {Event} event */
const eventhandler = (event) => event.stopPropagation()

/**
 * Prevent touch and scroll events from reaching the parent element.
 *
 * @param {HTMLDivElement} element
 */
export function stopTouchAndScrollEventPropagation(element) {
  const eventList = [
    'touchstart',
    'touchmove',
    'touchend',
    'touchcancel',
    'wheel',
    'mousewheel',
  ]
  for (const eventName of eventList) {
    element.addEventListener(eventName, eventhandler)
  }
}

/**
 * Wrapper para marzipano
 *
 * @see https://www.marzipano.net/reference/
 */

export default {
  name: 'MarziPano',
  components: {
    FaLayers: FontAwesomeLayers,
  },
  props: {
    tourName: {
      type: String,
      default: 'Dinamo',
    },
    tilesPath: {
      type: String,
      default: '/tiles',
    },
    tourScenes: {
      /** @type {{(): import('types/vue-marzipano').VueMarzipano.SceneData[] }} */
      type: Array,
      default: () => [],
      required: true,
    },
    mouseViewMode: {
      type: String,
      default: 'drag',
    },
    autorotateEnabled: {
      type: Boolean,
      default: true,
    },
    fullscreenButton: {
      type: Boolean,
      default: true,
    },
    viewControlButtons: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      /**  @type {Marzipano.Viewer|null} */
      viewer: null,
      /** @type {import('types/vue-marzipano').VueMarzipano.Scene | null} */
      scene: null,
      originalVP: '',
      isAutoRotating: false,
      isFullscreen: false,
      showSceneList: false,
      showRotateToggle: true,
      showFullscreenToggle: true,
      showSceneListToggle: true,
      /** @type {import('../types/vue-marzipano').VueMarzipano.HotspotInfo | null} */
      activeInfoHotspot: null,
      /** @type {HTMLMetaElement|null} */
      metaVP: null,
      /** @type {import('types/vue-marzipano').VueMarzipano.Scene[]} */
      scenes: [],
      velocity: 0.7,
      friction: 3,
      autorotate: Marzipano
        ? Marzipano.autorotate({
            yawSpeed: 0.03,
            targetPitch: 0,
            targetFov: Math.PI / 2,
          })
        : () => null,
      controls: null,
      elClasses: {
        desktop: false,
        mobile: false,
        touch: false,
        'no-touch': false,
        'view-control-buttons': true,
        'fullscreen-enabled': false,
      },
    }
  },
  created() {
    if (process.client) {
      // Define los requerimientos de marzipano para el viewport
      this.metaVP = document.querySelector('meta[name="viewport"]')
      this.originalVP = this.metaVP?.content || ''
      if (this.metaVP) {
        this.metaVP.content =
          'target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui'
      }
    }
  },
  mounted() {
    if (process.client) {
      this.initPano()
    }
  },
  beforeDestroy() {
    if (process.client) {
      if (this.metaVP) {
        this.metaVP.content = this.originalVP
      }
    }
  },
  methods: {
    /**
     * Alterna entre mostrar y ocultar la lista de escenas
     */
    toggleSceneList() {
      this.showSceneList = !this.showSceneList
    },
    /**
     * Encuentra una escena ya iniciada por su id
     *
     * @param {string} id La id por la cual buscar
     * @returns {import('types/vue-marzipano').VueMarzipano.Scene|null} La escena encontrada
     */
    findSceneById(id) {
      return this.scenes.find((scene) => scene.data.id === id) || null
    },
    /**
     * Alterna el comportamiento de autorotate
     */
    toggleAutorotate() {
      if (this.isAutoRotating) {
        this.stopAutorotate()
        this.isAutoRotating = false
      } else {
        this.isAutoRotating = true
        this.startAutorotate()
      }
    },
    /**
     * Detiene el comportamiento de autorotate
     */
    stopAutorotate() {
      this.viewer?.stopMovement()
      this.viewer?.setIdleMovement(Infinity)
    },
    /**
     * Empieza el comportamiento de autorotate
     */
    startAutorotate() {
      if (!this.isAutoRotating) {
        return
      }
      this.viewer?.startMovement(this.autorotate)
      this.viewer?.setIdleMovement(3000, this.autorotate)
    },
    /**
     * Cambia a la escena indicada.
     *
     * @param {import('../types/vue-marzipano').VueMarzipano.Scene} scene La escena a la cual cambiar
     */
    switchScene(scene) {
      this.scene = scene
      this.stopAutorotate()
      scene.view.setParameters(scene.data.initialViewParameters)
      scene.scene.switchTo()
      this.startAutorotate()
      if (this.elClasses.mobile) {
        this.showSceneList = false
      }
    },
    /**
     * Crea el elemento para el hotspot de información
     * TODO: Estilizar esto con los datos de las imagenes
     *
     * @param {import('../types/vue-marzipano').VueMarzipano.HotspotInfo} hotspot La información del hotspot
     * @returns {HTMLDivElement} EL wrapper para el hotspot
     */
    createInfoHotspotElement(hotspot) {
      // Create wrapper element to hold icon and tooltip.
      const wrapper = document.createElement('div')
      wrapper.classList.add('hotspot')
      wrapper.classList.add('info-hotspot')

      // Create hotspot/tooltip header.
      const header = document.createElement('div')
      header.classList.add('info-hotspot__header')

      // Create image element.
      const iconWrapper = document.createElement('div')
      iconWrapper.classList.add('info-hotspot__icon-wrapper')
      const icon = document.createElement('img')
      icon.src = iconInfo
      icon.classList.add('info-hotspot__icon')
      iconWrapper.append(icon)

      // Create title element.
      const titleWrapper = document.createElement('div')
      titleWrapper.classList.add('info-hotspot__title-wrapper')
      const title = document.createElement('div')
      title.classList.add('info-hotspot__title')
      title.innerHTML = hotspot.title
      titleWrapper.append(title)

      // Create close element.
      const closeWrapper = document.createElement('div')
      closeWrapper.classList.add('info-hotspot__close-wrapper')
      const closeIcon = document.createElement('img')
      closeIcon.src = iconClose
      closeIcon.classList.add('info-hotspot__close-icon')
      closeWrapper.append(closeIcon)

      // Construct header element.
      header.append(iconWrapper)
      header.append(titleWrapper)
      header.append(closeWrapper)

      // Create text element.
      const text = document.createElement('div')
      text.classList.add('info-hotspot__text')
      text.innerHTML = hotspot.text

      // Place header and text into wrapper element.
      wrapper.append(header)
      wrapper.append(text)

      if (hotspot.image) {
        // Create image element.
        const img = document.createElement('img')
        img.classList.add('info-hotspot__img')
        img.src = hotspot.image
        img.addEventListener('click', () => {
          window.open(hotspot.image)
        })
        wrapper.append(img)
      }

      const toggle = () => {
        wrapper.classList.toggle('visible')
        this.activeInfoHotspot =
          this.activeInfoHotspot === null ? hotspot : null
      }

      // Show content when hotspot is clicked.
      wrapper
        .querySelector('.info-hotspot__header')
        .addEventListener('click', toggle)

      // Prevent touch and scroll events from reaching the parent element.
      // This prevents the view control logic from interfering with the hotspot.
      stopTouchAndScrollEventPropagation(wrapper)

      return wrapper
    },
    /**
     * Crea un elemento HTML para el hotspot que enlaza a otra vista
     *
     * @param {import('../types/vue-marzipano').VueMarzipano.HotspotLink} hotspot Los datos del hotspot
     * @returns {HTMLDivElement} El wrapper para el hotspot
     */
    createLinkHotspotElement(hotspot) {
      // Create wrapper element to hold icon and tooltip.
      const wrapper = document.createElement('div')
      wrapper.classList.add('hotspot')
      wrapper.classList.add('link-hotspot')

      // Create image element.
      const icon = document.createElement('img')
      icon.src = iconLink
      icon.classList.add('link-hotspot__icon')

      // Set rotation transform.
      const transformProperties = [
        '-ms-transform',
        '-webkit-transform',
        'transform',
      ]
      for (const property of transformProperties) {
        icon.style[property] = `rotate(${hotspot.rotation}rad)`
      }

      // Add click event handler.
      wrapper.addEventListener('click', () => {
        const scene = this.findSceneById(hotspot.target)
        if (scene) {
          this.switchScene(scene)
        }
      })

      // Prevent touch and scroll events from reaching the parent element.
      // This prevents the view control logic from interfering with the hotspot.
      stopTouchAndScrollEventPropagation(wrapper)

      // Create tooltip element.
      const tooltip = document.createElement('span')
      tooltip.classList.add('hotspot-tooltip')
      tooltip.classList.add('link-hotspot__tooltip')
      tooltip.innerHTML =
        this.findSceneDataById(hotspot.target)?.name || 'Escena sin nombre'

      wrapper.append(icon)
      wrapper.append(tooltip)

      return wrapper
    },
    /**
     * Busca los datos de la escena usando su id.
     *
     * @param {string} id - La id a buscar.
     * @returns {import('../types/vue-marzipano').VueMarzipano.SceneData|null} - La escena o nulo.
     */
    findSceneDataById(id) {
      return this.tourScenes.find((scene) => scene.id === id) || null
    },
    /**
     * Crea las escenas con base en la información traida con js
     */
    createScenes() {
      this.scenes = this.tourScenes.map((sceneData) => {
        const source = Marzipano.ImageUrlSource.fromString(
          `${this.tilesPath}/${sceneData.id}/{z}/{f}/{y}/{x}.jpg`,
          { cubeMapPreviewUrl: `${this.tilesPath}/${sceneData.id}/preview.jpg` }
        )
        const geometry = new Marzipano.CubeGeometry(sceneData.levels)

        const limiter = Marzipano.RectilinearView.limit.traditional(
          sceneData.faceSize,
          (100 * Math.PI) / 180,
          (120 * Math.PI) / 180
        )
        const view = new Marzipano.RectilinearView(
          sceneData.initialViewParameters,
          limiter
        )

        const scene = this.viewer.createScene({
          source,
          geometry,
          view,
          pinFirstLevel: true,
        })

        // Create link hotspots.
        sceneData.linkHotspots.forEach((hotspot) => {
          const element = this.createLinkHotspotElement(hotspot)
          scene
            .hotspotContainer()
            .createHotspot(element, { yaw: hotspot.yaw, pitch: hotspot.pitch })
        })

        // Create info hotspots.
        sceneData.infoHotspots.forEach((hotspot) => {
          const element = this.createInfoHotspotElement(hotspot)
          scene
            .hotspotContainer()
            .createHotspot(element, { yaw: hotspot.yaw, pitch: hotspot.pitch })
        })

        return {
          data: sceneData,
          scene,
          view,
        }
      })
    },
    /**
     * Detecta el tamaño del viewport con matchMedia
     */
    detectViewport() {
      if (window.matchMedia) {
        const mql = matchMedia('(max-width: 500px), (max-height: 500px)')
        const setMode = () => {
          if (mql.matches) {
            this.elClasses.desktop = false
            this.elClasses.mobile = true
          } else {
            this.elClasses.desktop = true
            this.elClasses.mobile = false
          }
        }
        setMode()
        mql.addListener(setMode)
      } else {
        this.elClasses.desktop = true
      }
    },
    /**
     * Detección de mobiles a través del evento touchstart
     */
    detectTouch() {
      // Detect whether we are on a touch device.
      this.elClasses['no-touch'] = true
      window.addEventListener('touchstart', () => {
        this.elClasses['no-touch'] = false
        this.elClasses.touch = true
      })
    },
    /**
     * Empieza funcionalidad 360 con marzipano
     */
    initPano() {
      // Detectamos tamaños de viewport
      // this.detectViewport()
      // Detectamos indicios de móviles
      this.detectTouch()
      // Crea el canvas donde se mostrará el tour
      this.viewer = new Marzipano.Viewer(this.$refs.pano, {
        controls: {
          mouseViewMode: 'drag', // drag|qtvr
        },
      })
      // Creamos las escenas desde los datos recibidos en el js
      this.createScenes()
      // Activamos los controles
      this.addControls()
      this.enableFullscreen()
      // Empezamos con escena inicial
      this.switchScene(this.scenes[0])
    },
    enableFullscreen() {
      this.showFullscreenToggle = screenfull.enabled
      if (screenfull.enabled) {
        this.elClasses['fullscreen-enabled'] = true
        screenfull.on('change', () => {
          this.isFullscreen = screenfull.isFullscreen
        })
      } else {
        this.elClasses['fullscreen-enabled'] = false
      }
    },
    toggleFullscreen() {
      screenfull.toggle()
    },
    /**
     * Registra los controles con marzipano usando refs
     */
    addControls() {
      this.controls = this.viewer.controls()
      this.controls.registerMethod(
        'upElement',
        new Marzipano.ElementPressControlMethod(
          this.$refs.viewUp,
          'y',
          -this.velocity,
          this.friction
        ),
        true
      )
      this.controls.registerMethod(
        'downElement',
        new Marzipano.ElementPressControlMethod(
          this.$refs.viewDown,
          'y',
          this.velocity,
          this.friction
        ),
        true
      )
      this.controls.registerMethod(
        'leftElement',
        new Marzipano.ElementPressControlMethod(
          this.$refs.viewLeft,
          'x',
          -this.velocity,
          this.friction
        ),
        true
      )
      this.controls.registerMethod(
        'rightElement',
        new Marzipano.ElementPressControlMethod(
          this.$refs.viewRight,
          'x',
          this.velocity,
          this.friction
        ),
        true
      )
      this.controls.registerMethod(
        'inElement',
        new Marzipano.ElementPressControlMethod(
          this.$refs.viewIn,
          'zoom',
          -this.velocity,
          this.friction
        ),
        true
      )
      this.controls.registerMethod(
        'outElement',
        new Marzipano.ElementPressControlMethod(
          this.$refs.viewOut,
          'zoom',
          this.velocity,
          this.friction
        ),
        true
      )
    },
  },
}
</script>

<style lang="scss">
/* stylelint-disable at-rule-no-vendor-prefix */
/* stylelint-disable property-no-vendor-prefix */

@-ms-viewport {
  width: device-width;
}

.interface {
  user-select: none;
  opacity: 0.99;
}

/* stylelint-enable at-rule-no-vendor-prefix */
/* stylelint-enable property-no-vendor-prefix */

.marzipano {
  position: relative;
  height: 100vh;
  overflow: hidden;

  button {
    cursor: pointer;
  }
}

.pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title-bar {
  position: fixed;
  top: theme('spacings.12');
  right: 0;
  left: auto;
  z-index: 4;
  display: flex;
  align-items: center;
  width: 100%;
  height: theme('height.8');
  color: $gray-300;
  text-align: left;
  justify-content: space-between;
  background-color: rgba($brand-azul, 0.7);

  button {
    display: inline-block;
  }

  @media #{$mq-md} {
    width: auto;
    min-width: 300px;
    height: theme('height.6');
  }
}

.mp-icon {
  font-size: theme('fontSize.h5');
  @media #{$mq-md} {
    font-size: theme('fontSize.h6');
  }
}

.scene-name {
  display: inline-block;
  margin: 0 theme('padding.2');
  overflow: hidden;
  font-family: theme('fontFamily.title');
  text-align: left;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  user-select: text;
}

.scene-list {
  $offset-top: 125px;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  max-height: calc(100% - (#{$offset-top} + 28px));
  margin-top: calc(#{$offset-top} + 28px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba($brand-azul, 0.7);
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);

  &.enabled {
    transform: translateX(-100%);
  }

  &__scenes {
    height: 100%;
  }

  &__scene {
    display: flex;
    align-items: center;
    width: 100%;
    height: theme('spacings.6');
    color: $gray-300;

    &:hover,
    &.current {
      color: #fff;
      background-color: $brand-naranja;
    }
  }

  &__text {
    width: 100%;
    height: theme('spacings.5');
    padding: 0 theme('spacings.2');
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media #{$mq-md} {
    right: -300px;
    width: 300px;
    height: auto;
    margin-top: $offset-top;

    &.enabled {
      transform: translateX(-300px);
    }

    &__scenes {
      height: auto;
    }

    &__scene {
      height: auto;
    }
  }
}

/* Tooltips */

.hotspot-tooltip {
  position: absolute;
  top: 14px; // ( 60 - (16 + 2*8) ) / 2
  left: 100%;
  max-width: 300px;
  padding: theme('padding.1') theme('padding.2');
  margin-left: theme('margin.1');
  overflow: hidden;
  font-size: theme('fontSize.base');
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;

  pointer-events: none; // Prevent tooltip from triggering
  cursor: pointer;
  background-color: rgba($gray-700, 0.6);
  border-radius: theme('borderRadius.default');
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  transform: translateX(theme('margin.-1'));
}

/* Link hotspot */

.link-hotspot {
  top: 22px; // ( 70 - (16 + 2*8) ) / 2
  width: theme('spacings.12');
  height: theme('spacings.12');

  margin-top: theme('margin.-5');
  margin-left: theme('margin.-5');
  opacity: 0.8;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }

  &__icon {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  @media #{$mq-md} {
    top: 0;
    width: theme('spacings.10');
    height: theme('spacings.10');

    &:hover & {
      &__tooltip {
        /* Prevent tooltip from triggering */
        pointer-events: all;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

.info-hotspot {
  $icon-size: theme('spacings.6');
  $icon-size-mobile: theme('spacings.8');

  $active-width: 340px;
  $header-active-width: $active-width - 36px; // spacings.6
  $height: 200px;

  color: #fff;
  opacity: 0.9;
  transition: opacity 0.2s;

  a {
    text-decoration: underline;
  }

  &__icon-wrapper {
    width: $icon-size-mobile;
    height: $icon-size-mobile;
    @media #{$mq-md} {
      width: $icon-size;
      height: $icon-size;
    }
  }

  &__header {
    width: $icon-size-mobile;
    height: $icon-size-mobile;
    cursor: pointer;
    background-color: $brand-naranja;
    border-radius: $icon-size-mobile;
    // prettier-ignore
    transition:
      width 0.3s ease-in-out 0.5s,
      border-radius 0.3s ease-in-out 0.5s;

    @media #{$mq-md} {
      width: $icon-size;
      height: $icon-size;
      border-radius: $icon-size;
    }
  }

  &__title-wrapper {
    position: absolute;
    top: 0;
    left: $icon-size;
    width: 0;
    height: $icon-size;
    padding: 0;
    overflow: hidden;
    line-height: 35px;
    vertical-align: middle;
    transition: width 0s 0.4s, padding 0s 0.4s;
  }

  &__text {
    position: absolute;
    top: theme('spacings.6');
    left: 0;
    width: $active-width;
    height: auto;
    max-height: $height;
    padding: 10px;
    overflow-y: auto;
    visibility: hidden;
    user-select: text;
    background-color: $brand-naranja;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: transform 0.3s, visibility 0s 0.3s;

    /* rotate(90deg) causes transition flicker on Firefox 58 */
    transform: perspective($height) rotateX(-89.999deg);
    transform-origin: 50% 0 0;
  }

  &__img {
    position: absolute;
    top: 0;
    left: calc(-100% - 0.3rem);

    object-fit: contain;
    object-position: top right;
    cursor: pointer;
    visibility: hidden;
    box-shadow: theme('boxShadow.sm');
    transition: transform 0.3s, visibility 0s 0.3s, box-shadow 0.3s;
    transform: perspective($height) rotateX(-89.999deg);
    transform-origin: 50% 0 0;

    &:hover {
      box-shadow: theme('boxShadow.2xl');
    }
  }

  &__text,
  &__img {
    display: none;
    @media #{$mq-md} {
      display: block;
    }
  }

  &__title {
    display: inline-block;
    vertical-align: middle;
    user-select: text;
  }

  &__close-wrapper {
    position: absolute;
    top: 2px;
    left: $active-width;
    width: $icon-size;
    height: $icon-size;
    visibility: hidden;
    background-color: $brand-naranja;
    border-top-right-radius: 5px;
    transition: transform 0.3s 0.3s, visibility 0s 0.6s;
    transform: perspective($height) rotateY(90deg);
    transform-origin: 0 50% 0;

    &::before {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      content: '';
    }
  }

  &__close-icon {
    display: inline-block;
    width: 70%;
    height: 70%;
    margin: 15%;
  }

  &__icon {
    width: 90%;
    height: 90%;
    margin: 5%;
  }

  .no-touch & {
    &:hover {
      opacity: 1;
    }

    &__header:hover {
      width: $active-width;
      border-radius: 5px;
      transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    &__header:hover .info-hotspot__title-wrapper {
      width: $active-width;
      padding: 0 5px;
      transition: width 0s 0.4s, padding 0s 0.4s;
    }
  }

  &.visible {
    opacity: 1;
  }

  &.visible & {
    &__text,
    &__img {
      visibility: visible;
      transition: transform 0.3s 0.3s, visibility 0s 0s, box-shadow 0.3s;
      transform: perspective($height) rotateX(0deg);
    }

    &__header {
      width: $active-width;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    }

    &__close-wrapper {
      visibility: visible;
      transition: transform 0.3s, visibility 0s 0s;
      transform: perspective($height) rotateY(0deg);
    }

    &__title-wrapper {
      width: $active-width;
      padding: 0 5px;
      transition: width 0s 0.4s, padding 0s 0.4s;
    }
  }

  &__modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11000 !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 1.2em;
    color: #fff;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0.5s, visibility 0s 0.7s;

    &.visible {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s ease-in-out, visibility 0s 0s;
    }
  }
}

/* View control buttons */

.view-control-button {
  width: theme('spacings.6');
  height: theme('spacings.6');
  font-size: theme('fontSize.h6');
  color: $gray-300;
  background-color: rgba($brand-azul, 0.7);
}
</style>
