<template>
  <div class="modal-contact">
    <!-- BOTON PARA LA MODAL -->
    <button

      class="btn btn--orange-modal btn--circle modal-contact__button  lg:inline-flex"
      :class="viewButton ? 'modal-contact__button--view' : ''"
      @click="toggleModal()"
    >
      <fa-icon class="modal-contact__icon" :icon="['fa', 'envelope']" />
      <span class="modal-contact__textModal text-sm" :class="{ 'is-visible': isVisible }"
      >{{$t('cotiza.boton')}}</span>
    </button>

    <!-- FORMULARIO -->
    <div class="modal-contact__wrapp" :class="{ 'modal-contact__wrapp--is-active': isActiveModal }">
      <button
        aria-label="Cose modal"
        class="absolute top-0 right-0 p-2 md:p-4"
        @click="toggleModal()"
      >
        <fa-icon class="text-h6" :icon="['fa', 'times']" />
      </button>
      <div class="mx-auto md:w-5/6 lg:w-4/5 max-h-full overflow-auto py-4">
        <p
          class="modal-contact__title"
          :class="{ 'modal-contact__title--is-show': isActiveModal }"
        >{{$t('cotiza.title')}}</p>

        <form-contact-basic
          class="modal-contact__form pt-4"
          :class="{ 'modal-contact__form--is-show': isActiveModal }"
        />
      </div>
    </div>
  </div>
</template>

<script>
import FormContactBasic from '~/components/FormContactBasic.vue'

import { PASSIVE_EVENT_OPTIONS } from '~/utils/index'

export default {
  name: 'ModalContact',
  components: {
    FormContactBasic,
  },
  data() {
    return {
      isActiveModal: false,
      isVisible: false,
      scrollY: 0,
      viewButton: false,
      sizeScreen: 0,
    }
  },
  mounted() {
    this.showTextModal()
    this.viewModal()
  },

  beforeDestroy() {
    this.enableScroll()
    window.removeEventListener('resize', this.newSizeScreen)
    window.removeEventListener(
      'scroll',
      this.toggleButton,
      PASSIVE_EVENT_OPTIONS
    )
  },
  
  methods: {
    showTextModal() {
      setInterval(() => {
        if (!this.isVisible) {
          this.isVisible = true
        }
      }, 1200)
    },

    toggleModal() {
      this.isActiveModal = !this.isActiveModal

      if (this.isActiveModal) {
        this.$gtag?.event('Open Modal Cta', {
          event_category: 'engagement',
          event_label: `Modal Cta en ${this.$route.path}`,
        })
        this.disableScroll()
      } else {
        this.$gtag?.event('Close Modal Cta', {
          event_category: 'engagement',
          event_label: `Modal Cta en ${this.$route.path}`,
        })
        this.enableScroll()
      }
    },

    disableScroll() {
      this.scrollY = window.scrollY
      document.documentElement.style.scrollBehavior = 'auto'
      setTimeout(() => {
        // Cuando termina la animación aplicamos los estilos
        document.body.style.position = 'fixed'
        document.body.style.top = `-${this.scrollY}px`
        // El delay es el mismo que dura la animacion de __wrapp--is-active
      }, 400)
    },

    enableScroll() {
      const { body } = document
      body.style.position = ''
      body.style.top = ''
      window.scrollTo(0, this.scrollY)
      document.documentElement.style.scrollBehavior = 'smooth'
    },

    // Muestra la modal a cierta altura de la pantalla
    viewModal() {
      this.sizeScreen = window.innerHeight

      window.addEventListener('resize', this.newSizeScreen)

      window.addEventListener(
        'scroll',
        this.toggleButton,
        PASSIVE_EVENT_OPTIONS
      )
    },
    newSizeScreen() {
      this.sizeScreen = window.innerHeight
    },
    toggleButton() {
      if (window.scrollY >= this.sizeScreen * 1.1) {
        this.viewButton = true
      } else {
        this.viewButton = true
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.modal-contact {
  &__icon {
    font-size: theme('fontSize.base');
    transition: color 320ms ease-out;

    @screen md {
      font-size: theme('fontSize.h6');
    }
  }

  // Animacion para el contenedor del formulario
  &__wrapp {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: auto;
    flex-direction: column;
    background: theme('colors.gray.300');
    transition: transform 400ms 450ms ease-in;
    transform: translateX(-2.5%) scale(0);
    transform-origin: right;

    @screen md {
      transform: translateX(-3%) scale(0);
    }

    &--is-active {
      transition: transform 400ms ease-in;
      transform: translateX(0) scale(1);
    }
  }

  // Copy en formulario
  &__title {
    width: 100%;
    padding-right: theme('padding.2');
    padding-left: theme('padding.2');
    font-size: theme('fontSize.h6');
    font-weight: bold;
    line-height: theme('lineHeight.h6');
    color: theme('colors.brand.naranja');
    text-align: center;
    opacity: 0;
    transition: opacity 350ms ease-in;

    @screen md {
      margin-bottom: theme('padding.4');
      font-size: theme('fontSize.h5');
      line-height: theme('lineHeight.h5');
    }
    @screen lg {
      font-size: theme('fontSize.h4');
    }
    @screen xl {
      font-size: theme('fontSize.h3');
      line-height: theme('lineHeight.h4');
    }

    &--is-show {
      opacity: 1;
      transition: opacity 350ms 450ms ease-in;
    }
  }

  // Animacion para el formulario
  &__form {
    width: 100%;
    opacity: 0;
    transition: opacity 350ms ease-in;

    &--is-show {
      opacity: 1;
      transition: opacity 350ms 450ms ease-in;
    }
  }

  &__button {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 500;
    margin: theme('margin.3');
    font-size: theme('fontSize.h4');
    box-shadow: theme('boxShadow.lg');
    transition: transform 300ms ease-out;
    transform: translate(200px, -50%);

    @include lg {
      font-size: theme('fontSize.h6');
    }

    &--view {
      transform: translate(0, -50%);
    }
  }

  &__textModal {
    position: absolute;
    top: 50%;
    right: 100%;
    padding-right: theme('padding.2');
    padding-left: theme('padding.2');
    margin-right: 0.7em;
    color: theme('colors.gray.400');
    background: theme('colors.brand.azul');
    border-radius: theme('borderRadius.default');
    box-shadow: theme('boxShadow.lg');
    opacity: 0;
    transition: 320ms ease-out;
    transition-property: color, opacity, background;
    transform: translateY(-50%);

    // Hace que el texto de "Contacto" no entre de golpe al cargar la pagina
    &.is-visible {
      opacity: 1;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 100%;
      width: 0.7em;
      height: 0.7em;
      content: '';
      background: inherit;
      transition: color 320ms ease-out;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
</style>
