<template>
  <div
    v-if="active"
    class="modal-slider px-3"
    :class="`modal-slider--theme-${theme}`"
    :style="[{ 'background-position': bgPosition }, screenDetecter]"
  >
    <div class="modal-slider__body container">
      <hgroup class="lg:w3/5">
        <h2 class="h2 modal-slider__title">{{ name }}</h2>
        <h3 class="h3 sm:mb-18">{{ position }}</h3>
      </hgroup>

      <div v-if="textArray.length" class="modal-slider__text content">
        <p v-for="(txt, i) in textArray" :key="i">{{ txt }}</p>
        <p class="font-bold">{{ skills }}</p>
      </div>

      <!-- botones para cerrar la modal -->
      <button
        aria-label="Boton cerrar"
        class="absolute top-0 right-0 p-1 -mt-12"
        @click="$emit('close')"
      >
        <fa-icon class="text-h2 md:text-h1" :icon="['fa', 'times']" />
      </button>

      <!-- botones de next y prev -->
      <div class="modal-slider__btn-slide">
        <button
          aria-label="Button prev"
          class="relative z-20 modal-slider__btn-slide--prev"
          @click="prevModal()"
        >
          <img src="~/assets/images/icon-page-right.svg" alt="Btn prev" />
        </button>

        <button
          aria-label="Button next"
          class="relative z-20"
          @click="nextModal()"
        >
          <img src="~/assets/images/icon-page-right.svg" alt="Btn next" />
        </button>
      </div>
    </div>

    <!-- Seccion de la imagen -->
    <div
      class="modal-slider__favourite-things relative z-10 overflow-hidden mb-6 md:mb-12 pb-4 h-38 md:h-64 lg:h-70"
    >
      <div
        class="modal-slider__hero-title"
        :class="`modal-slider__hero-title--${theme}`"
      >
        <p class="modal-slider__text-shadow">We are</p>
        <p class="modal-slider__text-shadow ml-1/4">what</p>
        <p class="modal-slider__text-shadow ml-1/2">we are</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ModalSlider',
  props: {
    // Estado de la modal, si esta como true la modal se abre
    active: {
      type: Boolean,
      default: false,
    },
    // Nombre del integrante del equipo
    name: {
      type: String,
      default: '',
    },
    // Cargo que desempeña el integrante del equipo
    position: {
      type: String,
      default: '',
    },
    // Imagen que va de fondo de fantalla
    imageBackground: {
      type: Object,
      default: () => ({}),
    },
    // Color claro u obscuro del screem y texto de la modal
    theme: {
      type: String,
      default: '',
    },
    // La posicion a la que se va acomodar la imagen de fonto de pantalla
    bgPosition: {
      type: String,
      default: '50% 50%',
    },
    // Descripción de las magenes de los trabajos de cada integrante del equipo
    altImage: {
      type: String,
      default: '',
    },
    skills: {
      type: String,
      default: '',
    },
    description: {
      type: [String, Array],
      default: '',
    },
  },
  computed: {
    /** @returns {string[]} */
    textArray() {
      if (Array.isArray(this.description)) {
        return this.description
      }
      if (this.description) {
        return [this.description]
      }
      return []
    },

    /**
     * Retorna dos variables de css para usarlas como background-image
     *
     * @returns {{'--background': string}} CSS background-image.
     */
    screenDetecter() {
      return {
        '--desktop': `url('/files/images/equipo/background/${this.imageBackground.desktop}')`,
        '--mobile': `url('/files/images/equipo/background/${this.imageBackground.mobile}')`,
      }
    },
  },
  methods: {
    prevModal() {
      this.$emit('prev')
      this.objectScrollTop()
    },
    nextModal() {
      this.$emit('next')
      this.objectScrollTop()
    },
    objectScrollTop() {
      const modal = document.querySelector('.modal-slider')

      if (modal) {
        modal.scrollTop = 0
      }
    },
  },
}
</script>
