<template>
  <div
    v-observe-visibility="(startAnimation) => viewAnimation(startAnimation)"
    class="pie-chart"
  >
    <svg
      class="pie-chart__circle"
      viewBox="0 0 231 231"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="115"
        cy="115"
        r="101"
        class="stroke-current"
        :class="colorBackCircle"
        stroke-width="28"
      />
      <path
        d="M14 115.5C14 59.4431 59.4431 14 115.5 14C171.557 14 217 59.4431 217 115.5C217 171.557 171.557 217 115.5 217C59.4431 217 14 171.557 14 115.5Z"
        stroke-width="28"
        class="pie-chart__animation"
        :class="[
          colorFrontCircle,
          { 'pie-chart__animation-start': startAnimation },
        ]"
      />
    </svg>

    <p class="pie-chart__number" :class="colorText">{{ percent }}%</p>
  </div>
</template>

<script>
import { ObserveVisibility } from 'vue-observe-visibility'

export default {
  name: 'PieChart',
  directives: { ObserveVisibility },
  props: {
    // Define el valor del porcentaje de la grafica
    percent: {
      type: String,
      default: '',
    },
    // Color del ciirculo de relleno de la grafica
    colorBackCircle: {
      type: String,
      default: 'text-grayLighter',
    },
    // Color principal del ciirculo de la grafica
    colorFrontCircle: {
      type: String,
      default: 'text-brand-azul',
    },
    // Color del texto de la grafica
    colorText: {
      type: String,
      default: 'text-brand-naranja',
    },
  },
  data() {
    return {
      startAnimation: false,
    }
  },
  methods: {
    /** @param {boolean} startAnimation is word Visible */
    viewAnimation(startAnimation) {
      this.startAnimation = startAnimation
    },
  },
}
</script>

<style lang="scss" scoped>
.pie-chart {
  position: relative;
  display: inline-block;

  &__circle {
    width: theme('width.22');
    height: theme('height.22');
    transform: rotate(90deg);

    @include md {
      width: theme('width.28');
      height: theme('height.28');
    }
    @include lg {
      width: theme('width.40');
      height: theme('height.40');
    }
  }

  &__animation {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: currentColor;
  }

  &__animation-start {
    animation: tape 1200ms linear forwards;
    animation-delay: 300ms;
  }

  &__number {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: theme('fontSize.h4');
    font-weight: theme('fontWeight.bold');
    transform: translate(-50%, -50%);

    @include md {
      font-size: theme('fontSize.h2');
    }
    @include lg {
      font-size: theme('fontSize.h1');
    }
  }

  @keyframes tape {
    0% {
      stroke-dashoffset: 1000;
    }

    100% {
      stroke-dashoffset: 500;
    }
  }
}
</style>
