<template>
  <div class="py-8 border-t -mt-px border-gray-500">
    <article
      class="container flex flex-col md:flex-row justify-center items-center"
      :class="{ 'md:flex-row-reverse': reverse }"
    >
      <div class="px-2 w-full md:w-1/2">
        <slot>
          <!--  -->
        </slot>
        <div
          class="flex items-center justify-center md:justify-start"
          :class="{ 'md:flex-row-reverse': reverse }"
        >
          <nuxt-link
            :to="linkProp"
            class="btn btn--orange-circle btn-animated flex justify-center items-center"
            :class="{ 'btn-animated--right': right }"
          />
          <p
            class="text-expand pb-3 relative font-thin tracking-widest"
            :class="{ 'text-expand--right': right }"
          >
            VER MÁS
          </p>
        </div>
      </div>

      <figure class="px-2 py-0 mt-8 md:mt-2 w-full md:w-1/2 bottom-0 left-0">
        <image-responsive
          :src="'/files/images' + imageSrc"
          class="aspect-ratio-3/2 relative w-full"
          image-classes="absolute inset-0 h-full w-full"
        />
      </figure>
    </article>
  </div>
</template>

<script>
export default {
  name: 'SecHacemos',
  components: {},
  props: {
    reverse: {
      type: Boolean,
      default: false,
    },
    right: {
      type: Boolean,
      default: false,
    },
    imageSrc: {
      type: String,
      default: '',
    },
    tag: {
      type: String,
      default: '',
    },
    client: {
      type: String,
      default: '',
    },
  },
  computed: {
    /** @returns {{path: string, query: {tag: string, client: string}}} */
    linkProp() {
      return {
        path: '/portafolio',
        query: { tag: this.tag, client: this.client },
      }
    },
  },
}
</script>

<style lang="scss" scoped>
$effect-arrow: 400ms;
$effect-line: $effect-arrow / 2;
$time-delay: $effect-line * 0.1;
$delay-effect-arrow: $effect-arrow - $time-delay;
$delay-effect-line: $effect-line + $time-delay;

/*
  Esta seccion de sirve unicamente para los botones con
  orientacion a la izquierda, cada uno de ellos deciende
  de la clase btn.
*/
.btn-animated {
  // ANIMACION EL POSICIONAR EL BOTON EN LEFT
  // Acciones sobre el texto y la linea naranja bajo el texto
  // Animacion de texto

  // Animacion de la linea naranja bajo el texto
  &:hover ~ .text-expand::after {
    transform: scaleX(1) translate(0, -50%);
  }

  /*
      Before se usa para la linea superior del boton
      After se usa para la linea inferior del boton
    */
  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: theme('width.2');
    height: 2px;
    content: '';
    background: theme('colors.white');
    transform: translate(210%, -50%);
  }

  /*
      Animacion al entrar en hover

      Se usan 4 animaciones para animar por seaprado el
      before y after, ya que con transition y transform,
      no se logra el efecto de la doble animacion y no se
      puede obtener una animacion al salir del estado de
      hover. Esta seccion solo anima los before y after
      al hacer hover sobre el boton.
    */
  &:hover::before {
    animation: arrow-top $effect-arrow forwards;
  }

  &:hover::after {
    animation: arrow-bot $effect-arrow forwards;
  }
  // Linea superior
  @keyframes arrow-top {
    0% {
      transform: rotate(45deg) translate(-50%, -50%);
    }

    50% {
      transform: rotate(0) translate(-50%, -50%);
    }

    100% {
      transform: rotate(0) translate(210%, -50%);
    }
  }
  // Linea inferior
  @keyframes arrow-bot {
    0% {
      transform: rotate(-45deg) translate(-50%, -50%);
    }

    50% {
      transform: rotate(0) translate(-50%, -50%);
    }

    100% {
      transform: rotate(0) translate(210%, -50%);
    }
  }

  /*
      Animacion al salir o estar fuera de hover

      La duracion de la animacion debe ser la misma que la de entrada
      arrow-top / arrow-bot.
    */
  &::before {
    animation: pre-arrow-top $effect-arrow forwards;
    animation-delay: $delay-effect-arrow;
  }

  &::after {
    animation: pre-arrow-bot $effect-arrow forwards;
    animation-delay: $delay-effect-arrow;
  }
  // Linea superior
  @keyframes pre-arrow-top {
    0% {
      transform: translate(210%, -50%);
    }

    50% {
      transform: translate(-50%, -50%);
    }

    100% {
      transform: rotate(45deg) translate(-50%, -50%);
    }
  }
  // Linea inferior
  @keyframes pre-arrow-bot {
    0% {
      transform: translate(210%, -50%);
    }

    50% {
      transform: translate(-50%, -50%);
    }

    100% {
      transform: rotate(-45deg) translate(-50%, -50%);
    }
  }

  //
  //
  //
  // ANIMACION EL POSICIONAR EL BOTON EN RIGHT
  // Las especificaciones son las mismas que las de LEFT
  &--right {
    &:hover ~ .text-expand--right::after {
      transform: scaleX(1) translate(0, -50%);
    }

    &::before,
    &::after {
      transform: translate(-310%, -50%);
    }

    &:hover::before {
      animation: right-arrow-top $effect-arrow forwards;
    }

    &:hover::after {
      animation: right-arrow-bot $effect-arrow forwards;
    }
    // Linea superior
    @keyframes right-arrow-top {
      0% {
        transform: rotate(45deg) translate(-50%, -50%);
      }

      50% {
        transform: rotate(0) translate(-50%, -50%);
      }

      100% {
        transform: rotate(0) translate(-310%, -50%);
      }
    }
    // Linea inferior
    @keyframes right-arrow-bot {
      0% {
        transform: rotate(-45deg) translate(-50%, -50%);
      }

      50% {
        transform: rotate(0) translate(-50%, -50%);
      }

      100% {
        transform: rotate(0) translate(-310%, -50%);
      }
    }

    &::before {
      animation: right-pre-arrow-top $effect-arrow forwards;
      animation-delay: $effect-arrow;
    }

    &::after {
      animation: right-pre-arrow-bot $effect-arrow forwards;
      animation-delay: $effect-arrow;
    }
    // Linea superior
    @keyframes right-pre-arrow-top {
      0% {
        transform: translate(-310%, -50%);
      }

      50% {
        transform: translate(-50%, -50%);
      }

      100% {
        transform: rotate(45deg) translate(-50%, -50%);
      }
    }
    // Linea inferior
    @keyframes right-pre-arrow-bot {
      0% {
        transform: translate(-310%, -50%);
      }

      50% {
        transform: translate(-50%, -50%);
      }

      100% {
        transform: rotate(-45deg) translate(-50%, -50%);
      }
    }
  }
}

// **************************************************
// Texto VER MÁS
//
//
// Texto posicionado en left
// **************************************************
.text-expand {
  padding-left: theme('padding.1');

  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    width: 110%;
    height: 2px;
    content: '';
    background: theme('colors.brand.naranja');
    transition: $effect-line ease-in;
    transition-delay: $delay-effect-line;
    transition-property: transform;
    transform: scaleX(0) translate(0, -50%);
    transform-origin: left;
  }

  /*
    Texto posicionado en right

    Este texto tiene las mismas caracteristicas que el .text-expand-left,
    con la diferencia que su posicionamiento es right, y todas las
    animaciones y efectos va de right a left.
  */
  &--right {
    padding-right: theme('padding.1');

    &::after {
      right: 0;
      left: auto;
      transform-origin: right;
    }
  }
}
</style>
