<template>
  <section
    v-observe-visibility="visibilityChanged"
    role="region"
    aria-roledescription="carousel"
    aria-label="Introducción a la agencia de comunicación dinamo."
    class="slider-home"
    :style="{
      // Si por alguna razón esto es 0 no hagamos que el slide se vaya a 0
      height: currentHeight > 0 ? tweens.currentHeight + 'px' : 'auto',
      backgroundColor: slides[activeSlideIndex].backgroundColor,
      backgroundImage: slides[activeSlideIndex].backgroundImage,
    }"
  >
    <transition-group
      name="sliderfade"
      tag="div"
      mode="in-out"
      aria-live="off"
      class="flex flex-shrink-0 flex-grow w-full h-full flex-col"
    >
      <div
        v-for="(slide, i) in slides"
        v-show="activeSlideIndex === i"
        :id="`slider-home__slide-${i}`"
        :key="slide.tag"
        ref="slides"
        role="group"
        class="slider-home__slide flex-1 px-3 text-left"
        aria-roledescription="slide"
        :aria-label="`${i + 1} of ${slides.length}`"
        :class="{ 'slider-home__slide--active': activeSlideIndex === i }"
      >
        <div
          class="container relative flex flex-col sm:flex-row"
          :class="[`text-${slide.contrast.sm}`, `lg:text-${slide.contrast.lg}`]"
        >
          <!-- Imagen del slider -->
          <div
            class="relative sm:absolute aspect-ratio-square sm:p-0 inset-0 order-3 sm:order-1 w-full sm:w-1/2 flex items-end md:items-center -mb-24 sm:mb-0"
          >
            <picture
              class="slider-home__slide-img mt-2 sm:mt-0 absolute sm:relative"
            >
              <source
                media="(min-width: 768px)"
                :srcset="slide.image.lgWebp"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                :srcset="slide.image.lg"
                type="image/png"
              />

              <source :srcset="slide.image.smWebp" type="image/webp" />
              <img
                alt="Foto"
                :src="slide.image.sm"
                loading="lazy"
                class="w-full h-full object-contain object-bottom sm:object-center"
              />
            </picture>
          </div>

          <!-- Texto del slider -->
          <div
            class="sm:w-1/2 sm:ml-auto lg:mr-8 xl:mr-6 lg:pr-4 xl:pr-8 animated order-2"
          >
            <h2
              class="h2"
              :class="{ 'text-grayLight': slide.contrast.sm === 'white' }"
              v-text="slide.title"
            />
            <p
              class="relative"
              :class="{ 'text-grayLight': slide.contrast.sm === 'white' }"
              v-html="slide.text"
            />
            
            <nuxt-link 
            :to="slide.target"
             class="btn btn__edge btn__edge--dynamic-color hover:text-brand-naranja mt-5"
             @click="trackVer"
            >{{$t('home.cta')}}
            </nuxt-link>
          </div>
        </div>
      </div>
    </transition-group>

    <!-- Terminan slides, empiezan controls -->
    <!-- TODO: Mejorar accesibilidad y claridad en celulares -->
    <nav class="slider-home__nav container inset-x-0">
      <ul class="flex justify-end lg:justify-between items-end w-full">
        <li v-for="(slide, i) in slides" :key="i" class="slider-home__nav-item">
          <button
            class="slider-home__btn"
            :aria-controls="`slider-home__slide-${i}`"
            :class="[
              {
                'slider-home__btn--active': i === activeSlideIndex,
                'slider-home__btn--paused': isFormOpen || !isVisible,
              },
              `text-${slides[activeSlideIndex].contrast.sm}`,
              `lg:text-${slides[activeSlideIndex].contrast.sm}`,
            ]"
            @click="goToSlide(i)"
            v-text="slide.tag"
          />
        </li>
      </ul>
    </nav>
  </section>
</template>

<script>
import { TweenLite } from 'gsap'
import { ObserveVisibility } from 'vue-observe-visibility'


import ImgEmiliaXl from '~/assets/images/hero-index/emilia_xl.png'
import ImgEmiliaXlWebp from '~/assets/images/hero-index/emilia_xl.webp'
import ImgEmiliaSm from '~/assets/images/hero-index/emilia_sm.png'
import ImgEmiliaSmWebp from '~/assets/images/hero-index/emilia_sm.webp'
import backgroundEmilia from '~/assets/images/hero-index/backGris.jpg'

import ImgGabySm from '~/assets/images/hero-index/gabi_sm.png'
import ImgGabySmWebp from '~/assets/images/hero-index/gabi_sm.webp'
import ImgGabyXl from '~/assets/images/hero-index/gabi_xl.png'
import ImgGabyXlWebp from '~/assets/images/hero-index/gabi_xl.webp'

import ImgDiegoSm from '~/assets/images/hero-index/diego_sm.png'
import ImgDiegoSmWebp from '~/assets/images/hero-index/diego_sm.webp'
import ImgRamXl from '~/assets/images/hero-index/ram_xl.png'
import ImgRamXlWebp from '~/assets/images/hero-index/ram_xl.webp'

import ImgSethSm from '~/assets/images/hero-index/seth_sm.png'
import ImgSethSmWebp from '~/assets/images/hero-index/seth_sm.webp'
import ImgSethXl from '~/assets/images/hero-index/seth_xl.png'
import ImgSethXlWebp from '~/assets/images/hero-index/seth_xl.webp'

import { PASSIVE_EVENT_OPTIONS } from '~/utils/index'
import { CHANGE_HEADER_COLOR } from '~/utils/mutations'




/**
 * Slider para el home con imagenes de animales.
 *
 */
export default {
  name: 'SliderHome',
  
  directives: {
    ObserveVisibility,
  },
  data() {
    return {
      startX: 0,
      startY: 0,
      endX: 0,
      endY: 0,
      swipeSlided: false,
      isFormOpen: false,
      activeSlideIndex: 0,
      /** @type {NodeJS.Timer | null} */
      timer: null,
      currentHeight: 0,
      isVisible: true,
      tweens: {
        currentHeight: 0,
      },
      slides:[],
      frases:[],
    }
  },
  watch: {
    
    activeSlideIndex(n) {
      
      /** @type {HTMLDivElement} */
      const slide = this.$refs.slides[n] // no podemos documentar watchers
      this.$store.commit(
        CHANGE_HEADER_COLOR,
        this.slides[n].contrast.sm === 'white' ? 'alternate' : true
      )
      this.$nextTick(() => {
        const box = slide.getBoundingClientRect()
        this.currentHeight = box.height
      })
    },
    currentHeight: function currentHeight(value) {
      TweenLite.to(this.tweens, 0.55, {
        currentHeight: value,
      })
    },
  },
  created() {
    this.langFrases();
    if (this.$i18n.locale === 'en') {

      this.slides = [{
          title: 'Let’s work together to make good results an everyday affair!',
          text: `<span class="inline-block">We are experts in:<br>
    </span><span class="inline-block relative w-full h-4">${this.frases}</span><br><span class="mt-8">Let’s talk about your project!</span>`,
          tag: 'Comprehensive digital communication',
          target: 'portafolio/category/estrategia-integral',
          contrast: {
            sm: 'text',
            lg: 'text',
          },
          backgroundColor: '#e0e0e0',
          backgroundImage: `url(${backgroundEmilia})`,

          image: {
            sm: ImgEmiliaSm,
            smWebp: ImgEmiliaSmWebp,
            lg: ImgEmiliaXl,
            lgWebp: ImgEmiliaXlWebp,
          },
          imageAlt: 'Somos expertos en genreación de campañas',
        },
        {
          title: 'Creation of ad campaigns',
          text: 'Online campaigns on Facebook and Google Ads.<br>We pinpoint clear and measurable objectives that allow us to do our best work at all times.',
          target: 'portafolio/category/social-media',
          tag: 'Our motto: Always optimize',
          contrast: {
            sm: 'white',
            lg: 'white',
          },
          image: {
            sm: ImgGabySm,
            smWebp: ImgGabySmWebp,
            lg: ImgGabyXl,
            lgWebp: ImgGabyXlWebp,
          },
          imageAlt: 'Somos expertos en genreación de campañas',
        },
        {
          title: 'UX/UI Web Design',
          text: 'Good experience and good service go hand-in-hand in the digital world. Don’t miss out on business opportunities!',
          target: 'portafolio/category/diseno-web',
          tag: 'UX/UI: Usability and Navigability',
          contrast: {
            sm: 'white',
            lg: 'white',
          },

          image: {
            sm: ImgDiegoSm,
            smWebp: ImgDiegoSmWebp,
            lg: ImgRamXl,
            lgWebp: ImgRamXlWebp,
          },
          imageAlt: 'Somos expertos en genreación de campañas',
        },
        {
          title: 'Product photography',
          text: 'We’re ready to do your product shooting.<br>We believe in good framing, lighting that makes sense, composition and good storytelling.',
          target: 'portafolio/category/fotografia',
          tag: '#productphoto',
          contrast: {
            sm: 'white',
            lg: 'white',
          },
          image: {
            sm: ImgSethSm,
            smWebp: ImgSethSmWebp,
            lg: ImgSethXl,
            lgWebp: ImgSethXlWebp,
          },
          imageAlt: 'Somos expertos en genreación de campañas',
        },
      ]
    } 
    else {
      this.slides = [{
          title: '¡Hagamos juntos de los buenos resultados una constante!',
          text: `<span class="inline-block">Somos expertos en:<br>
    </span><span class="inline-block relative w-full h-4">${this.frases}</span><br><span class="mt-8">¡Platiquemos tu proyecto!</span>`,
          tag: 'Comunicación digital integral',
          target: 'portafolio/category/estrategia-integral',
          contrast: {
            sm: 'text',
            lg: 'text',
          },
          backgroundColor: '#e0e0e0',
          backgroundImage: `url(${backgroundEmilia})`,

          image: {
            sm: ImgEmiliaSm,
            smWebp: ImgEmiliaSmWebp,
            lg: ImgEmiliaXl,
            lgWebp: ImgEmiliaXlWebp,
          },
          imageAlt: 'Somos expertos en genreación de campañas',
        },
        {
          title: 'Generación de campañas',
          text: 'Campañas Digitales en Facebook y Google Ads.<br>Definimos objetivos claros, reales y medibles que nos permitan optimizar en todo momento.<br>Elegimos la mejor estrategia para tu negocio.',
          target: 'portafolio/category/social-media',
          tag: 'Nuestro lema: siempre optimizar',
          contrast: {
            sm: 'white',
            lg: 'white',
          },
          image: {
            sm: ImgGabySm,
            smWebp: ImgGabySmWebp,
            lg: ImgGabyXl,
            lgWebp: ImgGabyXlWebp,
          },
          imageAlt: 'Somos expertos en genreación de campañas',
        },
        {
          title: 'UX/UI/Diseño web',
          text: 'En el ámbito digital una buena experiencia es el equivalente a un buen servicio.<br>¡No pierdas oportunidades de negocio!',
          target: 'portafolio/category/diseno-web',
          tag: 'UX/UI: Usabilidad y navegabilidad',
          contrast: {
            sm: 'white',
            lg: 'white',
          },

          image: {
            sm: ImgDiegoSm,
            smWebp: ImgDiegoSmWebp,
            lg: ImgRamXl,
            lgWebp: ImgRamXlWebp,
          },
          imageAlt: 'Somos expertos en genreación de campañas',
        },
        {
          title: 'Fotografía de producto',
          text: 'Estamos listos para el shooting de tu producto.<br>Creemos en un buen encuadre, una  iluminación con sentido, composición y contar una historia. ',
          target: 'portafolio/category/fotografia',
          tag: '#productphoto',
          contrast: {
            sm: 'white',
            lg: 'white',
          },
          image: {
            sm: ImgSethSm,
            smWebp: ImgSethSmWebp,
            lg: ImgSethXl,
            lgWebp: ImgSethXlWebp,
          },
          imageAlt: 'Somos expertos en genreación de campañas',
        },
      ]

    }
  },
  mounted() {
    // NOTE: estoy asumiendo que siempre habrá por lo menos uno.
    if (Array.isArray(this.$refs.slides) && this.$refs.slides.length > 0) {
      const slide = /** @type {HTMLDivElement} */ (this.$refs.slides[0])
      const box = slide.getBoundingClientRect()
      this.currentHeight = box.height
      this.startTimer()
      this.handleSwipe()
    }
  },
  beforeDestroy() {
    if (process.client && this.$el) {
      this.$el.removeEventListener(
        'touchstart',
        this.touchStart,
        PASSIVE_EVENT_OPTIONS
      )
      this.$el.removeEventListener(
        'touchmove',
        this.touchMove,
        PASSIVE_EVENT_OPTIONS
      )
      this.$el.removeEventListener(
        'touchend',
        this.touchEnd,
        PASSIVE_EVENT_OPTIONS
      )
    }
  }, 
  methods: {
    langFrases(){
      const frasesES = [
        'estrategia digital',
        'diseño web(UX)',
        'social media',
        'fotografía',
        'imagen corporativa',
      ]
        .map((s) => `<span class="slide-text appear-staggering">${s}</span>`)
        .join(' ')
      const frasesEN = [
        'digital strategy',
        'web design(UX)',
        'social media',
        'photography',
        'corporate image',
      ]
        .map((s) => `<span class="slide-text appear-staggering">${s}</span>`)
        .join(' ')

      // frases
      if(this.$i18n.locale ==='en'){
        this.frases = frasesEN;
      }
      else{
        this.frases = frasesES;
      }
    },
    /**
     * @param {number} n
     */
    goToSlide(n) {
      this.stopTimer()
      this.activeSlideIndex = n
      this.startTimer()
    },
    startTimer() {
      this.timer = setInterval(() => {
        if (!this.isVisible || this.isFormOpen) {
          return
        } // No automatico
        this.activeSlideIndex =
          this.activeSlideIndex + 1 >= this.slides.length
            ? 0
            : this.activeSlideIndex + 1
      }, 9000)
    },
    stopTimer() {
      if (this.timer) {
        clearInterval(this.timer)
      }
    },
    /**
     * @param {boolean} isVisible
     */
    visibilityChanged(isVisible) {
      this.isVisible = isVisible
    },

    /* **** I N I C I O   D E   S W I P E   E N   S L I D E R ****
     *
     *
     */
    handleSwipe() {
      if (process.client && this.$el) {
        this.$el.addEventListener(
          'touchstart',
          this.touchStart,
          PASSIVE_EVENT_OPTIONS
        )
        this.$el.addEventListener(
          'touchmove',
          this.touchMove,
          PASSIVE_EVENT_OPTIONS
        )
        this.$el.addEventListener(
          'touchend',
          this.touchEnd,
          PASSIVE_EVENT_OPTIONS
        )
      }
    },

    // Inicio del evento touch
    /**
     * @param {Event} originalEvent
     */
    touchStart(originalEvent) {
      const event = /** @type {TouchEvent} */ (originalEvent)
      const firstTouch = event.touches[0]
      this.startX = firstTouch.clientX
      this.startY = firstTouch.clientY
    },
    touchEnd() {
      this.swipeSlided = false
    },

    // Detecta el desplazamiento del elemento
    /**
     * @param {Event} originalEvent
     */
    touchMove(originalEvent) {
      if (this.swipeSlided) {
        return
      }
      const event = /** @type {TouchEvent} */ (originalEvent)
      const offsetValue = 80
      const lastTouch = event.touches[0]
      this.endX = lastTouch.clientX
      this.endY = lastTouch.clientY

      const diffMoveX = this.startX - this.endX
      const diffMoveY = this.startY - this.endY

      if (Math.abs(diffMoveY) > Math.abs(diffMoveX)) {
        return
      }

      if (Math.abs(diffMoveX) > offsetValue) {
        this.swipeSlided = true
        if (this.startX > this.endX) {
          const newIndex = this.activeSlideIndex + 1
          if (newIndex >= this.slides.length) {
            this.goToSlide(0)
          } else {
            this.goToSlide(newIndex)
          }
        } else {
          const newIndex = this.activeSlideIndex - 1
          if (newIndex < 0) {
            this.goToSlide(this.slides.length - 1)
          } else {
            this.goToSlide(newIndex)
          }
        }
      }
    },
    trackVer(){
      this.$gtag.event('internal-link',{
      event_category: 'engagment',
      event_label: 'click ver mas'
      })
    }
  },
}
</script>

<style lang="scss">
$anim-time: 5s;
$total-time: 20s;
$stagger-time: 5s;
$spacing: -56px; // mt-8

$slide-transition-duration: 325ms;

.sliderfade {
  &-enter-active,
  &-leave-active {
    transition: $slide-transition-duration;
    transition-property: opacity, transform;
  }

  &-leave-active {
    transition-timing-function: ease-out;
  }

  &-enter-active {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transition-delay: $slide-transition-duration;
    transition-timing-function: ease-in;
  }

  &-enter {
    opacity: 0;
  }

  &-leave-to {
    opacity: 0;
  }
}

.slider-home {
  position: relative;
  display: flex;
  min-height: 85vh;
  overflow: hidden;
  flex-direction: column;
  background: #000;
  transition: background $slide-transition-duration $slide-transition-duration
    ease-in-out;

  @include sm {
    min-height: auto;
  }

  @include md {
    min-height: 85vh;
  }

  &__slide {
    display: flex;
    width: 100%;
    min-height: 85vh;
    flex-direction: column;
    justify-content: center;

    @include sm {
      min-height: auto;
    }

    @include md {
      min-height: 85vh;
      flex-direction: row;
      align-items: center;
    }

    > .container {
      padding-top: theme('spacings.16');
      padding-bottom: theme('spacings.24');

      @include sm {
        padding-bottom: theme('spacings.8');
      }
      @include md {
        padding-top: theme('spacings.20');
        padding-bottom: theme('spacings.24');
      }
    }

    .animated {
      opacity: 0;
    }

    &--active {
      .animated {
        opacity: 1;
        animation: fadeInUp $slide-transition-duration ease;
      }
    }
  }

  &__slide-img {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    flex: 1 1 auto;

    @media #{$mq-md} {
      height: calc(80vh - (96px));
      min-height: 80%;
      margin-bottom: 0;
    }
  }

  &__nav {
    position: absolute;
    bottom: 0;
    display: flex;
    padding-right: theme('padding.2');
    padding-left: theme('padding.2');

    @include lg {
      bottom: theme('spacings.3');
    }
  }

  &__nav-item {
    &:not(:last-child) {
      margin-right: theme('spacings.2');

      @media #{$mq-lg} {
        margin-right: theme('spacings.4');
      }
    }
    @media #{$mq-lg} {
      width: theme('width.1/4');
    }
  }

  &__btn {
    width: 100%;
    padding: theme('spacings.1');
    margin-bottom: theme('spacings.2');
    font-size: 0;
    line-height: 0;
    background-color: $gray-200;
    border-radius: theme('borderRadius.full');
    transition: color $slide-transition-duration $slide-transition-duration;

    @media #{$mq-md} {
      padding: theme('spacings.2');
      white-space: nowrap;
    }

    @include lg {
      position: relative;
      margin-bottom: 0;
      font-size: theme('fontSize.small');
      line-height: theme('lineHeight.small');
      background-color: transparent;
      border-bottom: 2px solid $black;
      border-radius: 0;
    }

    &:focus {
      outline: none;
      box-shadow: theme('boxShadow.default');
    }

    &--active {
      background-color: theme('colors.text');

      @include lg {
        background-color: transparent;
      }
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      content: '';
      background-color: $white;

      @include lg {
        bottom: -2px;
      }
    }

    &--active::after {
      animation: timeline 9s linear forwards;
    }

    &--paused::after {
      animation-play-state: paused;
    }
  }
}

.slide-text {
  position: absolute;
  top: 0;
  display: block;
  font-size: theme('fontSize.h5');
  line-height: theme('lineHeight.h5');

  @media #{$mq-sm} {
    top: 0;
  }
}

.appear-staggering {
  opacity: 0;
  animation: appear 5s linear infinite forwards;
}

@keyframes timeline {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY($spacing);
  }

  20% {
    opacity: 0;
    transform: translateY($spacing);
  }

  27% {
    opacity: 1;
    transform: translateY(0);
  }

  35% {
    opacity: 1;
    transform: translateY(0);
  }

  50%,
  100% {
    opacity: 0;
    transform: translateX($spacing);
  }
}

@for $i from 0 through 5 {
  .appear-staggering {
    &:nth-child(#{($i + 1)}) {
      animation-delay: 1s * $i;
    }
  }
}
</style>
