<template>
  <article class="bg-brand-azul relative py-4 md:py-0 my-12 strip">
    <div class="container">
      <figure
        class="flex sm:flex-col sm:flex-col-reverse items-center justify-center"
        :class="orientacion"
      >
        <div
          class="strip-image h-48 md:h-64 -mt-2 md:-mt-0 -my-32 md:-my-10 md:ml-4 lg:ml-0 text-center"
        >
          <img :src="imageProy" />
        </div>

        <figcaption class="text-center text-white w-1/2">
          <slot />
        </figcaption>
      </figure>
    </div>
  </article>
</template>

<script>
export default {
  name: 'StripProyecto',
  props: {
    imageProy: {
      type: String,
      default: '',
    },
    orientacion: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/variables';

.strip-image {
  // transform: translateY(-50%);

  img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}

.strip {
  &:not(:last-child) {
    margin-bottom: theme('margin.32');
  }

  .strip-right {
    @media #{$mq-md} {
      flex-direction: row-reverse;
    }
  }
}
</style>
