<template>
  <label :for="id" class="tag">
    <input :id="id" type="checkbox" class="tag__checkbox" />
    <span class="tag__txt">
      <slot />
    </span>
  </label>
</template>

<script>
export default {
  name: 'Temas',
  props: {
    id: {
      type: String,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.tag {
  position: relative;
  margin-right: theme('margin.2');
  margin-bottom: theme('margin.2');
  font-size: 0.8em;
  font-weight: theme('fontWeights.light');
  line-height: theme('leading.small');
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  background: theme('colors.white');
  box-shadow: theme('boxShadow.default');

  &__checkbox {
    position: absolute;
    opacity: 0;
  }

  &__checkbox:checked ~ &__txt {
    color: #fff;
    background: theme('colors.brand.naranja');
    border-color: theme('colors.brand.naranja');
    box-shadow: theme('boxShadow.md');
  }

  &__txt {
    position: relative;
    z-index: 2;
    display: inline-flex;
    height: theme('height.3');
    padding-right: theme('padding.1');
    padding-left: theme('padding.1');
    margin: -1px;
    border: 1px solid theme('colors.brand.azul');
    border-radius: theme('borderRadius.default');
    justify-content: center;
    align-items: center;

    &:hover {
      background: lighten($brand-naranja, 0.7);
      border-color: lighten($brand-naranja, 0.7);
    }
  }

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    box-shadow: theme('boxShadow.md');
  }
}
</style>
