<template lang="thml">
  <div
  v-if="!isContactPage"
  class="bx-contact" :class="viewButton ? 'bx-contact__button-outside' : 'bx-contact__button-into'">
    <!-- TODO: verificar scr 
    <a
      class="btn contact-item"
      :class="ios ? 'contact-item__device-default' : 'contact-item__device-default'"
      @click="track"
      title="Contáctanos por teléfono"
      href="tel:+525562807477">
      <fa-icon :icon="['fa', 'phone']" />
    </a>-->
    <a
      class="btn contact-item"
      :class="ios ? 'contact-item__device-ios' : 'contact-item__device-ios'"
      @click="track2"
      title="Contáctanos por whatsapp"
      href="https://api.whatsapp.com/send?phone=5215515104704&text=Hola%20podria%20darme%20la%20cotizaci%C3%B3n%20sobre" target="_blank" >
      <fa-icon :icon="['fab', 'whatsapp']" />
    </a>
  </div>
</template>
<script>
import { PASSIVE_EVENT_OPTIONS } from '~/utils/index'

export default {
  name: 'TheContactBox',
  data() {
    return {
      ios: false,
      viewButton: false,
      sizeScreen: 0,
    }
  },
  computed: {
    isContactPage() {
      const routes =
        this.$route.path === '/contacto' || this.$route.path === '/a113'
      return routes
    },
  },
  mounted() {
    this.deviceDetector()
    this.viewBtnScrollTop()
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.newSizeScreen)
    window.removeEventListener(
      'scroll',
      this.toggleButton,
      PASSIVE_EVENT_OPTIONS
    )
  },
  methods: {
    track() {
      this.$gtag.event('boton-contacto', {
        event_category: 'internal-link',
        event_label: 'click en el telefono flotante del home',
        value: 60,
      })
    },
     track2() {
      this.$gtag.event('boton-contacto', {
        event_category: 'internal-link',
        event_label: 'click en el whatsapp flotante del home',
        value: 60,
      })
    },
    deviceDetector() {
      const device = navigator.userAgent

      if (device.includes('Macintosh') || device.includes('iPhone')) {
        this.ios = true
      }
    },
    viewBtnScrollTop() {
      this.sizeScreen = window.innerHeight

      window.addEventListener('resize', this.newSizeScreen)

      window.addEventListener(
        'scroll',
        this.toggleButton,
        PASSIVE_EVENT_OPTIONS
      )
    },
    newSizeScreen() {
      this.sizeScreen = window.innerHeight
    },
    toggleButton() {
      if (window.scrollY >= this.sizeScreen * 1.3) {
        this.viewButton = true
      } else {
        this.viewButton = false
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.bx-contact {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  margin-right: theme('margin.3');
  margin-bottom: 180px;
  color: $white;
  transition: 350ms ease-out;
  transition-property: transform, opacity;

  @media #{$mq-lg} {
    display: none;
  }

  &__button-into {
    opacity: 1;
    transform: translateX(0);
  }

  &__button-outside {
    opacity: 0;
    transform: translateX(calc(-1 * theme('spacings.8')));
  }

  .contact-item {
    width: theme('width.7');
    height: theme('height.7');
    padding: theme('padding.2');
    font-size: theme('fontSize.h5');
    color: $white;

    &__device-ios {
      background: #53d769;
      border-radius: 0.2em;
    }

    &__device-default {
      background: #147efb;
      border-radius: 0.2em;
    }
  }
}
</style>
