<template>
  <footer v-observe-visibility="visibilityModal" class="the-footer bg-brand-azul relative">
    
    <form-mailchimp id="form-mailchimp"
      :routename="$route.name">
    </form-mailchimp>

    <!-- eslint-disable max-len -->
    <div class="container the-footer__body">
      <div
        class="md:w-1/3 text-center lg:text-left p-2 md:pr-6 pt-5 bh-grow max-w-md order-2 md:order-1"
        itemscope
        itemtype="http://schema.org/Organization"
      >
        <ul
          class="list-reset link-contacto flex flex-col items-center md:items-start md:order-1 order-4"
        >
          <li class="py-1 text-left">
            <a
              href="tel:5515104704"
              class="fast-transition hover:text-brand-naranja"
              @click="clienteAtención"
            >
              <fa-icon class="mr-2" :icon="['fa', 'phone']" />

              <span itemprop="telephone"> {{$t('Footer.footer_col_1')}}</span>

            </a>
          </li>

          <li class="py-1 text-left">
            <a
              href="tel:5562807477"
              class="fast-transition hover:text-brand-naranja"
              @click="clienteAtención"
            >
              <fa-icon class="mr-2" :icon="['fa', 'phone']" />

              <span itemprop="telephone"> {{$t('Footer.footer_col_1_1')}}</span>

            </a>
          </li>
          
          <li class="py-1 text-left">
            <a
              href="tel:5520500452"
              class="fast-transition hover:text-brand-naranja"
              @click="Phone"
            >
              <fa-icon class="mr-2" :icon="['fa', 'file-invoice-dollar']" />
              <span itemprop="telephone">{{$t('Footer.footer_col_1_2')}}</span>
            </a>
          </li>

          <li class="py-1">
            <a
              href="mailto:hola@wdinamo.com"
              class="fast-transition hover:text-brand-naranja"
              @click="Mail"
            >
              <fa-icon class="mr-2" :icon="['fa', 'envelope']" />
              <span itemprop="email">hola@wdinamo.com</span>
            </a>
          </li>

          <li class="py-1">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://goo.gl/maps/uKPxtckwRzQ2"
              class="flex fast-transition hover:text-brand-naranja"
              @click="Mapa"
            >
              <fa-icon class="mr-2 block" :icon="['fa', 'map']" />
              <span
                class="hidden lg:inline"
                itemprop="address"
                itemscope
                itemtype="http://schema.org/PostalAddress"
              >
                <span itemprop="streetAddress">{{$t('Footer.footer_col_1_4_1')}}</span>
                <span itemprop="addressLocality">{{$t('Footer.footer_col_1_4_2')}}</span>
                <span itemprop="postalCode">{{$t('Footer.footer_col_1_4_3')}}</span>
                <span itemprop="addressCountry">{{$t('Footer.footer_col_1_4_4')}}</span>
              </span>
              <span class="lg:hidden">{{$t('Footer.footer_col_1_4_5')}}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="md:w-1/3 h-full flex flex-col order-3 md:order-3 items-center pt-6">
        <image-responsive
          src="/files/images/logotipo-white-croped.png"
          alt="Logo Dinamo"
          base-url="/"
          :responsive="false"
          width="929"
          height="635"
          class="w-20 mb-2 md:mb-8"
          itemprop="logo"
        />

        <div class="flex justify-center">
          <image-responsive
            src="/files/images/logo-google-network.png"
            alt="Logo Google Ads"
            base-url="/"
            :responsive="false"
            width="640"
            height="696"
            class="w-8 mx-2"
            image-classes="w-full h-full"
          />
          <image-responsive
            src="/files/images/logotipo-badge.png"
            alt="Logo Badge Fotografia"
            base-url="/"
            :responsive="false"
            width="146"
            height="127"
            class="w-8 mx-2"
            image-classes="w-full h-full"
          />
        </div>

        <div class="footer__sociales flex justify-center items-center md:w-32 md:h-24 p-1 mt-4">
          <a
            aria-label="Icono de Facebook"
            class="btn rounded p-1 mx-1 color-face"
            href="https://www.facebook.com/dinamomex"
            target="_blank"
            rel="noopener noreferrer"
            @click="socialface"
          >
            <fa-icon :icon="['fab', 'facebook']" />
          </a>
          <a
            aria-label="Icono de Linkedin"
            class="btn rounded p-1 mx-1 color-linkedin"
            href="https://www.linkedin.com/company/dinamo-mx"
            target="_blank"
            rel="noopener noreferrer"
            @click="sociallinkedin"
          >
            <fa-icon :icon="['fab', 'linkedin']" />
          </a>
          <a
            aria-label="Icono de Instagram"
            class="btn rounded p-1 mx-1 color-instagram"
            href="https://www.instagram.com/dinamomex/"
            target="_blank"
            rel="noopener noreferrer"
            @click="socialinstagram"
          >
            <fa-icon :icon="['fab', 'instagram']" />
          </a>
          <!-- Falta ingresar el icono y la direccion correcta de whatsapp-->
          <link-whatsapp class="btn rounded p-1 mx-1 color-whatsapp" number="525515104704">
            <fa-icon :icon="['fab', 'whatsapp']" />
          </link-whatsapp>
        </div>
      </div>

      <div class="md:w-1/3 h-full w-full pt-5 md:order-4 order-1">
        <ul class="w-full md:w-1/2 flex flex-wrap justify-center flex-row md:flex-col md:ml-auto">
          <li>
            <n-link
              class="block fast-transition hover:text-brand-naranja mx-1 sm:m-1"
              title="Portafolio"
              itemprop="url"
              :to="localePath('/portafolio')"
            >{{$t('nav.portafolio')}}</n-link>
          </li>
          <li>
            <n-link
              class="block fast-transition hover:text-brand-naranja mx-1 sm:m-1"
              title="Hacemos"
              itemprop="url"
              :to="localePath('/hacemos')"
            >{{$t('nav.hacemos')}}</n-link>
          </li>
          <!-- <li>
            <n-link
              class="block fast-transition hover:text-brand-naranja mx-1 sm:m-1 whitespace-no-wrap"
              title="Casos de éxito"
              itemprop="url"
              to="/404"
            >
              Casos de éxito
            </n-link>
          </li>-->
          <li>
            <n-link
              class="block fast-transition hover:text-brand-naranja mx-1 sm:m-1"
              title="Equipo"
              itemprop="url"
              :to="localePath('/equipo')"
            >{{$t('nav.equipo')}}</n-link>
          </li>
          <li>
            <n-link
              class="block fast-transition hover:text-brand-naranja mx-1 sm:m-1"
              title="Blog"
              itemprop="url"
              :to="localePath('/a113')"
            >{{$t('nav.blog')}}</n-link>
          </li>
          <li>
            <n-link
              class="block fast-transition hover:text-brand-naranja mx-1 sm:m-1"
              title="Cotiza"
              itemprop="url"
              :to="localePath('/contacto')"
              @click="Contactar"
            >{{$t('nav.cotiza')}}</n-link>
          </li>
        </ul>
      </div>
    </div>

    <div class="text-center py-1 border-white">
      <p>{{$t('Footer.footer_col_2')}}</p>
      <p>
        <nuxt-link
          
          :to="localePath('/aviso-privacidad')"
          class="fast-transition hover:text-brand-naranja whitespace-no-wrap"
        >{{$t('Footer.footer_col_2_1')}}</nuxt-link>
      </p>
    </div>
  </footer>
</template>

<script>
import { ObserveVisibility } from 'vue-observe-visibility'
import LinkWhatsapp from '~/components/LinkWhatsapp.vue'
import { FOOTER_ON_VIEWPORT } from '~/utils/mutations'
// import FormNewsLetter from '~/components/FormNewsLetter.vue'
// import formMailchimp from '~/components/FormMailchimp.vue'

export default {
  name: 'TheFooter',
  directives: {ObserveVisibility},
    components: {
      LinkWhatsapp,
     // formMailchimp,
    },
  data() {
    return {
      nearlyOnFooter: false
    }
  },
  methods: {
    /**
     * @param {boolean} isVisible
     */
    visibilityModal(isVisible){
      this.nearlyOnFooter = isVisible
      this.$store.commit(FOOTER_ON_VIEWPORT, this.nearlyOnFooter)
    },

    clienteAtención(){
      this.$gtag.event('generate_lead', {
      event_category: 'engagment',
      event_label: 'click Atencion a clientes',
      value: 1,
      })
    },

    Phone(){
      this.$gtag.event('generate_lead',{
      event_category: 'engagment',
      event_label: 'Click en llamada',
      value: 1,  
      })
    },

    Mail(){
      this.$gtag.event('generate_lead', {
      event_category: 'engagment',
      event_label: 'Click en correo',
      value: 1,
      })
    },

    Mapa(){
      this.$gtag.event('generate_lead', {
      event_category: 'engagment',
      event_label: 'Click en maps',
      value: 1,
      })
    },

    socialface(){
      this.$gtag.event('generate_lead', {
      event_category: 'engagment',
      event_label: 'Click para ir a facebook',
      value: 1,  
      })
    },

    sociallinkedin(){
      this.$gtag.event('generate_lead', {
        event_category: 'engagment',
        event_label: 'Click para ir a likendln',
        value: 1,
      })
    },

    socialinstagram(){
      this.$gtag.event('generate_lead', {
      event_category: 'engagment',
      event_label: 'Click para ir a instagram',
      value: 1,
      })
    },

    Contactar(){
      this.$gtag.event('click_cta', {
      event_category: 'Navegation',
      event_label: 'Click en cotizar'  
      })
    },

  }
}
</script>

<style lang="scss" scoped>
.the-footer {
  color: $gray-light;

  .container {
    @media (min-width: 768px) and (max-width: 1023px) {
      max-width: 920px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media #{$mq-md} {
      height: theme('height.48');
      flex-direction: row;
      align-items: flex-start;
    }
  }
}

.color-face,
.color-twitter,
.color-linkedin,
.color-instagram,
.color-whatsapp {
  color: #fff;
  transition: 200ms ease-in;
  transition-property: transform background;
  transform: scale(1);

  &:hover {
    color: currentColor;
    transform: scale(1.15);
  }
}

.color-face {
  &:hover {
    background: #3b5999;
  }
}

.color-linkedin {
  &:hover {
    background: #0077b5;
  }
}

.color-instagram {
  &:hover {
    background: #e4405f;
  }
}

.color-whatsapp {
  &:hover {
    background: #25d366;
  }
}

.fast-transition {
  transition: 200ms ease-in;
}

.link-contacto {
  color: $gray-light;

  &__colorVisited {
    &:active,
    &:visited {
      color: $gray-light;
    }
  }
}
</style>
