<template lang="html">
  <header
    ref="navbar"
    class="the-header"
    :class="{ 'is-top': isAtTop, 'is-open': isMenuOpen }"
    :style="{
      transform: `translateY(${header.currentTranslate}px)`,
      ...headerStyles,
    }"
  >
    <!-- eslint-disable max-len -->
    <div
      ref="specialShadow"
      class="the-header__shadow"
      :style="{
        opacity: header.scrollFactor,
        transform: `scaleY(${header.translateFactor})`,
      }"
    />
    <nav
      role="navigation"
      itemscope
      itemtype="http://www.schema.org/SiteNavigationElement"
      class="container h-full"
    >
      <ul class="flex justify-between items-center h-full">
        <li class="flex relative z-20 justify-between flex-grow">
          <n-link 
            class="block" 
            :to="localePath('/')" 
            active-class="" 
            aria-label="dinamo.mx">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              class="the-header__logo"
              viewBox="0 0 124 83"
            >
              <g clip-path="url(#clip0)">
                <path
                  :fill="logoColors.a"
                  d="M46.1.9v29.3a25.2 25.2 0 0 0-18.5-7.8c-7.7 0-14.2 2.8-19.5 8.5C2.7 36.6 0 44 0 52.8c0 8.6 2.8 15.8 8.3 21.5A26.4 26.4 0 0 0 28 83c3.4 0 32.9-1.5 32.9-1.5V1H46.1zm-4.5 67.6c-1.5-.4-3.1-.3-4.6.4-2 .9-4.4 1.1-7 1.1-4.5 0-8.3-1.6-11.5-4.8a17.3 17.3 0 0 1-4.7-12.5c0-5 1.5-9.1 4.5-12.3 3-3.2 7-4.9 11.5-4.9 4.8 0 8.7 1.5 11.9 4.7 3 3.1 4.5 6.4 4.5 11.7 0 2-.4 5.1-.5 7.3 0 1.1.3 2.2.5 3 .6 2.8 3.6 9 3.6 9s-5.6-2-8.2-2.7z"
                />
                <path
                  :fill="logoColors.b"
                  d="M82 .9h5.3v28.4h-5.2V27c-1 1-2 1.6-3.1 2a9.4 9.4 0 0 1-10.3-2.5c-2-2-3-4.5-3-7.6 0-3.1 1-5.7 2.9-7.7s4.2-3 6.9-3a9 9 0 0 1 6.6 2.7V1zM76.7 13c-1.7 0-3 .6-4 1.7a6 6 0 0 0-1.7 4.3 6 6 0 0 0 1.6 4.4c1.1 1.1 2.5 1.7 4 1.7 1.7 0 3-.6 4.2-1.7a6 6 0 0 0 1.6-4.4c0-1.8-.6-3.3-1.6-4.4-1.1-1-2.5-1.6-4.1-1.6z"
                />
                <path
                  :fill="logoColors.a"
                  d="M92 6h4l4.6-5.1c-1.8 0-3.4-.4-4.9-1L92 6z"
                />
                <path
                  :fill="logoColors.b"
                  d="M96.4 8.6h-5.2v20.7h5.2V8.6zM66.7 35H72v2a13 13 0 0 1 3.2-2c1-.4 2-.6 3-.6 2 0 3.8.7 5.2 2.2 1.2 1.2 1.8 3 1.8 5.3v13.5h-5.1v-9c0-2.4-.2-4-.4-4.8-.2-.8-.6-1.4-1.1-1.8-.6-.5-1.3-.7-2.1-.7-1 0-2 .4-2.7 1-.8.8-1.3 1.7-1.6 3-.2.6-.2 2-.2 4.1v8.2h-5.3V35zM105 34.7h5.3v20.5h-5.2V53c-1 1-2 1.6-3.1 2a9.4 9.4 0 0 1-10.3-2.4c-2-2-3-4.6-3-7.6 0-3.2 1-5.8 2.9-7.8s4.2-3 6.9-3a9 9 0 0 1 6.6 2.8v-2.3zM99.7 39c-1.6 0-3 .6-4 1.7a6 6 0 0 0-1.7 4.3 6 6 0 0 0 1.7 4.4c1 1.1 2.4 1.7 4 1.7s3-.6 4-1.7a6 6 0 0 0 1.7-4.4c0-1.8-.5-3.2-1.6-4.3-1.1-1.1-2.5-1.7-4.1-1.7zM66.7 61.1H72v2.4a8.8 8.8 0 0 1 6.5-2.9 6.9 6.9 0 0 1 6 3.7 8.3 8.3 0 0 1 7.1-3.7c1.5 0 2.8.3 4 1 1 .7 1.9 1.6 2.4 2.7.5 1 .7 2.8.7 5.3v12h-5.3V71.2c0-2.3-.3-3.9-.8-4.7-.6-.8-1.5-1.3-2.7-1.3-.9 0-1.7.3-2.4.8s-1.2 1.2-1.6 2c-.3 1-.5 2.4-.5 4.3v9.3H80v-10c0-1.8-.1-3-.4-3.9-.3-.8-.7-1.4-1.2-1.8-.6-.4-1.3-.6-2-.6a4 4 0 0 0-2.4.7c-.7.5-1.3 1.2-1.6 2.1-.4 1-.5 2.4-.5 4.4v9h-5.3V61.2zM113 60.6a11.3 11.3 0 0 1 9.5 5.4 10.5 10.5 0 0 1 0 10.8c-1 1.6-2.3 3-4 3.9-1.7 1-3.5 1.4-5.6 1.4-3 0-5.5-1-7.6-3.1-2.1-2.1-3.2-4.7-3.2-7.6 0-3.2 1.2-5.9 3.6-8 2-1.9 4.5-2.8 7.2-2.8zm0 4.8c-1.6 0-3 .6-4 1.7a5.8 5.8 0 0 0-1.7 4.2 6 6 0 0 0 1.6 4.4c1 1 2.4 1.6 4 1.6 1.7 0 3-.5 4.2-1.6a6 6 0 0 0 1.6-4.3c0-1.8-.5-3.2-1.6-4.3a5.5 5.5 0 0 0-4-1.7z"
                />
              </g>
              <defs>
                <clipPath id="clip0">
                  <path :fill="logoColors.b" d="M0 0h124v83H0z" />
                </clipPath>
              </defs>
            </svg>
          </n-link>

          <div class="language lg:hidden">
          <div v-if="$i18n.locale !== 'en'" class="__item">
            <nuxt-link
                :to="switchLocalePath('en')"
                @click="SeleccionaIdiomaEn"
              >
              EN
              </nuxt-link>
            <span class="selected">ES</span>
          </div>
            
          <div v-if="$i18n.locale !== 'es'" class="__item">
            <span class="selected">EN</span>
              <nuxt-link
                :to="switchLocalePath('es')"
                @click="SeleccionaIdiomaEs"
              >
                ES
              </nuxt-link>
            </div>
            
        </div>
          <btn-burger v-model="isMenuOpen" />
        </li>
        <div class="language hidden lg:inline-flex">
          <div v-if="$i18n.locale !== 'en'" class="__item">
            <nuxt-link
                :to="switchLocalePath('en')"
                @click="SeleccionaIdiomaEn"
              >
              EN
              </nuxt-link>
            <span class="selected">ES</span>
          </div>
            
          <div v-if="$i18n.locale !== 'es'" class="__item">
            <span class="selected">EN</span>
              <nuxt-link
                :to="switchLocalePath('es')"
                @click="SeleccionaIdiomaEs"
              >
                ES
              </nuxt-link>
            </div>
            
        </div>
        <li class="flex items-center h-full">
          <ul
            ref="menu"
            :class="{ 'is-active': isMenuOpen }"
            class="the-header__menu"
          >
            
            <li>
              <n-link
                class="the-header__item"
                :class="this.$route.path === '/a113' ? 'md:hidden' : 'hidden'"
                title="Portafolio"
                itemprop="url"
                to="/portafolio"
              >
                Inicio
              </n-link>
            </li>
            <li>
              <n-link
                class="the-header__item"
                title="Portafolio"
                itemprop="url"
                :to="localePath('/portafolio')"
              >
                {{$t('nav.portafolio')}}
              </n-link>
            </li>
            <li>
              <n-link
                class="the-header__item"
                title="Hacemos"
                itemprop="url"
                :to="localePath('/hacemos')"
              >
                {{$t('nav.hacemos')}}
              </n-link>
            </li>
            <li>
              <n-link
                class="the-header__item"
                title="Equipo"
                itemprop="url"
                :to="localePath('/equipo')"
                
              >
                {{$t('nav.equipo')}}
              </n-link>
            </li>
            <li>
              <n-link
                v-if="$i18n.locale === 'es'"
                class="the-header__item lg:mr-2"
                title="Blog"
                itemprop="url"
                :to="localePath('/a113')"
                @click="trackBlog"
              >
                {{$t('nav.blog')}}
              </n-link>
            </li>
            <li class="flex justify-center items-center mt-10 lg:m-0">
              <button arial-label="Cotiza" class="h-full py-1">
                <n-link
                  :to="localePath('/contacto')"
                  class="btn btn__edge btn__edge--dynamic-color"
                  title="Cotiza"
                  itemprop="url"
                  @click="CotizaHeader"
                >
                  {{$t('nav.cotiza')}}
                </n-link>
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- eslint-enable max-len -->
  </header>
</template>

<script>
import ButtonBurger from './TheHeaderBurger.vue'

import { PASSIVE_EVENT_OPTIONS } from '~/utils/index'

const dark = '#211F35'
const white = '#fff'
const grayLight = '#CBD5E0'
const primary = '#F83F28'

const NAVBAR_HEIGHT = 180
const THRESHOLD = 360
export default {
  name: 'TheHeader',
  components: {
    BtnBurger: ButtonBurger,
  },
  data: () => ({
    isMenuOpen: false,
    isAtTop: false,
    header: {
      horizon: NAVBAR_HEIGHT,
      whereYouStoppedScrolling: 0,
      scrollFactor: 0,
      translateFactor: 0,
      currentTranslate: 0,
      ticking: false,
      lastY: 0,
    },
    /** @type {MediaQueryList|null} */
    mq: null,
  }),
  computed: {
    /**
     * Color para hacerle contraste
     *
     * @returns {boolean|'alternate'}
     */
    headerIsDark() {
      return this.$store.state.current.headerIsDark || false
    },
    /** @returns {boolean} */
    alternateDark() {
      return this.headerIsDark === 'alternate'
    },
    /** @returns {{[x: string]: string}} */
    headerStyles() {
      let background = 'transparent'
      let text = grayLight
      let textButtonHover = grayLight
      let contrast = primary
      let activeText = primary
      let menuBackground = dark
      let buttonBackground = primary

      if (this.headerIsDark) {
        text = dark
        menuBackground = white
        if (this.isAtTop) {
          menuBackground = dark
          background = dark
          text = grayLight
        } else if (this.isMenuOpen && this.alternateDark) {
          text = dark
        } else if (this.alternateDark) {
          text = grayLight
        }
      } else {
        buttonBackground = dark
        activeText = dark
        textButtonHover = primary
        contrast = dark

        if (this.isAtTop) {
          activeText = primary
          contrast = primary
          text = dark
          menuBackground = white
          background = white
        } else if (this.isMenuOpen) {
          activeText = primary
          contrast = primary
        }
      }
      return {
        '--header-background': background,
        '--header-color': text,
        '--header-text-btn-hover': textButtonHover,
        '--header-contrast': contrast,
        '--header-active-text': activeText,
        '--header-btn-background': buttonBackground,
        '--header-menu-background': menuBackground,
      }
    },
    /** @returns {{a: string, b: string}} */
    logoColors() {
      let dAndAccent = dark
      let text = white
      if (this.headerIsDark) {
        dAndAccent = primary
        text = dark
        if (this.isAtTop) {
          dAndAccent = white
          text = primary
        }
        if (this.alternateDark) {
          text = white
          if (this.isAtTop) {
            dAndAccent = primary
          } else if (this.isMenuOpen) {
            text = dark
          }
        }
      } else if (this.isAtTop) {
        dAndAccent = primary
        text = dark
      } else if (this.isMenuOpen) {
        dAndAccent = primary
      }
      return {
        a: dAndAccent,
        b: text,
      }
    },
  },
  watch: {
    $route() {
      // Al navegar cerrar el menú
      this.isMenuOpen = false
    },
  },
  mounted() {
    if (process.browser) {
      // Initi hide header
      this.translateHeader(window.scrollY, false)
      this.hideHeader()
      window.addEventListener('scroll', this.hideHeader, PASSIVE_EVENT_OPTIONS)
      this.mq = window.matchMedia('(max-width: 1024px)')
      // Prevent scroll when active and mobile
      this.$refs.menu.addEventListener('touchmove', this.preventScroll, false)
    }
  },
  beforeDestroy() {
    if (process.browser) {
      window.removeEventListener(
        'scroll',
        this.hideHeader,
        PASSIVE_EVENT_OPTIONS
      )
      this.$refs.menu.removeEventListener(
        'touchmove',
        this.preventScroll,
        false
      )
    }
  },
  methods: {
    /**
     * Aplica la propiedad de translate sobre el header
     *
     * @param {number} currentY
     * @param {boolean} upwards
     */
    translateHeader(currentY, upwards) {
      // let topTranslateValue;
      let translateValue
      if ((upwards && this.header.currentTranslate === 0) || this.isMenuOpen) {
        translateValue = 0
      } else if (currentY <= NAVBAR_HEIGHT) {
        translateValue = currentY * -1
      } else {
        const delta = Math.max(
          0,
          Math.min(Math.abs(currentY - this.header.horizon), NAVBAR_HEIGHT)
        )
        translateValue = delta - NAVBAR_HEIGHT
      }

      if (translateValue !== this.header.currentTranslate) {
        this.header.currentTranslate = translateValue // Insertado en template
      }

      if (currentY > THRESHOLD * 2) {
        this.header.scrollFactor = 1
      } else if (currentY > THRESHOLD) {
        this.header.scrollFactor = (currentY - THRESHOLD) / THRESHOLD
      } else {
        this.header.scrollFactor = 0
      }

      this.header.translateFactor = 1 + translateValue / NAVBAR_HEIGHT
    },
    /**
     * Discierne si es scroll arriba o abajo
     *
     * @param {number} lastY
     * @param {number} currentY
     */
    upOrDown(lastY, currentY) {
      // Verdadero cuando se hace scroll abajo
      this.isAtTop = currentY >= NAVBAR_HEIGHT
      if (currentY >= lastY) {
        // Going down
        this.header.whereYouStoppedScrolling = currentY

        if (currentY > this.header.horizon) {
          this.header.horizon = currentY
        }

        this.translateHeader(currentY, false)
      } else {
        // Going up
        if (currentY < this.header.whereYouStoppedScrolling - NAVBAR_HEIGHT) {
          this.header.horizon = currentY + NAVBAR_HEIGHT
        }
        this.translateHeader(currentY, true)
      }
    },
    hideHeader() {
      const currentY = window.scrollY
      if (!this.header.ticking) {
        window.requestAnimationFrame(() => {
          this.upOrDown(this.header.lastY, currentY)
          this.header.ticking = false
          this.header.lastY = currentY
        })
      }
      this.header.ticking = true
    },
    /** @param {Event} event El evento de touchmove */
    preventScroll(event) {
      if (this.isMenuOpen && this.mq?.matches) {
        event.preventDefault()
      }
    },
    
    CotizaHeader(){
     this.$gtag.event('click_cta', { 
     event_category: 'Navegation',
     event_label: 'click cotiza en el header',
     value: 1,
     })
    },
     SeleccionaIdiomaEs(){
     this.$gtag.event('click_language', { 
     event_category: 'Idioma',
     event_label: 'click ver en español',
     value: 1,
     })
    },
    SeleccionaIdiomaEn(){
     this.$gtag.event('click_language', { 
     event_category: 'Idioma',
     event_label: 'click ver en ingles',
     value: 1,
     })
    },

    trackBlog(){
      this.$gtag.event('generate_lead',{
        event_category: 'internal_link',
        event_label: 'entrada al blog del header',
        value:1,
      })
    }
    
  },
}
</script>
