<script>
export default {
  name: 'BtnBurger',
  functional: true,
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  render(h, { props, data, listeners }) {
    const bemBase = 'btn-burger'
    const classInput = `${bemBase}__input`
    const dataObject = {
      ...data,
      on: listeners,
      attrs: {
        for: classInput,
        'aria-label': 'Mostrar menú de navegación.',
        title: 'Mostrar menú de navegación.',
      },
      class: [
        'btn-burger',
        {
          ...data.class,
          [`${bemBase}--active`]: props.value,
        },
      ],
    }

    /** @param {{target: HTMLInputElement}} event Input del checkbox */
    const onInput = ({ target }) => {
      if (listeners.input) {
        const inputEvent = listeners.input
        if (typeof inputEvent === 'function') {
          inputEvent(target.checked)
        } else {
          inputEvent.map((f) => f(target.checked))
        }
      }
    }

    return [
      h('input', {
        domProps: {
          checked: props.value,
        },

        staticClass: classInput,

        on: {
          change: onInput,
          input: onInput,
        },

        attrs: {
          id: classInput,
          type: 'checkbox',
        },
      }),
      h('label', dataObject, [
        h('span', { staticClass: `${bemBase}__pan` }),
        h('span', { staticClass: `${bemBase}__carne` }),
        h('span', { staticClass: `${bemBase}__pan` }),
      ]),
    ]
  },
}
</script>
