<template lang="html">
  <nuxt-link class="navbar-item" to="/" active-class="">
    <img src="/logotipo.svg" alt="dínamo" class="dínamo Logo" />
  </nuxt-link>
</template>

<script>
export default {}
</script>

<style lang="scss">
.navbar-item .logo {
  max-height: ritmo(1);
  background: transparent;
  // NOTE: Es para alinearlo visualmente
  @include desktop {
    margin-top: -0.7rem;
  }
}
</style>
