<template>
  <div class="full-video">
    <iframe
      ref="player"
      loading="lazy"
      :src="src"
      width="100%"
      height="480"
      frameborder="0"
      :title="label"
      allow="autoplay; fullscreen"
      allowfullscreen
    ></iframe>
  </div>
</template>

<script>
/**
 * Componente de video con el principal objetivo de medición de analíticas
 *
 */

export default {
  name: 'VideoPlayer',
  props: {
    /**
     * La url origen del video
     */
    src: {
      type: String,
      default: '',
      required: true,
    },
    /**
     * El título o etiqueta del video
     */
    label: {
      type: String,
      default: '',
      required: true,
    },
  },
  data() {
    return {
      progress25: false,
      progress50: false,
      progress75: false,
      videoPlayed: false,
      videoPaused: false,
      videoResumed: false,
      videoSeeking: false,
      videoCompleted: false,
      timePercentComplete: 0,
    }
  },
  computed: {
    /** @returns {HTMLIFrameElement} */
    playerEl() {
      const playerElement = /** @type {HTMLIFrameElement} */ (this.$refs.player)
      return playerElement
    },
  },
  mounted() {
    window.addEventListener('message', this.onMessage, false)
  },
  beforeDestroy() {
    window.removeEventListener('message', this.onMessage, false)
  },
  methods: {
    /**
     * Envia el evento a analíticas
     *
     * @param {string} action La acción que se tomó
     * @param {number} [value] El valor de la acción (porcentaje de completion)
     */
    sendEvent(action, value) {
      this.$gtag.event(action, {
        event_label: this.label,
        event_category: 'User Interaction',
        value,
      })
    },
    /** @param {MessageEvent} event El evento desde el iframe */
    onMessage(event) {
      if (
        event.origin.replace('https:', 'http:') !== 'http://player.vimeo.com' ||
        !this.$gtag
      ) {
        return
      }
      const data = JSON.parse(event.data)

      switch (data.event) {
        case 'ready':
          this.onReady()
          break

        case 'playProgress':
          this.onPlayProgress(data.data)
          break

        case 'seek':
          if (!this.videoSeeking) {
            this.sendEvent('Skipped video forward or backward')
            this.videoSeeking = true // Avoid subsequent seek trackings
          }
          break

        case 'play':
          if (!this.videoPlayed) {
            this.sendEvent('Started video')
            this.videoPlayed = true // Avoid subsequent play trackings
          } else if (!this.videoResumed && this.videoPaused) {
            this.sendEvent('Resumed video')
            this.videoResumed = true // Avoid subsequent resume trackings
          }
          break

        case 'pause':
          this.sendEvent('Paused video')
          break

        case 'finish':
          if (!this.videoCompleted) {
            this.sendEvent('Completed video')
            this.videoCompleted = true // Avoid subsequent finish trackings
          }
          break
        default:
          // eslint-disable-next-line no-console
          console.warn('Unkown event', data)
      }
    },
    /**
     * Envia un mensaje al iframe
     *
     * @param {string} method El método a enviar al iframe
     * @param {string} value El valor a enviar al iframe
     */
    post(method, value) {
      const data = {
        method,
        value,
      }
      const [iframeSource] = this.playerEl.src.split('?')
      this.playerEl.contentWindow?.postMessage(JSON.stringify(data), iframeSource)
    },
    onReady() {
      this.post('addEventListener', 'play')
      this.post('addEventListener', 'seek')
      this.post('addEventListener', 'pause')
      this.post('addEventListener', 'finish')
      this.post('addEventListener', 'playProgress')
    },
    onPause() {
      if (this.timePercentComplete < 99 && !this.videoPaused) {
        this.$gtag.event('Paused video', {
          event_label: this.label,
          event_category: 'User Interaction',
          value: 0,
        })
        this.videoPaused = true // Avoid subsequent pause trackings
      }
    },
    // Tracking video progress
    onPlayProgress(data = { percent: 0 }) {
      const { percent } = data
      if (!percent) {
        return
      }
      let progress
      this.timePercentComplete = Math.round(percent * 100) // Round to a whole number

      if (this.timePercentComplete > 24 && !this.progress25) {
        progress = 'Played video: 25%'
        this.progress25 = true
      }

      if (this.timePercentComplete > 49 && !this.progress50) {
        progress = 'Played video: 50%'
        this.progress50 = true
      }

      if (this.timePercentComplete > 74 && !this.progress75) {
        progress = 'Played video: 75%'
        this.progress75 = true
      }

      if (progress) {
        this.sendEvent(progress, this.timePercentComplete)
      }
    },
  },
}
</script>
