<template>
  <div>
    <video
      ref="video"
      :src="`/files/images${binder}${url}${extension}`"
      class="w-full h-full"
      loading="lazy"
      width="1100"
      autoplay
      :poster="`/files/images${binder}${poster}`"
      loop
      @click="startPlay(true)"
    >
      Tu navegador no admite el elemento.
      <code>video</code>.
    </video>
  </div>
</template>

<script>
import { ObserveVisibility } from 'vue-observe-visibility'

export default {
  name: 'VideoPlayerAuto',
  directives: { ObserveVisibility },
  props: {
    binder: {
      type: String,
      default: '',
      required: true,
    },
    url: {
      type: String,
      default: '',
      required: true,
    },
    poster: {
      type: String,
      default: '',
    },
    extension: {
      type: String,
      default: '',
      required: true,
    },
  },
  data() {
    return {
      play: false,
    }
  },
  watch: {
    // TODO: meter un watch
    // this.$refs.video.$el
  },
  methods: {
    /** @param {boolean} isVisible is word Visible */
    startPlay(isVisible) {
      if (this.$refs.video instanceof HTMLVideoElement) {
        if (isVisible) {
          // TODO: Hacer esto por eventos de scroll
          this.$refs.video.play()
        } else {
          this.$refs.video.pause()
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
