<template>
  <div class="-mb-10">
    <!--<form-news-letter class="only-mobile mb-8" />-->
    <div v-if="post" :key="post.slug" class="blog-entry container max-w-full relative">
      <aside class="blog-entry__aside blog-entry-aside mb-6">
        <div class="blog-entry-aside__share sticky top-15 flex flex-col justify-end pl-2 text-brand-azul">
          <div class="flex">
          <span>Comparte</span>
          <client-only>
            <SocialSharing
              :url="fullPermalink"
              :title="post.title"
              :description="post.description || post.abstract"
              :hashtags="(post.keywords || []).slice(0, 2).join(',')"
              twitter-user="wdinamo"
            >
              <ul class="flex ml-2 space-x-2">
                <li>
                  <SocialSharingNetwork network="facebook">
                    <fa-icon :icon="['fab', 'facebook']" />
                  </SocialSharingNetwork>
                </li>
                <li>
                  <SocialSharingNetwork network="twitter">
                    <fa-icon :icon="['fab', 'twitter']" />
                  </SocialSharingNetwork>
                </li>
                <li>
                  <SocialSharingNetwork network="telegram">
                    <fa-icon :icon="['fab', 'telegram']" />
                  </SocialSharingNetwork>
                </li>
                <li>
                  <SocialSharingNetwork network="whatsapp">
                    <fa-icon :icon="['fab', 'whatsapp']" />
                  </SocialSharingNetwork>
                </li>
              </ul>
            </SocialSharing>
          </client-only>
          </div>
          <div class="my-6 bg-white p-4">
            <p>¿Te interesa recibir actualizaciones en tu correo?</p><br>
            <button 
              class="btn btn--white flex mx-auto mt-2 border-brand-naranja border-2 lg:mt-0"
              @click="focusOnEmail">
              Suscríbete
            </button>
          </div>
        </div>
      </aside>
      <article class="blog-entry__article z-8 mb-8">
        <header
          class="mb-6 blog-entry__header lg:absolute lg:-translate-y-1/4 top-0 transform -mt-0"
        >
          <h1
            class="h1 font-black mb-0 whitespace-pre-line pt-8 lg:pt-0 text-titleBlog"
            v-text="post.title"
          ></h1>
          <h2 v-if="post.subtitle"
            class="h2 mt-4 font-black mb-0  text-titleBlog"
          >{{ post.subtitle }}</h2>
          <p class="text-brand-naranja">
            {{ post.tag }} -
            <nuxt-link :to="`/equipo?persona=${post.autor}`">{{ post.autor }}</nuxt-link>-
            <time :datetime="post.publishedAt" v-text="postDate"></time>
          </p>
        </header>
        <nuxt-content
          class="content blog-entry__body mt-24"
          :document="{ body: post.body, extension: post.extension }"
        />
      </article>
    </div>
    <aside class="blog-entry__footer bg-brand-azul text-white text-center -mx-3 p-3">
      <h3 class="h3">Artículos relacionados</h3>
      <ul class="grid md:grid-cols-3 gap-4 container">
        <li v-for="entry in relatedArticles" :key="entry.slug" class="w-full">
          <card-blog :post="entry" most-read></card-blog>
        </li>
      </ul>
    </aside>
  </div>
</template>
<script>
import SocialSharing from 'vue-social-sharing/src/social-sharing'
import SocialSharingNetwork from 'vue-social-sharing/src/social-sharing-network'
import { commonHeadTags } from '~/utils/index'
import { SET_BLOG_BACKGROUND, CHANGE_HEADER_COLOR } from '~/utils/mutations'
import CardBlog from '~/components/CardBlog.vue'
// import FormNewsLetter from '~/components/FormNewsLetter.vue'

/** @typedef {import('types').NuxtentBlogPost} NuxtentBlogPost */
export default {
  name: 'A113Slug',
  components: {
    SocialSharing,
    SocialSharingNetwork,
    CardBlog,
    // FormNewsLetter
  },
  scrollToTop: true,
  props: {
    /** @type {import('vue').PropOptions<NuxtentBlogPost[]>} */
    entries: {
      type: Array,
      default: () => [],
    },
  },
  async asyncData({ $content, params, error }) {
    const [post] = await $content('a113', { deep: true })
      .where({
        slug: {
          $regex: params.slug,
        },
      })
      .fetch()
    if (!post) {
      return error({ statusCode: 404 })
    }
    post.publishedAt =
      post.publishedAt instanceof Date
        ? post.publishedAt
        : new Date(post.publishedAt)
    return {
      post,
    }
  },
  data() {
    return {
      /** @type {NuxtentBlogPost|null} */
      post: null,
      coverWidth: '0px',
      coverLoaded: false,
    }
  },

  computed: {
    /** @returns {string} */
    formatedDate() {
      return new Date(this.post?.publishedAt || '').toLocaleDateString()
    },
    /** @returns {string} */
    coverImage() {
      return this.post?.image_cover
        ? `/files/images/${this.post.image_cover}`
        : ''
    },
    /** @returns {string} */
    fullPermalink() {
      return `https://www.dinamo.mx/${this.$route.fullPath}`
    },
    /** @returns {NuxtentBlogPost[]} */
    relatedArticles() {
      return this.entries
        .filter((entry) => entry.slug !== this.post?.slug)
        .slice(0, 3)
    },
    /** @returns {string} */
    postDate() {
      return (
        this.post?.publishedAt.toLocaleDateString('es-MX', {
          month: 'numeric',
          year: 'numeric',
          day: 'numeric',
        }) || ''
      )
    },
  },
  mounted() {
    this.syncHeaderAndCover()
  },
  activated() {
    this.syncHeaderAndCover()
  },
  methods: {
    syncHeaderAndCover() {
      const cover = this.post?.image_cover
      const headerStyle = this.post?.header_color
      this.$store.commit(
        SET_BLOG_BACKGROUND,
        cover ? `/files/images/${cover}` : null
      )
      this.$store.commit(CHANGE_HEADER_COLOR, headerStyle)
    },
    focusOnEmail(){
      // console.log('focus found');
      
      const emailinput = document.querySelector('#mce-EMAIL');
      if(emailinput){
        emailinput.focus();
      }
    }
  },
  head() {
    if (this.post) {
      /** @type {NuxtentBlogPost} */
      const p = this.post
      return commonHeadTags(p)
    }
    return {}
  },
  meta: {
    headerIsDark: 'alternate',
  },
}
</script>

<style lang="scss">
.blog-entry {
  display: grid;
  width: 100%;
  gap: theme('spacings.2');
  grid-template-columns: 100%;

  @include lg {
    justify-content: center;
    grid-template-columns: 20ch 60ch;
  }
  /* stylelint-disable */
  table{
    border-collapse: collapse;
    background: rgba($white, 0.6);
    border-radius: .25rem;
    th{
      border:0;
      border-bottom: 1px solid rgba($black, 0.5);
    }
    td{
      border:0;
      padding: 0.5rem;
      &:not(last-child){
        border-bottom: 1px solid rgba($black, 0.25);
      }
    }
    /* stylelint-enable */
  }

  &__header {
    @include lg {
      text-shadow: none;
    }
  }

  &__aside {
    grid-row: 2;
    @include lg {
      grid-row: 1;
    }
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top-15 {
  top: 15%;
}

</style>
