<template>
  <transition name="fade" class="blog">
    <!-- Renderiza unicamente los filtros que se hagan -->
    <div v-if="category" class="container">
      <h2 class="a113__title">
        {{ searchTerm ? `Buscando... ${searchTerm}` : category }}
      </h2>
      <transition-group name="fade" tag="div" class="a113__body">
        <article
          v-for="entrada in paginatedEntries"
          :key="entrada.slug"
          class="a113__cards"
        >
          <card-blog :post="entrada" />
        </article>
      </transition-group>

      <!-- En caso de que no se encuentren coincidencias de busqueda -->
      <h3
        v-if="!paginatedEntries.length"
        class="h1 py:10 md:py-16 text-center text-microCopy"
      >
        No se han encontrado coincidencias.
      </h3>

      <!-- Botones de paginación -->
      <div
        v-if="countPages > 1 && paginatedEntries.length"
        class="flex justify-center mt-10"
      >
        <nuxt-link
          v-for="(page, i) in countPages"
          :key="i"
          class="a113__pagination"
          active-class="a113__pagination--active"
          exact
          :to="{
            path: $route.path,
            ...(page === 1 ? {} : { query: { page: page } }),
          }"
        >
          {{ page }}
        </nuxt-link>
      </div>
    </div>

    <!-- Renderiza nuestro index del blog -->
    <div v-else>
      <!--
          Lo mas reciente

          TODA ESTA SECCIÓN SE VA A RENDERIZAR CUANDO LA RUTA SEA /a113
          Y NO EXISTA UNA BÚSQUEDA.
      -->
      <div v-if="!searchTerm">
        <div class="container">
          <h2 class="a113__title">Lo más reciente</h2>
          <transition-group
            name="fade"
            move-class="flip-list-move"
            tag="div"
            class="a113__body"
          >
            <article
              v-for="(entrada, i) in paginatedEntries"
              :key="entrada.slug"
              class="a113__cards"
            >
              <card-blog :post="entrada" :color-author="i % 1 ? true : false" />
            </article>
          </transition-group>
        </div>

        <!-- Destacado 1 -->
        <div class="container pt-8 pb-2">
          <transition-group name="fade" move-class="flip-list-move" tag="div">
            <article
              v-for="(entrada, i) in filteredPosts.postsMain"
              :key="entrada.slug"
            >
              <card-blog v-if="i === 0" :post="entrada" main />
            </article>
          </transition-group>
        </div>

        <!-- Lo mas leído -->
        <div class="container">
          <h2 class="a113__title">Lo más leído</h2>
          <transition-group
            name="fade"
            move-class="flip-list-move"
            tag="div"
            class="a113__body a113__body--small"
          >
            <article
              v-for="(entrada, i) in mostReaded"
              :key="entrada.slug"
              class="a113__cards"
            >
              <card-blog
                :post="entrada"
                :color-author="i % 1 ? true : false"
                most-read
              />
            </article>
          </transition-group>
        </div>

        <!-- Destacado 2 -->
        <div class="container pt-8 pb-2 mb-14 sm:mb-16">
          <transition-group name="fade" move-class="flip-list-move" tag="div">
            <article
              v-for="(entrada, i) in filteredPosts.postsMain"
              :key="entrada.slug"
            >
              <card-blog v-if="i === 1" :post="entrada" main />
            </article>
          </transition-group>
        </div>

        <!-- Web -->
        <div class="a113__wrapp-category a113__wrapp-category--gray -mx-3 px-3">
          <div class="container">
            <h2 class="a113__title a113__title--gray">Diseño Web</h2>
            <transition-group
              name="fade"
              move-class="flip-list-move"
              tag="div"
              class="a113__body"
            >
              <article
                v-for="entrada in filteredPosts.postsWeb"
                :key="entrada.slug"
              >
                <card-blog :post="entrada" category />
              </article>
            </transition-group>
          </div>
        </div>

        <!-- UX -->
        <div class="a113__wrapp-category -mx-3 px-3">
          <div class="container">
            <h2 class="a113__title a113__title--gray">UX</h2>
            <transition-group
              name="fade"
              move-class="flip-list-move"
              tag="div"
              class="a113__body"
            >
              <article
                v-for="entrada in filteredPosts.postsUx"
                :key="entrada.slug"
              >
                <card-blog :post="entrada" category />
              </article>
            </transition-group>
          </div>
        </div>
      </div>

      <!--
          ESTA SECCIÓN SE VA A MOSTRAR ÚNICAMENTE CUANDO EXISTA UNA BÚSQUEDA
       -->
      <div v-else class="container">
        <h2 class="a113__title">
          {{ `Buscando... ${searchTerm}` }}
        </h2>
        <transition-group name="fade" tag="div" class="a113__body">
          <article
            v-for="entrada in paginatedEntries"
            :key="entrada.slug"
            class="a113__cards"
          >
            <card-blog :post="entrada" />
          </article>
        </transition-group>

        <!-- En caso de que no se encuentren coincidencias de busqueda -->
        <h3
          v-if="!paginatedEntries.length"
          class="h1 py:10 md:py-16 text-center text-microCopy"
        >
          No se han encontrado coincidencias.
        </h3>

        <!-- Botones de paginación -->
        <div
          v-if="countPages > 1 && paginatedEntries.length"
          class="flex justify-center mt-10"
        >
          <nuxt-link
            v-for="(page, i) in countPages"
            :key="i"
            class="a113__pagination"
            active-class="a113__pagination--active"
            exact
            :to="{
              path: $route.path,
              ...(page === 1 ? {} : { query: { page: page } }),
            }"
          >
            {{ page }}
          </nuxt-link>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import CardBlog from '~/components/CardBlog.vue'
import { tagsMap, findTagBySlug } from '~/assets/data/tags-map'

export default {
  name: 'PageA113YearIndex',
  components: {
    CardBlog,
  },
  props: {
    // Recibe todos los post
    /** @type {import('vue').PropOptions<import('types').NuxtentBlogPost[]>} */
    entries: {
      type: Array,
      default: () => [],
    },
    // Contiene la cadena de texto a buscar
    searchTerm: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      tagsMap,
    }
  },
  computed: {
    /**
     * Detecta el valor que puede tomar currentPage, retornando siempre un
     * número.
     */
    /** @returns {number} */
    currentPage() {
      let currentPage = this.$route.query.page || 1
      if (Array.isArray(currentPage)) {
        if (currentPage.length > 0) {
          currentPage = currentPage[0] || 1
        } else {
          currentPage = 1
        }
      }
      if (typeof currentPage === 'string') {
        currentPage = Number.parseInt(currentPage, 10)
      }
      return currentPage
    },

    /**
     * Los post que esten destacados como mostReaded, se van a ordenar en una
     * copia de los posts filtrados.
     * Nosotros vamos a destacar que articulos queremos mostrar como los más
     * leídos.
     */
    /** @returns {import('types').NuxtentBlogPost[]} */
    mostReaded() {
      if (this.category) {
        return []
      }
      return [...this.filteredEntries]
        .sort(
          (entryA, entryB) =>
            (entryB.mostReaded || 0) - (entryA.mostReaded || 0)
        )
        .slice(0, 4)
    },

    /**
     * Regresa un número de posts a mostrar diferente en caso de existir un
     * filtro o no.
     */
    /** @returns {number} */
    entriesPerPage() {
      if (this.category || (this.$route.path === '/a113' && this.searchTerm)) {
        return 10
      }
      return 6
    },
    /** @returns {string|undefined} */
    category() {
      const [category] = findTagBySlug(this.$route.params.year) || []
      return category
    },

    /**
     * Regresa un arreglo de las entradas que se van a mostrar, en caso de
     * existir un filtro, regresa el número determinado por entriesPerPage.
     * En caso de no existir el filtro, regresa todos los post excepto los
     * que estan marcados como destacados.
     */
    /** @returns {import('types').NuxtentBlogPost[]} */
    filteredEntries() {
      const filter = this.category
      if (!filter) {
        // R`egresa los post excepto los que estan marcados como destacados
        return this.entries.filter(({ main }) => !main)
      }

      // En caso de haber filtro, se ejecuta toda esta sección del código
      const filteredOnes = []

      for (let i = 0; i < this.entries.length; i++) {
        const entry = this.entries[i]

        if (filter === 'Todas las categorías') {
          filteredOnes.push(entry)
        } else if (entry.tag === filter) {
          filteredOnes.push(entry)
        } else {
          let date =
            typeof entry.publishedAt === 'string'
              ? new Date(entry.publishedAt)
              : entry.publishedAt
          if (date.getFullYear().toString() === filter) {
            filteredOnes.push(entry)
          }
        }
      }
      return filteredOnes
    },

    // Regresa un arreglo de los post que se van a mostrar
    /** @returns {import('types').NuxtentBlogPost[]} */
    paginatedEntries() {
      /**
       * Por defecto va a regresar 10 elementos, ya que currentPage está
       * inicializada en 1.
       */

      const currentPosts = this.filteredEntries.slice(
        this.entriesPerPage * (this.currentPage - 1),
        this.entriesPerPage * this.currentPage
      )
      return currentPosts
    },

    // Regresa los posts que se van a pintar en el index del blog
    /** @returns {object} */
    filteredPosts() {
      if (this.category) {
        return []
      }

      // Regresa solo los post que estan marcados como destacados
      const postsMain = this.entries.filter(({ main }) => main)
      // Regresa solo los post que estan marcados como web
      const postsWeb = this.entries.filter(
        ({ tag, keywords }) => tag === 'web' || keywords.includes('Diseño web')
      )
      // Regresa solo los post que estan marcados como UX
      const postsUx = this.entries.filter(
        ({ tag, keywords }) => tag === 'ux' || keywords.includes('UX')
      )

      return {
        postsMain,
        postsWeb,
        postsUx,
      }
    },

    // Obtiene el numero de las paginas para usarlo cuando exista un filtro
    /** @returns {number} */
    countPages() {
      /**
       * Divide el número de posts que devuelva filteredEntries entre el número
       * de posts por página que va a devolver entriesPerPage.
       */
      const pages = Math.ceil(this.filteredEntries.length / this.entriesPerPage)
      return pages
    },
  },
  head: {
    title: 'A113',
  },
  meta: {
    headerIsDark: true,
  },
  validate({ route }) {
    const { year } = route.params
    if (typeof year === 'undefined' || year === '') {
      return true
    }
    // Mantiene las rutas por año
    if (year.match(/20\d{2}/)) {
      return true
    }
    return !!findTagBySlug(year)
  },
}
</script>
