<template>
  <main ref="bodyPortafolio" class="prtfl-item">
    <div :class="heroTextColor" class="hero prtfl-item__box-height relative">
      <image-responsive
        :src="'/files/images' + cover"
        sizes="100vw"
        class="prtfl-item__image"
        image-classes="w-full h-full"
        alt="Agencia de comunicación y diseño"
      />
      <div class="prtfl-item__intro-box">
        <h1 class="title h1 text-center">{{ title }}</h1>
        <h2
          class="subtitle h5 p-2 md:w-3/4 xl:w-3/5 xxl:w-1/2 mx-auto text-grayLight text-center"
        >
          {{ description }}
        </h2>
        <div v-if="projectLink" class="flex justify-center items-center py-2">
          <a
            :href="`${projectLink}?ref=dinamo.mx`"
            class="btn btn--slugPortafolio"
            target="_blank"
            rel="noopener noreferrer"
          >
            Visitar
          </a>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="md:w-3/4 xl:w-3/5 xxl:w-1/2 mx-auto text-center">
        {{ abstract }}
      </div>
      <div class="container">
        <nuxt-content class="content" :document="{ body, extension: 'md' }" />
      </div>
    </div>
    <hr />
    <modal-contact />
  </main>
</template>

<script>
import ModalContact from '~/components/ModalContact.vue'

/**
 * Plantilla base del portafolio
 */

export default {
  name: 'PortafolioBasic',
  components: {
    ModalContact,
  },
  props: {
    title: {
      type: String,
      default: '',
      required: true,
    },
    abstract: {
      type: String,
      default: '',
    },
    body: {
      type: [Object, String],
      default: '',
      required: true,
    },
    cover: {
      type: String,
      default: '',
      required: true,
    },
    description: {
      type: String,
      default: '',
      required: true,
    },
    projectLink: {
      type: String,
      default: '',
    },
    heroTextColor: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss">
:root {
  --height-banner: calc(100vh - 14px);
}

@keyframes slideUpIn {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.prtfl-item {
  .hero {
    img {
      object-position: top;
    }
  }

  &__box-height {
    height: 100vh;

    @media #{$mq-lg} {
      height: var(--height-banner);
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: theme('width.full');
    height: var(--height-banner);
  }

  &__intro-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: ritmo(1);
    background: rgba(33, 31, 53, 0.7);
    transform: translateY(100%);
    animation: slideUpIn 0.3s 1s ease-out forwards;
  }
}

.section {
  &--image {
    // min-height: 100vh;
    padding-right: 0 !important;
    padding-left: 0 !important;

    .container {
      overflow: hidden;
    }
  }
}
</style>
