<template>
  <div class="case-behance">
    <div class="section">
      <div class="container">
        <h1
          class="title h1 text-center md:mt-12 md:mb-12 text-brand-naranja"
          v-text="title"
        />
        <div class="shadow-md rounded-lg overflow-hidden relative">
          <nuxt-content class="content" :document="{ body, extension: 'md' }" />
          <p
            v-if="showDescription"
            class="case-behance__description"
            :class="[textClasses, { 'case-behance__maxImg': maxImg }]"
            v-text="description"
          />
        </div>
      </div>
    </div>
    <hr />
    <modal-contact />
  </div>
</template>

<script>
import ModalContact from '~/components/ModalContact.vue'
/**
 * Layout asemejando a behance
 */

export default {
  name: 'PortafolioBehance',
  components: {
    ModalContact,
  },
  props: {
    title: {
      type: String,
      default: '',
      required: true,
    },
    body: {
      type: [Object, String],
      default: '',
      required: true,
    },
    textClasses: {
      type: String,
      default: '',
    },
    cover: {
      type: String,
      default: '',
      required: true,
    },
    description: {
      type: String,
      default: '',
      required: true,
    },
    projectLink: {
      type: String,
      default: '',
    },
    showDescription: {
      type: Boolean,
      default: false,
    },
    maxImg: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="scss">
.case-behance {
  .image-responsive {
    display: block;
  }

  &__description {
    position: absolute;
    top: 15%;
    left: 0;
    z-index: 10;
    width: theme('width.1/2');
    margin-left: theme('margin.4');
    font-size: 0.7em;
    line-height: 1.4em;

    @screen xsm {
      font-size: 0.75em;
      line-height: 1.6em;
    }
    @screen sm {
      top: 18%;
      font-size: 0.9em;
    }
    @screen md {
      margin-left: theme('margin.6');
      font-size: theme('fontSize.base');
    }
    @screen lg {
      width: calc(theme('width.1/2') - theme('spacings.12'));
      margin-left: theme('margin.16');
      font-size: theme('fontSize.h6');
    }
    @screen xl {
      width: calc(theme('width.1/2') - theme('spacings.24'));
      margin-left: theme('margin.24');
    }
  }

  &__maxImg {
    top: 11%;

    @screen sm {
      top: 13%;
    }
  }
}
</style>
