<template>
  <v-carousel
    v-bind="$attrs"
    navigation-enabled
    class="case-slider"
    pagination-active-color="#f83f28"
    pagination-color="#e2e8f0"
  >
    <v-slide v-for="n in slides" :key="n">
      <slot :name="n">Slide {{ n }}</slot>
    </v-slide>
  </v-carousel>
  <!-- <div>
    <div v-for="n in slides" :key="n" class="border border-red-600">
      <slot :name="n">Slide {{ n }}</slot>
    </div>
  </div> -->
</template>

<script>
import VCarousel from 'vue-carousel/src/Carousel.vue'
import VSlide from 'vue-carousel/src/Slide.vue'

export default {
  name: 'PortafolioCaseSlider',
  components: {
    VCarousel,
    VSlide,
  },
  props: {
    slides: {
      type: Number,
      default: 1,
    },
  },
}
</script>

<style lang="scss">
/* stylelint-disable-next-line selector-class-pattern */
.case-slider .VueCarousel-navigation-button {
  color: inherit;
}

/* stylelint-disable-next-line selector-class-pattern */
.case-slider .VueCarousel-navigation-prev {
  left: 10%;
  z-index: 10;

  @screen md {
    left: 5%;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.case-slider .VueCarousel-navigation-next {
  right: 10%;
  z-index: 10;

  @screen md {
    right: 5%;
  }
}
</style>
