<template>
  <main class="caso-e">
    <div class="fixed top-0 right-0 z-10 w-8 mr-2 h-screen">
      <ul class="flex flex-col justify-center w-full h-full">
        <!-- Se usa el v-for para pintar un circulo de navegacion
        por cada seccion dentro del documento-->
        <li v-for="(item, i) in items" :key="i" class="flex justify-center w-full my-3">
          <div
            class="hidden md:block w-2 h-2 rounded-t-full rounded-b-full cursor-pointer"
            :class="
              i === currentItemIndex
                ? 'is-active-section'
                : 'is-desactive-section'
            "
            @click="item.section ? item.section.scrollIntoView() : () => ({})"
          />
        </li>
      </ul>
    </div>
    <nuxt-content
      ref="headCasos"
      :document="{ body, extension: 'md' }"
      @hook:mounted="totalSections"
    />

    <div class="bg-brand-azul">
      <transition name="fade" mode="out-in">
        <div v-if="showForm" key="form" class="relative bg-brand-azul">
          <div class="relative w-full md:w-5/6 lg:w-4/6 mx-auto">
            <button class="cross-close" @click="showForm = !showForm">
              <fa-icon class="cross-close--text" :icon="['fa', 'times']" />
            </button>
            <form-contact-basic v-if="showForm" minimal white />
          </div>
        </div>

        <!-- Seccion del boton / form oculto -->
        <div v-if="!showForm" key="cta" class="bg-brand-azul text-white text-center py-6">
          <p class="text-grayLight px-3">Forma parte de nuestros casos de éxito</p>
          <p>
            <button class="btn btn--orange btn--large mt-4" @click="showForm = !showForm">Cotiza</button>
          </p>
        </div>
      </transition>
    </div>
  </main>
</template>

<script>
import FormContactBasic from '~/components/FormContactBasic.vue'
/**
 * Template nuevo para casos de estudio
 */

export default {
  name: 'PortafolioCase',
  components: {
    FormContactBasic,
  },
  props: {
    title: {
      type: String,
      default: '',
      required: true,
    },
    body: {
      type: [Object, String],
      default: '',
      required: true,
    },
    cover: {
      type: String,
      default: '',
      required: true,
    },
    description: {
      type: String,
      default: '',
      required: true,
    },
    excerpt: {
      type: String,
      default: '',
      required: true,
    },
  },
  data: () => ({
    showForm: false,
    /** @type {{section: HTMLElement | null, topSection: number}[]} */
    items: [],
    currentItemIndex: 0,
    /** @type {IntersectionObserver|null} */
    observer: null,
  }),
  mounted() {
    this.createObserver()
  },
  methods: {
    createObserver() {
      if (this.observer) {
        return
      }
      this.observer = new IntersectionObserver((entries) => {
        const entry = entries.find((entryToFind) => entryToFind.isIntersecting)
        if (entry) {
          this.currentItemIndex = this.items.findIndex(
            ({ section }) => entry.target === section
          )
        }
      })
    },
    totalSections() {
      const nBody = /** @type {Vue} */ (this.$refs.headCasos).$el
      if (!nBody || !nBody.querySelector) {
        // eslint-disable-next-line no-console
        console.warn('No existe nbody', {
          nBody,
          component: this.$refs.headCasos,
        })
        return
      }
      const numberSections = nBody.querySelectorAll('section')
      if (!this.observer) {
        this.createObserver()
      }
      // eslint-disable-next-line unicorn/prefer-spread
      this.items = Array.from(numberSections).map((section) => {
        if (section instanceof HTMLElement && this.observer) {
          this.observer.observe(section)

          return {
            section,
            topSection: section.getBoundingClientRect().top,
          }
        }
        // TODO: change this type of node detections
        // eslint-disable-next-line no-console
        console.warn('CASE: missing section', { section })
        return { section: null, topSection: 0 }
      })
      this.nextSection()
    },

    nextSection() {
      const time = 5

      setTimeout(() => {
        const top =
          ((this.items || [])[1] || {}).topSection || window.innerHeight
        if (window.scrollY === 0) {
          window.scroll({ top })
        }
      }, time * 1000)
    },
  },
}
</script>

<style lang="scss" scoped>
.is-active-section {
  background: rgba(220, 221, 225, 0.7);
}

.is-desactive-section {
  background: rgba(220, 221, 225, 0.1);
}

.cross-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
  padding: 0.4rem;
  margin-right: theme('margin.2');
  border-radius: 50%;

  &--text {
    color: theme('colors.grayLight');
    transition: color 300ms ease-in;

    &:hover,
    &:focus,
    &:active {
      color: theme('colors.brand.naranja');
    }
  }
}
</style>
