<template>
  <section
    id="introduccion"
    class="text-grayLight case-hero__section bg-brand-azul"
  >
    <div class="container case-hero__hero-grid">
      <div class="case-hero__logo">
        <!-- Logo del cliente en monocromo transparente al 75% aprox -->
        <img
          :src="logo"
          alt="Logotipo de Cresta del Valle"
          class="inline-block h-32 md:h-48 object-contain"
        />
      </div>
      <h2 class="case-hero__title">
        <slot name="title" />
      </h2>
      <div class="case-hero__excerpt h5 content">
        <slot />
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'PortafolioCaseHero',
  props: {
    logo: {
      type: String,
      default: '/files/images/portafolio/layout_caso/logo_cresta.png',
    },
  },
}
</script>

<style lang="scss">
.case-hero {
  &__intro {
    @extend %title-4;
    @apply font-thin text-center w-full uppercase self-start;
  }

  &__section {
    // From .section
    display: flex;
    padding: theme('padding.14') theme('padding.3') theme('padding.8');
    align-items: stretch;
    @media #{$mq-lg} {
      min-height: 100vh;
    }
  }

  &__hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto theme('spacings.48') auto;
    grid-row-gap: theme('spacings.2');

    @media #{$mq-sm} {
      grid-template-columns: 2fr 1fr 3fr;
      grid-row-gap: theme('spacings.6');
      grid-template-rows: auto theme('spacings.48') auto;
    }

    @media #{$mq-md} {
      padding-right: theme('padding.8');
      padding-left: theme('padding.3');
      align-content: space-between;
      grid-template-columns: 2fr 1fr 2fr;
      grid-row-gap: theme('spacings.2');
      grid-template-rows: auto 1fr 1fr auto;
      grid-column-gap: theme('spacings.2');
    }
    @media #{$mq-lg} {
      padding-right: theme('padding.6');
    }
  }

  &__hero-grid & {
    &__intro {
      grid-column: 1 / -1;
      grid-row: 1;
    }

    &__logo {
      grid-row: 3;
      grid-column: 1/4;
      align-self: center;
      text-align: center;
      @media #{$mq-sm} {
        text-align: left;
        grid-row: 2;
        grid-column: 1/3;
      }
      @media #{$mq-md} {
        text-align: center;
        grid-column: 1/2;
        grid-row: 2/4;
      }
    }

    &__title {
      grid-column: 1/4;
      grid-row: 2;
      align-self: center;
      @media #{$mq-sm} {
        grid-column: 2/4;
      }
      @media #{$mq-md} {
        align-self: end;
      }
    }

    &__excerpt {
      grid-column: 1/4;
      @media #{$mq-md} {
        grid-column: 2/4;
        grid-row: 3;
      }
    }
  }

  &__excerpt {
    font-size: theme('fontSize.h6');
  }

  &__title {
    position: relative;
    margin-bottom: theme('spacings.2');
    font-size: theme('fontSize.h2');
    line-height: theme('spacings.6');
    text-align: center;
    letter-spacing: theme('letterSpacing.widest');
    white-space: pre-line;
    @media #{$mq-sm} {
      text-align: right;
    }

    span:nth-child(2) {
      letter-spacing: theme('letterSpacing.tighter');
    }
    // text-h3 leading-h5 mb-4 whitespace-pre-line tracking-tighter text-right

    &::after {
      position: absolute;
      top: 100%;
      left: calc(50% - 2rem);
      display: block;
      width: 4rem;
      height: 4px;
      content: '';
      background-color: $brand-naranja;
      @media #{$mq-sm} {
        right: 0;
        left: auto;
      }
    }
  }
}
</style>
