<template>
  <ul class="case-accordion">
    <li class="case-accordion__mirror">
      <transition :name="transition" mode="out-in">
        <img
          :key="activeIndex"
          class="case-accordion__mirror-image"
          :src="currentItem.image"
          :alt="currentItem.caption"
        />
      </transition>
    </li>
    <li v-for="(item, i) in items" :key="i" class="case-accordion__item">
      <figure class="case-accordion__fig">
        <img
          class="case-accordion__img"
          :class="{ 'is-active': i === activeIndex }"
          :src="item.image"
          :alt="item.caption"
        />
        <figcaption>
          <button
            class="case-accordion__trigger"
            :class="{ 'is-active': i === activeIndex }"
            @click="manuallyChangeIndex(i)"
            v-text="item.caption"
          />
        </figcaption>
      </figure>
    </li>
  </ul>
</template>

<script>
const defaultimage = '/images/placeholder/example_thumb.jpg'
/**
 * @typedef {object} AccordionItem
 * @property {string} image
 * @property {string} caption
 */

export default {
  name: 'PortafolioCaseAccordion',
  props: {
    items: {
      /** @type { { (): AccordionItem[] } } */
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      activeIndex: 0,
      transition: 'up-in',
      /** @type {null|NodeJS.Timeout} */
      intervalref: null,
    }
  },
  computed: {
    /** @returns {AccordionItem} */
    currentItem() {
      return (
        this.items[this.activeIndex] || { caption: 'NOPE', image: defaultimage }
      )
    },
  },
  watch: {
    activeIndex(newValue, oldValue) {
      this.transition = newValue > oldValue ? 'up-in' : 'down-in'
    },
  },
  beforeDestroy() {
    if (this.intervalref) {
      clearInterval(this.intervalref)
    }
  },
  methods: {
    /** @param {number} i El index del item a activar */
    manuallyChangeIndex(i) {
      if (this.intervalref) {
        clearInterval(this.intervalref)
      }
      this.activeIndex = i
      this.timeShow()
    },
    timeShow() {
      const total = this.items.length - 1
      this.intervalref = setInterval(() => {
        if (this.activeIndex >= total) {
          this.activeIndex = 0
        } else {
          this.activeIndex += 1
        }
      }, 3500)
    },
  },
}
</script>

<style lang="scss">
.case-accordion {
  position: relative;
  width: 100%;
  margin-bottom: theme('margin.12');

  @media #{$mq-md} {
    margin-bottom: theme('margin.20');
  }
  @media #{$mq-lg} {
    margin-bottom: theme('margin.24');
  }
  @media #{$mq-xl} {
    margin-bottom: theme('margin.32');
  }

  &__img {
    display: none;

    &.is-active {
      display: block;
      @media #{$mq-md} {
        display: none;
      }
    }
  }

  &__fig {
    display: flex;
    flex-direction: column-reverse;
  }

  &__item {
    margin-bottom: theme('spacings.2');

    @screen md {
      width: 60%;
      padding-right: 2rem;
    }
    @screen xl {
      margin-bottom: theme('spacings.4');
    }
  }

  &__trigger {
    position: relative;
    padding-left: theme('padding.2');
    text-align: left;
    transition: 300ms ease-in;
    transition-property: color, text-decoration;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      width: 2px;
      height: 100%;
      content: '';
      background: theme('colors.brand.naranja');
      transition: transform 300ms ease-in;
      transform: scaleY(0);
    }

    &:hover::before {
      transform: scaleY(1);
    }

    &.is-active {
      color: $brand-naranja;
      text-decoration: underline;
    }
  }

  &__mirror {
    position: relative;
    display: none;
    float: right;
    width: 39%;

    @media #{$mq-md} {
      display: block;
    }
  }

  &__mirror-image {
    top: 0;
    left: 0;
    max-height: theme('height.48');
    margin-top: 1.5rem;
    box-shadow: 3rem -3rem $brand-naranja;

    @media #{$mq-xl} {
      max-height: theme('height.64');
    }
  }
}

.up-in,
.down-in {
  &-enter-active,
  &-leave-active {
    transition: 325ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-property: transform, opacity;
  }

  &-leave-to {
    opacity: 0;
    transform: translate(0, -25%);
  }

  &-enter {
    opacity: 0;
    transform: translate(0, 25%);
  }

  &-enter-to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.down-in {
  &-leave-to {
    transform: translate(0, 25%);
  }

  &-enter {
    transform: translate(0, -25%);
  }
}
</style>
