<template>
  <section
    class="case-sect"
    :style="
      imgBackground ? `background-image: url('${imgBackground}.png');` : ''
    "
  >
    <h2 class="case-sect__h1" v-text="h1" />
    <div class="container">
      <h3 class="case-sect__h2" v-text="h2" />
      <slot />
    </div>
  </section>
</template>

<script>
export default {
  name: 'PortafolioCaseSection',
  props: {
    h1: {
      type: String,
      default: 'Titulo 1',
    },
    h2: {
      type: String,
      default: 'Titulo 2 que puede ser muy largo y bonito',
    },
    imgBackground: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
.case-sect {
  @apply px-2 relative py-8 flex flex-col justify-center bg-brand-azul text-white;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  &__h1 {
    @apply absolute bottom-0 right-0 mr-2 font-thin uppercase text-h4;
    line-height: 1;
    color: rgba(108, 102, 176, 0.3);

    @screen sm {
      font-size: theme('fontSize.h1');
    }
    @screen md {
      margin-right: theme('margin.8');
      font-size: 65px;
    }
    @screen lg {
      font-size: 80px;
    }
    @screen xl {
      font-size: 95px;
    }
  }

  &__h2 {
    @apply text-center font-bold text-h1 mb-12 max-w-xl uppercase leading-h1 mx-auto;
  }
}
</style>
