<template>
  <div
    v-observe-visibility="{
      callback: visibilityChanged,
      once: true,
    }"
    class="counter text-center py-2"
  >
    <span :class="classCounter">
      <slot name="number" :number="computedNumber">
        {{ computedNumber }}
      </slot>
    </span>
    <span class="counter__text text-h5 text-brand-naranja">
      <slot v-if="title" name="title">
        {{ title }}
      </slot>
    </span>
    <span class="counter__text text-grayLight"><slot /></span>
  </div>
</template>

<script>
import { ObserveVisibility } from 'vue-observe-visibility'
import { TweenLite } from 'gsap'

export default {
  name: 'PortafolioNumberCounter',
  directives: { ObserveVisibility },
  props: {
    number: {
      type: Number,
      default: 525,
    },
    classCounter: {
      type: String,
      default: 'counter__number',
    },
    title: {
      type: String,
      default: '',
    },
    initCounter: {
      type: Number,
      default: 0,
    },
    timer: {
      type: Number,
      default: 5,
    },
  },
  data() {
    return {
      t: {
        value: this.initCounter,
      },
      isVisible: false,
    }
  },
  computed: {
    /** @returns {string} */
    computedNumber() {
      let number =
        typeof this.t.value === 'number'
          ? this.t.value
          : Number.parseInt(this.t.value, 10)
      number = Math.round(number)
      return number.toLocaleString('en-US')
    },
  },
  methods: {
    /** @param {boolean} isVisible is word Visible */
    visibilityChanged(isVisible) {
      this.isVisible = isVisible
      if (isVisible) {
        this.doTween()
      }
    },
    doTween() {
      TweenLite.to(this.t, this.timer, {
        value: this.number,
        roundprops: 'value',
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.counter {
  &__number {
    @apply text-brand-naranja text-h3 font-bold leading-h4;
  }

  &__text {
    display: block;
    line-height: 24px;
  }
}
</style>
