.a113 {
  &__body {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;

    @include md {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: theme("spacings.4");
      padding-right: theme("padding.3");
      padding-left: theme("padding.3");
    }
    @include xl {
      grid-row-gap: theme("spacings.4");
    }

    &--small {
      @include sm {
        grid-template-columns: 1fr 1fr;
      }
      @include lg {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }

  &__cards {
    &:nth-child(even) {
      color: theme("colors.white");
      background: $micro-copy;

      @include sm {
        color: theme("colors.text");
        background: transparent;
      }
    }
  }

  &__title {
    padding: theme("padding.8") theme("padding.3") 0;
    font-size: theme("fontSize.h4");
    line-height: theme("lineHeight.h4");

    @include sm {
      padding-top: theme("padding.6");
    }
    @include lg {
      padding-top: theme("padding.4");
      margin-bottom: theme("margin.2");
      font-size: theme("fontSize.h1");
      line-height: theme("lineHeight.h1");
    }

    &--gray {
      font-weight: theme("fontWeight.medium");
      color: $micro-copy;
    }
  }

  &__wrapp-category {
    background: $white;
    border-top-left-radius: theme("spacings.6");
    border-top-right-radius: theme("spacings.6");

    &:not(:first-child) {
      margin-top: calc(-1 * theme("spacings.8"));
    }

    &:not(:last-child) {
      padding-bottom: theme("spacings.18");
    }

    &--gray {
      background: #c4c4c4;
    }
  }

  &__pagination {
    padding: theme("padding.2");
    margin-right: theme("margin.1");
    margin-left: theme("margin.1");
    font-weight: theme("fontWeight.bold");
    color: $white;
    background: theme("colors.brand.azul");
    transition: transform 200ms ease-in;
    transform: scale(1);

    &:hover,
    &:active {
      transform: scale(1.1);
    }

    &--active {
      color: $brand-naranja;
    }
  }
}
