$transition-duratuion: 300ms;

.acordeon-number-desktop {
  display: none;
  justify-content: space-between;
  margin-top: theme("margin.6");

  @media #{$mq-lg} {
    display: flex;
  }

  &__menu {
    width: theme("width.1/4");
  }

  &__menu-list {
    &:not(:last-child) {
      margin-bottom: theme("margin.6");
    }
  }

  &__menu-label {
    position: relative;
    display: block;
    font-size: theme("fontSize.h5");
    color: theme("colors.microCopy");
    cursor: pointer;
    transition: $transition-duratuion ease-in-out;
    transition-property: transform, color;
    transform: translateX(0);

    &:hover,
    &:focus,
    &:active,
    &.is-active {
      color: theme("colors.brand.naranja");
      transform: translateX(theme("spacings.4"));
    }
  }

  &__menu-item {
    display: inline-block;
    width: 100%;
  }

  &__submenu {
    display: flex;
    width: theme("width.3/4");
  }

  &__submenu-item {
    position: relative;
    display: flex;
    min-width: 100%;
    overflow: hidden;
    // background: theme('colors.red.100');
    transition: transform $transition-duratuion ease-in-out;
  }

  &__shadow-title {
    position: absolute;
    bottom: theme("spacings.1");
    left: 0;
    width: 100%;
  }
}
