// Duracion de la transicion al desplegar el menu
$time-transition: 300ms;

.acordeon-number-mobile {
  display: block;

  @media #{$mq-lg} {
    display: none;
  }

  &__menu {
    padding: theme("padding.6") 0;
  }

  &__menu-list {
    width: 100%;
    overflow: hidden;
  }

  &__menu-item {
    position: relative;
    z-index: 10;
    width: 100%;
    padding-right: theme("padding.2");
    padding-left: theme("margin.2");
    font-size: theme("fontSize.h5");
    color: theme("colors.microCopy");
    transition: color $time-transition ease-in;

    &::before {
      position: absolute;
      top: 50%;
      right: theme("spacings.2");
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      width: theme("spacings.4");
      height: theme("spacings.4");
      padding-bottom: theme("spacings.1");
      font-size: 45px;
      line-height: theme("lineHeight.h1");
      content: "\203A";
      border-radius: 50%;
      transition: $time-transition ease-in;
      transition-property: transform, color;
      transform: translateY(-50%) rotate(90deg);
    }
  }

  &--is-activeItem {
    color: theme("colors.brand.naranja");

    &::before {
      color: theme("colors.brand.naranja");
      transform: translateY(-50%) rotate(270deg);
    }
  }

  &__menu-content {
    position: relative;
    max-height: 0;
    padding: theme("padding.3") theme("padding.4");
    opacity: 0;
    /* stylelint-disable-next-line declaration-colon-newline-after */
    transition: max-height ($time-transition + 150ms) ease-out,
      opacity $time-transition ($time-transition + 50ms) ease-in;

    @media #{$mq-sm} {
      padding-right: theme("padding.8");
      padding-left: theme("padding.8");
    }
  }

  &--is-activeContent {
    max-height: 800px;
    opacity: 1;
  }

  &__shadow-title {
    width: 100%;
    margin-top: calc(-1 * theme("margin.3"));
    opacity: 0;

    @media #{$mq-sm} {
      margin-top: calc(-1 * theme("margin.5"));
    }

    &--is-active {
      opacity: 1;
      transition: opacity $time-transition 650ms ease-in;
    }
  }
}
