.alert-cookie {
  position: fixed;
  bottom: 1rem;
  left: 0;
  z-index: 800;
  padding: theme("padding.4");
  margin: 0 theme("margin.3");
  color: $white;
  background: theme("colors.gray.800");

  @media #{$mq-sm} {
    width: theme("width.64");
  }
}
