$duration-animation: 2800ms;

$size-arrow: theme("spacings.6");
$space1-arrow: calc(#{$size-arrow} * 0.3);
$space2-arrow: calc(#{$size-arrow} * 0.7);
$space3-arrow: calc(#{$size-arrow} * 1);

.wrapper-arrows {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);

  &--bot {
    top: auto;
    bottom: theme("spacings.16");
  }

  &--left {
    @include sm {
      right: theme("spacings.2");
      left: auto;
    }
  }
}

.arrows {
  position: relative;
  width: 100%;
  color: theme("colors.brand.naranja");

  &__slide {
    position: absolute;
    top: calc(-1 * theme("spacings.2"));
    left: 50%;
    transform: translateX(-50%);
    animation: slideDown $duration-animation linear infinite;
  }

  // Estilos que aplican al icono de todas las fechas
  .arrow-down {
    @include square($size-arrow);
  }
}

// Animacion de icono de fecha (scroll)
@keyframes slideDown {
  /* En todas las etapas de la animacion, se debe colocar el porcentaje en el
  eje X, aunque este no se mueva, si no se indica toda la seccion se desfaza.
  */
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }

  20% {
    opacity: 1;
    transform: translate(-50%, $space1-arrow);
  }

  60% {
    transform: translate(-50%, $space2-arrow);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, $space3-arrow);
  }
}
