.base-card {
  @apply rounded;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: theme("boxShadow.md");

  @media #{$mq-md} {
    flex-direction: row;
  }

  &__img {
    overflow: hidden;
    object-fit: cover;
    @apply rounded-l;

    img,
    picture {
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    flex: 1 0 auto;
    padding: theme("spacings.2");
    @media #{$mq-md} {
      width: 50%;
    }
  }
}
