.base-title {
  &__line {
    position: relative;

    &::before {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      content: "";
      background: theme("colors.brand.naranja");
    }
  }
}
