.btn-scroll-top {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  width: theme("width.5");
  height: theme("height.5");
  margin-right: theme("margin.3");
  margin-bottom: theme("margin.3");
  font-size: theme("fontSize.h3");
  color: theme("colors.brand.naranja");
  background: $white;
  border: 1px solid $brand-naranja;
  border-radius: 50%;
  transition: 350ms ease-out;
  transition-property: box-shadow, transform, opacity;

  @media #{$mq-lg} {
    width: theme("width.6");
    height: theme("height.6");
    font-size: theme("fontSize.h2");
  }

  // Estado del boton al ser visible
  &__button-into {
    opacity: 1;
    transform: scale(1) translateX(0);

    @media #{$mq-lg} {
      &:hover {
        box-shadow: theme("boxShadow.lg");
        transform: scale(1.2);
      }
    }
  }

  // Estado del boton al iniciar la pagina
  &__button-outside {
    opacity: 0;
    transform: translateX(theme("spacings.8"));
  }
}
