$burger-width: 3ch;
$burger-height: 2px;
$duration: 300ms;

.btn-burger {
  position: relative;
  display: flex;
  width: $burger-width;
  height: 1.3rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;

  &__pan,
  &__carne {
    display: block;
    width: $burger-width;
    height: $burger-height;
    background-color: currentColor;
    border-radius: $burger-height / 2;
  }

  &__pan {
    transition: $duration transform ease-in;
    transform-origin: center;
  }

  &__carne {
    transition: $duration ease-in-out;
    transition-property: transform, opacity;
  }

  &__input {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
  }

  /* stylelint-disable selector-max-specificity */
  &--active &,
  &__input:checked ~ & .btn-burger {
    &__pan:first-child {
      position: relative;
      transform: rotate(45deg) translate($burger-width / 4, $burger-width / 4);
    }

    &__pan:last-child {
      position: relative;
      transform: rotate(-45deg) translate($burger-width / 4, -$burger-width / 4);
    }

    &__carne {
      opacity: 0;
      transform: scale(0);
    }
  }
  /* stylelint-enable selector-max-specificity */

  @media #{$mq-lg} {
    display: none;
  }
}
