@mixin active {
  &:hover,
  &:focus,
  &.is-active,
  &:active {
    @content;
  }
}

%button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: theme("spacings.6");
  padding: 0 theme("spacings.3");
  margin-top: -2px;
  margin-bottom: -2px;
  color: theme("colors.black");
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: theme("spacings.4");
  outline: none;
  transition: 320ms ease-out;
  transition-property: color, background, transform, border, box-shadow;
}

.btn {
  --header-color: $white;
  --header-contrast: theme("colors.brand.naranja");

  @extend %button;

  &--circle {
    width: theme("width.6");
    height: theme("height.6");
    border-radius: 100%;
    border-radius: 50%;
  }

  &__edge {
    height: theme("spacings.8");
    padding: 0 theme("padding.5");
    color: var(--header-color);
    background: transparent;
    border-color: theme("colors.brand.naranja");

    &:hover,
    &:active {
      color: $white;
      background: $brand-naranja;
    }

    &.is-active {
      color: $brand-naranja;

      &:hover,
      &:active {
        color: $gray-light;
      }
    }

    &--dynamic-color {
      @media #{$mq-lg} {
        border-color: var(--header-active-text);

        &:hover,
        &:active {
          color: var(--header-text-btn-hover);
          background: var(--header-btn-background);
        }
      }
    }
  }

  &--medium {
    font-size: theme("fontSize.h6");
    line-height: theme("lineHeight.h6");

    @screen lg {
      height: theme("spacings.7");
      font-size: theme("fontSize.h5");
      line-height: theme("lineHeight.h5");
    }
  }

  &--large {
    padding-right: theme("padding.4");
    padding-left: theme("padding.4");
    border-radius: theme("spacings.4");

    @screen md {
      height: theme("spacings.8");
      padding-right: theme("padding.5");
      padding-left: theme("padding.5");
    }
  }

  &--blue {
    color: theme("colors.gray.300");
    background: theme("colors.brand.azul");
    border-color: theme("colors.brand.azul");
    box-shadow: 0 2px 10px rgba($black, 0.3);

    &:hover,
    &:focus {
      color: theme("colors.brand.naranja");
      background: lighten($color: $brand-azul, $amount: 10%);
    }

    &:active {
      box-shadow: 0 2px 10px 5px rgba($black, 0.3);
    }

    &.is-active {
      color: theme("colors.brand.azul");
      background: theme("colors.white");
    }
  }

  &--white {
    padding-right: theme("padding.4");
    padding-left: theme("padding.4");
    margin: -1px;
    color: theme("colors.brand.naranja");
    border-color: theme("colors.white");
    border-width: 1px;
    border-radius: theme("spacings.4");
    box-shadow: theme("boxShadow.default");

    &:hover,
    &:focus {
      color: theme("colors.white");
      background: theme("colors.brand.naranja");
      border-color: theme("colors.brand.naranja");
    }

    &:active {
      box-shadow: 0 2px 10px 5px rgba($black, 0.3);
    }
  }

  &--orange {
    padding-right: theme("padding.4");
    padding-left: theme("padding.4");
    margin: -1px;
    color: theme("colors.white");
    background: theme("colors.brand.naranja");
    border-color: theme("colors.white");
    border-width: 1px;
    border-radius: theme("spacings.4");
    box-shadow: theme("boxShadow.default");

    &:hover,
    &:focus {
      background-color: darken($brand-naranja, 10%);
    }

    &:active,
    &.is-active {
      color: theme("colors.brand.naranja");
      background: theme("colors.white");
      border-color: theme("colors.brand.naranja");
      outline: none;
    }
  }

  &--orange-circle {
    position: relative;
    z-index: 5;
    display: inline-block;

    cursor: pointer;
    background: $brand-naranja;

    &:hover,
    &:focus {
      background: $brand-azul;
    }
  }

  &--disabled {
    color: theme("colors.gray.200");
    background: theme("colors.gray.400");
    border-color: theme("colors.gray.400");

    &:hover,
    &:focus,
    &:active {
      color: theme("colors.gray.200");
      background: theme("colors.gray.400");
      border-color: theme("colors.gray.400");
    }
  }

  &--orange-modal {
    margin-right: theme("margin.2");
    background: theme("colors.brand.naranja");

    @screen md {
      margin-right: theme("margin.6");
    }

    &:hover,
    &:focus,
    &:active {
      background: theme("colors.brand.azul");

      // Cambio del color del icono en los estdos del botton
      /* stylelint-disable-next-line selector-class-pattern */
      .modal-contact__icon {
        color: $white;
      }

      // Cambio del color de la caja de texto
      /* stylelint-disable-next-line selector-class-pattern */
      .modal-contact__textModal {
        color: theme("colors.gray.800");
        background: theme("colors.brand.naranja");
      }
    }

    &:focus {
      outline: none;
    }
  }

  &--linkPortafolio {
    width: theme("width.full");
    color: theme("colors.white");
    background: transparent;
    border-bottom-color: theme("colors.white");

    &:hover,
    &:focus,
    &:active {
      border-color: theme("colors.white");
    }
  }

  &--slugPortafolio {
    padding-top: theme("padding.2");
    padding-bottom: theme("padding.2");
    margin: -1px;
    font-weight: bold;
    color: theme("colors.brand.naranja");
    background: transparent;
    border: 1px solid transparent;
    border-bottom-color: theme("colors.brand.naranja");
    transition: 250ms ease-in;

    &:hover {
      border-color: theme("colors.brand.naranja");
    }

    &:focus,
    &:active {
      color: theme("colors.gray.300");
      background: rgba(231, 56, 39, 1);
      background: linear-gradient(
        to right,
        rgba(231, 56, 39, 1) 0%,
        rgba(240, 47, 23, 1) 0%,
        rgba(248, 61, 37, 1) 0%,
        rgba(246, 41, 12, 1) 0%,
        rgba(241, 111, 92, 1) 57%,
        rgba(241, 111, 92, 1) 100%
      );
    }
  }

  &__current-page-back {
    height: auto;
    padding: 0;
    margin-top: theme("margin.1");
    color: theme("colors.brand.naranja");
    flex-direction: column;
    transform: scale(0.85);

    @include md {
      font-size: theme("fontSize.h4");
    }

    &:hover,
    &:focus,
    &:active {
      transform: scale(1);
    }
  }

  &__filter {
    height: auto;
    padding: 0;
    color: $micro-copy;
    background: transparent;
    border: 0;

    &:hover,
    &:focus,
    &:active {
      color: $gray-light;
    }
  }

  // ********************************* //
  //                                   //
  //    Tamaños de los botones
  //                                   //
  // ********************************* //

  &--short {
    width: theme("width.8");

    @screen md {
      width: theme("width.12");
    }
  }

  &--mini {
    padding-right: theme("padding.1");
    padding-left: theme("padding.1");

    // Margen a la derecha excepto al ultimo elemento
    &:not(:last-child) {
      margin-right: theme("margin.1");

      @screen sm {
        margin-right: theme("margin.2");
      }
    }
  }
}
