.cookies {
  padding-top: theme("padding.10");

  &__list-col {
    padding-top: theme("padding.2");
    padding-bottom: theme("padding.2");

    &:not(:last-child) {
      @media #{$mq-lg} {
        margin-right: theme("margin.6");
      }

      @media #{$mq-xxl} {
        margin-right: theme("margin.8");
      }
    }
  }
}
