.filter-tags {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  padding: theme("padding.2") theme("padding.3");
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  background: $white;
  border-top-left-radius: theme("spacings.4");
  border-top-right-radius: theme("spacings.4");

  > * {
    pointer-events: auto;
  }

  @include md {
    flex-direction: column;
    align-items: flex-start;
    background: transparent;
    border-radius: 0;
  }
  @include lg {
    padding: theme("padding.4") auto;
  }

  &__toogleView {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    width: 100%;
    padding-right: theme("padding.3");
    padding-left: theme("padding.3");
    flex-direction: column;

    @include sm {
      left: theme("spacings.3");
      width: 90%;
      flex-direction: row;
      align-items: center;
    }
    @include md {
      position: static;
      top: 0;
      left: 0;
    }
  }

  &__body-menu {
    position: absolute;
    top: 100%;
    right: theme("spacings.3");
    padding: theme("padding.3") theme("padding.4");
    color: $micro-copy;
    background: $gray-light;
    border-top: 2px solid $micro-copy;

    @include md {
      right: auto;
      left: theme("spacings.3");
      border-top: 0;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: theme("spacings.3");

    @include sm {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: theme("spacings.8");
    }

    &:not(:last-child) {
      margin-bottom: theme("margin.10");
    }
  }

  &__list-title {
    padding-bottom: theme("padding.1");
    font-weight: theme("fontWeight.bold");

    @include sm {
      grid-column: 1 / 3;
      grid-row: 1;
    }
  }

  &__item {
    transition: color 300ms ease-in-out;

    &:hover,
    &:focus,
    &:active {
      color: $brand-naranja;
    }
  }
}
