.label {
  @apply block tracking-wide text-gray-700 text-h6 font-bold mb-1;
}
$background-color: theme("colors.gray.200");
$horizontal-padding: theme("spacings.1");
$vertical-padding: calc(#{$horizontal-padding} / 2);
$highlight-color: theme("colors.blue.400");

%border-reset {
  height: calc(theme("height.6") - theme("borderWidth.default") * 2);
  border-color: theme("borderColor.default");
  border-width: theme("borderWidth.default");
  border-radius: theme("borderRadius.default");
}

%focus-state {
  &:focus {
    outline: none;
    box-shadow: theme("boxShadow.outline");
  }

  &:focus:not(:checked) {
    border-color: $highlight-color;
  }
}

%checked-state {
  &:checked {
    background-color: currentColor;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-color: currentColor;
  }

  &::-ms-check {
    color: transparent; // hide the dot
    background: inherit;
    border-color: inherit;
    border-width: theme("borderWidth.default");
    border-radius: inherit;
  }
}

.checkbox {
  @extend %border-reset;
  @extend %center-inline-flex;
  @extend %focus-state;
  @extend %checked-state;
  @extend %reset-apareance;
  width: theme("spacings.3");
  height: theme("spacings.3");
  user-select: none;
  background-color: $background-color;
  background-origin: border-box;

  &:checked {
    // <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#fff"><path d="M13.293 4.293a1 1 0 0 1 0 1.414L7 12a1 1 0 0 1-1.414 0L3.293 9.707a1 1 0 0 1 1.414-1.414l1.586 1.586 5.586-5.586a1 1 0 0 1 1.414 0z"/></svg>
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#fff"><path d="M13.293 4.293a1 1 0 0 1 0 1.414L7 12a1 1 0 0 1-1.414 0L3.293 9.707a1 1 0 0 1 1.414-1.414l1.586 1.586 5.586-5.586a1 1 0 0 1 1.414 0z"/></svg>');
  }
}

.radio {
  @extend %border-reset;
  @extend %center-inline-flex;
  @extend %focus-state;
  @extend %checked-state;
  @extend %reset-apareance;
  width: 1em;
  height: 1em;
  user-select: none;
  background-color: $background-color;
  background-origin: border-box;
  border-radius: 50%;

  &:checked {
    // <svg viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="5"/></svg>
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="5"/></svg>');
  }
}

.input,
.textarea,
.multiselect {
  @extend %reset-apareance;
  max-width: 100%;
  padding: 0 $horizontal-padding;
  font-size: theme("fontSize.base");
  line-height: theme("lineHeight.base");
  color: theme("colors.text");
  background-color: $background-color;

  &:focus {
    border-color: $highlight-color;
    outline: none;
    box-shadow: theme("boxShadow.outline");
  }
}

.input {
  @extend %border-reset;

  &__filter {
    padding: 0 theme("padding.2");
    background: $gray-light;
    border-color: $gray-light;
    border-radius: theme("spacings.4");
    transition: border-color 350ms ease-in;

    @include sm {
      width: theme("width.56");
    }
    @include md {
      width: theme("width.64");
    }

    &:hover,
    &:focus,
    &:active {
      border-color: $micro-copy;
    }
  }
}

.textarea {
  display: block;
  min-height: theme("height.12");
}

.multiselect {
  display: block;
  max-height: theme("height.12");
  // padding: $vertical-padding $horizontal-padding;
  line-height: theme("lineHeight.small");
  border-color: theme("borderColor.default");
  border-width: theme("borderWidth.default");
  border-radius: theme("borderRadius.default");

  option {
    padding: 0;
    padding: $vertical-padding $horizontal-padding;
    line-height: inherit;
    block-size: 3ex;
  }
}

.select {
  $selecticonoffset: 7px;
  $selecticonsize: 28px;
  @extend %border-reset;
  @extend %reset-apareance;
  @extend %center-inline-flex;
  display: block;

  // No se por que cuando le compenso el borde no se alinea al vertical-rhythm
  height: theme("height.4");
  padding-right: calc(#{$selecticonoffset} * 2 + #{$selecticonsize});
  padding-left: $horizontal-padding;
  font-size: theme("fontSize.base");
  line-height: theme("lineHeight.small");
  background-color: $background-color;
  // <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z"/></svg>
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z"/></svg>');
  background-repeat: no-repeat;
  background-position: right $selecticonoffset center;
  background-size: $selecticonsize $selecticonsize;

  &::-ms-expand {
    display: none;
  }

  &:focus {
    border-color: $highlight-color;
    outline: none;
    box-shadow: theme("boxShadow.outline");
  }
}
