$timing: 2150ms;

.hacemos {
  &__title-hero {
    margin-bottom: theme("margin.1");
    font-size: 34px;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    white-space: nowrap;

    @media #{$mq-sm} {
      margin-bottom: theme("margin.2");
      font-size: 64px;
      line-height: 66px;
    }
    @media #{$mq-md} {
      margin-bottom: theme("margin.3");
      font-size: 82px;
      line-height: 84px;
    }
    @media #{$mq-lg} {
      margin-bottom: theme("margin.5");
      font-size: 122px;
      line-height: 124px;
    }
  }

  &__text-hero {
    font-size: 12px;

    @media #{$mq-sm} {
      font-size: 14px;
    }
    @media #{$mq-md} {
      font-size: 18px;
    }
    @media #{$mq-lg} {
      font-size: 24px;
    }
  }

  &__decoration-text {
    position: relative;
    font-weight: theme("fontWeight.bold");
    line-height: 0;

    &::before {
      position: absolute;
      bottom: 4%;
      left: 0;
      z-index: 5;
      width: 0.8em;
      height: 3px;
      content: "";
      background: theme("colors.brand.naranja");

      @media #{$mq-md} {
        height: 4px;
      }
      @media #{$mq-lg} {
        height: 5px;
      }
    }
  }

  // Estilos de las palabras animadas
  &__animation-text {
    position: relative;
    height: theme("height.40");
    font-size: 34px;

    @media #{$mq-sm} {
      height: theme("height.48");
      font-size: 64px;
    }
    @media #{$mq-md} {
      height: theme("height.64");
      font-size: 82px;
    }
    @media #{$mq-lg} {
      height: theme("height.94");
      font-size: 122px;
    }

    &--animation-in {
      opacity: 1;
      transition: 400ms ease-in;
    }

    &--animation-out {
      opacity: 0;
      transition: 400ms ease-out;
    }

    &--text-tape {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: theme("colors.gray.100");
      transform: scaleX(1);
    }

    &--move-tape {
      transform-origin: left;
      animation: expand $timing linear infinite forwards;
    }
  }

  &__servicios {
    margin-top: theme("margin.10");
    margin-bottom: theme("margin.6");

    @media #{$mq-sm} {
      width: theme("width.3/4");
      margin-top: theme("margin.14");
      margin-bottom: theme("margin.8");
    }
    @media #{$mq-lg} {
      width: theme("width.1/2");
    }
    @media #{$mq-xl} {
      width: theme("width.5/12");
    }
  }

  // Textp al final de la pagina
  &__title-end {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text-lineTop {
      display: block;
      font-size: theme("fontSize.h5");
      line-height: theme("lineHeight.h5");
      letter-spacing: 0.07em;

      @media #{$mq-sm} {
        font-size: 23px;
        line-height: 27px;
        letter-spacing: 0.08em;
      }
      @media #{$mq-md} {
        font-size: 30px;
        line-height: 34px;
        letter-spacing: 0.14em;
      }
    }

    &__text-lineMid {
      display: block;
      font-size: theme("fontSize.h4");
      line-height: theme("lineHeight.h4");
      letter-spacing: theme("letterSpacing.wider");
      word-spacing: theme("width.1");

      @media #{$mq-sm} {
        font-size: 30px;
        line-height: 34px;
      }
      @media #{$mq-md} {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: theme("letterSpacing.widest");
      }
    }

    &__text-lineBot {
      display: block;
      font-size: theme("fontSize.h1");
      line-height: theme("lineHeight.h1");

      @media #{$mq-sm} {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 0.03em;
      }
      @media #{$mq-md} {
        font-size: 55px;
        line-height: 59px;
        letter-spacing: 0.025em;
        word-spacing: theme("width.1");
      }
    }

    &__question {
      padding-top: theme("padding.4");
      font-size: theme("fontSize.small");
      font-weight: theme("fontWeight.bold");
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.1em;

      @media #{$mq-sm} {
        padding-top: theme("padding.5");
        font-size: theme("fontSize.base");
        letter-spacing: 0.15em;
        word-spacing: 0.05em;
      }
      @media #{$mq-md} {
        padding-top: theme("padding.6");
        font-size: theme("fontSize.h6");
        letter-spacing: theme("spacings.1");
        word-spacing: theme("spacings.1");
      }
    }
  }
}

// Animacion de la cinta que cubre las letras de la izquierda
@keyframes expand {
  0%,
  15% {
    transform: scaleX(1);
  }

  50%,
  100% {
    transform: scaleX(0);
  }
}
