.hero-generic {
  @apply relative py-16 flex flex-col justify-center items-center;

  &--full {
    min-height: 100vh;

    @include sm {
      min-height: 70vh;
    }
    @include lg {
      min-height: 80vh;
    }
    @include xxl {
      height: 80vh;
      min-height: auto;
      max-height: 820px;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__body {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__scrim {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: theme("padding.4");
    background: rgba($black, 0.7);
    background: linear-gradient(35deg, rgba($black, 0.1), rgba($black, 0.7));
  }
}
