$time-loader: 2000ms;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100vh;
  background: rgba(83, 83, 83, 0.4);

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: theme("spacings.10");
    height: theme("spacings.10");
    border: 8px solid rgba(76, 76, 77, 0.2);
    border-top: 8px solid theme("colors.brand.azul");
    border-radius: 50%;
    animation-name: girar;
    animation-duration: $time-loader;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

// Aminacion para los giros del circulo de carga
@keyframes girar {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
