.modal-slider {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  width: 100vw;
  height: 100%;
  overflow: auto;
  color: $gray-light;
  background-image: var(--mobile);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  @include md {
    background-image: var(--desktop);
  }

  // Screem para el fondo de pantalla
  &::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.65);
  }

  &::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    border: 4px solid $brand-azul;
  }

  &__btn-slide {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 100;
    display: flex;
    // este wifth mayor al 100% elimina el padding del padre
    width: calc(100% + theme("spacings.6"));
    padding: 0 4px;
    justify-content: space-between;
    transform: translateX(-50%);

    @include md {
      position: fixed;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
    }

    &--prev {
      transform: rotate(180deg);
    }
  }

  &--theme-darker {
    &::before {
      background: rgba(0, 0, 0, 0.8);
    }
  }

  &--theme-light {
    color: $black;

    &::before {
      background: rgba(255, 255, 255, 0.25);
      background: linear-gradient(
        110deg,
        rgba(184, 203, 214, 0.65) 0%,
        rgba(184, 203, 214, 0.65) 35%,
        rgba($brand-azul, 1) 100%
      );

      mix-blend-mode: screen;
    }
  }

  &__body {
    position: relative;
    z-index: 20;
    margin-top: theme("margin.16");
  }

  &__title {
    margin: 0;
    color: $brand-naranja;

    @include sm {
      margin-bottom: theme("margin.4");
    }
  }

  &__hero-title {
    width: 100%;
    padding-right: theme("padding.3");
    padding-left: theme("padding.3");
    color: rgba(203, 213, 224, 0.2);
    white-space: nowrap;

    @include sm {
      bottom: 90px;
    }

    @include md {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-top: theme("margin.2");
    }

    &--light {
      color: rgba(79, 79, 79, 0.4);
    }
  }

  &__text-shadow {
    font-size: 75px;
    font-weight: theme("fontWeight.medium");
    line-height: 0.9;
    text-transform: uppercase;
    pointer-events: none;

    @include sm {
      font-size: 120px;
    }
    @include lg {
      font-size: 150px;
    }
  }

  &__image-title {
    margin-bottom: theme("margin.2");
    font-weight: 900;
    color: $brand-naranja;

    @include sm {
      margin-right: 55px;
    }
  }

  &__favourite-things {
    display: flex;
    margin-top: -75px;
    flex-direction: column-reverse;

    @include md {
      margin-top: 0;
    }
  }

  &__text {
    @include sm {
      width: theme("width.3/4");
      margin-left: theme("margin.24");
    }
    @include lg {
      width: theme("width.3/5");
      padding-right: theme("padding.12");
      margin-top: calc(-1 * theme("margin.8"));
      margin-left: theme("margin.32");
    }
  }
}
