.b-modal {
  position: relative;
  z-index: 2;
  width: 90vw;
  max-height: calc(100vh - 2rem);
  padding: theme("spacings.3");
  overflow-y: auto;
  text-align: center;
  background-color: $white;
  border: none;
  border-radius: theme("borderRadius.sm");
  box-shadow: theme("boxShadow.md");
  @media #{$mq-lg} {
    max-width: 30vw;
  }

  &__mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    transition-property: opacity, transform;
  }

  &__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &::backdrop,
  &__backdrop {
    background: rgba($gray-900, 0.8);
    transition: opacity 0.3s ease;
  }
}

.b-modal-enter {
  opacity: 0;
}

.b-modal-leave-active {
  opacity: 0;
}

.b-modal-enter .b-modal,
.b-modal-leave-active .b-modal {
  transform: scale(1.1);
}
