.table {
  @apply w-full text-left;
  border-collapse: collapse;

  tbody {
    @apply align-baseline;
  }

  th {
    @apply font-bold;
  }

  td,
  th {
    @apply p-1;
    border-color: $gray-800;
    border-width: 1px;

    &:first-child {
      border-left-width: 0;
    }

    &:last-child {
      border-right-width: 0;
    }
  }
}
