// <reference path="~/assets/styles/_variables.scss" />.
.the-header {
  --header-background: transparent;
  --header-menu-background: theme("colors.brand.azul");
  --header-color: theme("colors.brand.azul");
  --header-contrast: theme("colors.brand.naranja");
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 150;
  height: theme("height.10");
  padding-right: theme("spacings.3");
  padding-left: theme("spacings.3");
  color: var(--header-color, $brand-azul);
  background-color: var(--header-background, theme("colors.brand.azul"));
  transition: background-color 0.3s, transform 0.1s;
  .language{
    padding: 0 2rem;    
    .selected{
      background: theme("colors.brand.naranja");
      color: white;
      border-radius: .25rem;
      padding:.4rem .4rem .2rem .4rem;
    
    }
  }
  &::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    height: 100vh;
    pointer-events: none;
    content: "";
    background-color: rgba(#211f35, 0.8);
    opacity: 0;
    transition: 0.325s 0.225s opacity ease-out;
  }

  &.is-open::before {
    opacity: 1;
  }

  @screen lg {
    height: theme("height.14");

    &::before {
      content: unset;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    display: flex;
    height: 100vh;
    padding-top: 30%;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    align-items: stretch;

    text-align: center;
    visibility: hidden;
    flex-direction: column;
    background-color: var(--header-menu-background, theme("colors.brand.azul"));
    transition: visibility 300ms linear 0ms, transform 300ms ease-out 0s;
    transform: scaleY(0);
    transform-origin: top right;

    &.is-active {
      visibility: visible;
      transition: visibility 300ms 0ms, transform 300ms 300ms ease-out;
      transform: scaleY(1);
    }

    @media #{$mq-sm} {
      width: 50%;
      margin-left: auto;
      transform: scaleX(0);

      &.is-active {
        transform: scaleX(1);
      }
    }

    @media #{$mq-lg} {
      position: static;
      width: 100%;
      height: auto;
      padding-top: 0;
      justify-content: center;
      justify-items: stretch;
      align-items: center;
      overflow-y: visible;
      visibility: visible;
      flex-direction: row;
      background-color: transparent;
      transform: scale(1);
    }
  }

  &__shadow {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: 8px;
    background-image: linear-gradient(rgba(#000, 0.1), rgba(#000, 0));
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center top;
  }

  &__logo {
    width: auto;
    height: theme("height.3");
    transition: transform 325ms ease;
    transform: scale(2);
    transform-origin: center left;

    @media #{$mq-lg} {
      height: theme("height.8"); // NOTE: Es para alinearlo visualmente
      transform: scale(1);

      .is-top & {
        transform: scale(1);
      }
    }

    /* stylelint-disable-next-line selector-max-type */
    path,
    g {
      transition: fill 325ms ease;
    }
  }

  &__item {
    position: relative;
    display: block;
    padding: theme("padding.3") theme("padding.2");
    font-size: theme("fontSize.h6");
    color: var(--header-color, $brand-azul);
    transition: color 300ms ease-in;

    &:hover {
      color: var(--header-contrast, $brand-naranja);
    }

    &.is-active {
      color: var(--header-active-text);
    }

    @media #{$mq-lg} {
      display: inline-block;
      padding: theme("padding.4") theme("padding.3");
      font-size: theme("fontSize.base");
    }
  }
}
