<template lang="html">
  <component :is="template" v-bind="componentData" />
</template>

<script>
import Basic from '~/components/Portafolio/Basic.vue'
import Behance from '~/components/Portafolio/Behance.vue'
import Case from '~/components/Portafolio/Case.vue'
import { CHANGE_HEADER_COLOR } from '~/utils/mutations'

export default {
  name: 'PagePortafolioSlug',
  components: {
    Basic,
    Behance,
    Case,
  },

  async asyncData({ $content, params, error }) {
    // /portafolio/:slug
    try {
      const data = await $content('clientes', params.slug).fetch()
      return data
    } catch (error_) {
      return error(error_)
    }
  },
  data() {
    return {
      template: 'Case',
      title: '',
      description: '',
      cover: '',
      headerIsDark: true,
    }
  },
  computed: {
    /** @returns {any} */
    componentData() {
      const $attributes = { ...this.$data }
      if ($attributes.$components) {
        delete $attributes.$components
      }
      return $attributes
    },
  },
  mounted() {
    this.$store.commit(CHANGE_HEADER_COLOR, this.headerIsDark)
  },
  head() {
    const { title, description, cover } = this
    return {
      title,
      meta: [
        {
          property: 'description',
          hid: 'description',
          content: description,
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: description,
        },
        {
          property: 'og:image',
          content: `/files/images/${cover}`,
        },
        {
          property: 'og:image:secure_url',
          content: `/files/images/${cover}`,
        },
      ],
    }
  },
  meta: {
    headerIsDark: false,
  },
}
</script>

<style lang="scss"></style>
