<template>
  <div id="portafolio">
    <section class="section md:pt-14 md:pb-0">
      <div class="container lg:w-3/4 mx-auto mt-14">
        <h1
          class="text-h3 font-bold lg:text-h1 lg:font-normal text-brand-naranja leading-h1 text-center"
        >
         {{$t('portafolio.content')}} </h1>
      </div>
    </section>
    <section>
      <div class="container mb-14 lg:my-14">
        <div class="portfolio-wrapper">
          <div 
            v-for="item in items"
            :key="item.link"
            class="portfolio-wrapper__item lg:px-3"
            @click="track(item.name)"
     
           
          >
            <n-link :to="localePath(item.link)">
              <div class="portfolio-wrapper__figure" >
              
                <image-responsive 
                  class="absolute w-full h-full"
                  :src="'/files/images/portafolio/dinamo/' + item.coverImg"
                  :lazy="false"
                  :responsive="false"
                  :alt="item.altImg"
                  image-classes="w-full h-full"
                />
              </div>
              <div class="mt-2 text-microCopy">
                <p class="text-h4 font-bold">{{ item.name }}</p> 
                <p class="text-small">{{ item.costumers }}</p>
          <p class="btn btn__edge btn__edge--dynamic-color hover:text-brand-naranja mt-5">{{ item.ver }}

          </p>
            
              </div>
            </n-link>
          </div>
        </div>
      </div>
    </section>
    <modal-contact />
  </div>
</template>

<script>
import ModalContact from '~/components/ModalContact.vue'

export default {
  name: 'Portafolio',
  components: {
    ModalContact,
  },
  async fetch() {
    await fetch(
      this.items.sort(() => 0.5 - Math.random()),
    );
    
  },
  data() {
    return {
      /** @type {import('types').PortafolioItems[]} */
      items: [],
    }
  },
  created(){
    if(this.$i18n.locale === 'en'){
      this.items = require('~/assets/data/portfolio-en.json');
    }
    else{
      this.items = require('~/assets/data/portfolio.json');;
    }
  },
  methods: {
    /**
     * Envia el evento de navegación por la tarjeta
     * @param {string} name
     * @returns {void}
     */
    track(name) {
      this.$gtag.event('click_card', {
        event_category: 'Navegation',
        event_label: `Portafolio/${name}`,
      })
    },
  },
  head() {
    return {
      title: 'Portafolio',
      meta: [
        {
          property: 'description',
          hid: 'description',
          content: '',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'dínamo agencia de publicidad',
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: '',
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://www.dinamo.mx/',
        },
        {
          hid: 'og:image:url',
          property: 'og:image:url',
          content: 'https://www.dinamo.mx/files/images/og-image.jpg',
        },
        {
          hid: 'og:image:width',
          property: 'og:image:width',
          content: '1500',
        },
        {
          hid: 'og:image:height',
          property: 'og:image:height',
          content: '785',
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: '',
        },
      ],
    }
  },
  meta: {
    headerIsDark: true,
  },
}
</script>

<style lang="scss">
.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;

  &__figure {
    position: relative;
    width: theme('width.full');
    height: theme('height.82');
    overflow: hidden;
    box-shadow: theme('boxShadow.lg');
  }

  &__item {
    &:nth-child(1) {
      width: 80%;
      margin-top: theme('margin.6');
      margin-right: auto;
      margin-left: auto;
      @media #{$mq-md} {
        width: 40%;
        margin-right: auto;
        margin-left: auto;
      }
      @media #{$mq-lg} {
        width: 30%;
        margin-top: theme('margin.18');
      }
    }

    &:nth-child(2) {
      width: 80%;
      margin-top: theme('margin.6');
      margin-right: auto;
      margin-left: auto;
      @media #{$mq-md} {
        width: 40%;
        margin-right: auto;
        margin-left: auto;
      }
      @media #{$mq-lg} {
        width: 40%;
        margin-top: 0;
        /* stylelint-disable selector-class-pattern */
        .portfolio-wrapper__figure {
          height: theme('height.104');
        }
      }
    }

    &:nth-child(3) {
      width: 80%;
      margin-top: theme('margin.6');
      margin-right: auto;
      margin-left: auto;
      @media #{$mq-md} {
        width: 40%;
        margin-right: auto;
        margin-left: auto;
      }
      @media #{$mq-lg} {
        width: 30%;
      }
    }

    &:nth-child(4) {
      width: 80%;
      margin-top: theme('margin.6');
      margin-right: auto;
      margin-left: auto;
      @media #{$mq-md} {
        width: 40%;
        margin-right: auto;
        margin-left: auto;
      }
      @media #{$mq-lg} {
        width: 40%;
        margin-top: theme('margin.10');

        .portfolio-wrapper__figure {
          height: theme('height.104');
        }
      }
    }

    &:nth-child(5) {
      width: 80%;
      margin-top: theme('margin.6');
      margin-right: auto;
      margin-left: auto;
      @media #{$mq-md} {
        width: 40%;
        margin-right: auto;
        margin-left: auto;
      }
      @media #{$mq-lg} {
        width: 30%;
        margin-top: theme('margin.28');
      }
    }

    &:nth-child(6) {
      width: 80%;
      margin-top: theme('margin.6');
      margin-right: auto;
      margin-left: auto;
      @media #{$mq-md} {
        width: 40%;
        margin-right: auto;
        margin-left: auto;
      }
      @media #{$mq-lg} {
        width: 30%;
        margin-top: theme('margin.14');
      }
    }
  }
}
</style>
