%inline-blocks-paragraph {
  display: inline-block;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

hr {
  // DINAMO: Compensa el margen para mantener ritmo
  margin-bottom: calc(theme("spacings.2") - 1px);
  border-top-width: 1px;
}

img,
video {
  max-width: 100%;
  height: auto;
}

big {
  @extend %inline-blocks-paragraph;
  font-size: 1.25em;
  line-height: 0;
}

// Polyfill for <abbr> element on touch and non pointer devices
abbr {
  position: relative;

  /* ensure consistent styling across browsers */
  text-decoration: underline dotted;

  &::after {
    position: absolute;
    bottom: -1lh;
    bottom: -2.25em;
    left: 50%;
    width: auto;
    padding: 3px 5px;
    font-size: 0.8em;
    color: $white;
    white-space: nowrap;
    background-color: $black;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
    transform: translateX(-50%);
  }

  /* stylelint-disable-next-line selector-no-qualifying-type */
  &[title] {
    &:hover::after,
    &:focus::after {
      content: attr(title);
    }
  }
}
