.section {
  padding: theme("padding.4") theme("padding.3");
  &.tp-0{
    padding-top: 0;
  }
}

html {
  scroll-behavior: smooth;
}

.layout {
  max-width: #{(1980 / 16)}rem;
  margin-right: auto;
  margin-left: auto;

  &--default {
    display: grid;
    grid-template-columns: minmax(100%, 100vh);
    grid-template-rows: minmax(100vh, 1fr) auto;

    > * {
      grid-column: 1;
    }

    .the-footer {
      grid-row: 2;
    }
  }
}

.cards-grid {
  $base: 6px;
  $third: $base * 32 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: theme("spacings.48");
  // grid-row-gap: 5rem;
  
  
  grid-column-gap: theme("spacings.2");

  @include xsm {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 360px) and (max-width: 420px) {
    grid-auto-rows: theme("spacings.32");
  }
  @include sm {
    grid-auto-rows: theme("spacings.48");
  }
  @include md {
    grid-auto-rows: theme("spacings.94");
  }
  @include xl {
    $third: $base * 71 / 3;
    grid-auto-rows: $third $third $third theme("spacings.8");
    grid-template-columns: 1fr 1fr 1fr;
  }

  &--square {
    @include sm {
      grid-auto-rows: theme("spacings.38");
    }
    @include md {
      grid-auto-rows: theme("spacings.64");
    }
    @include xl {
      grid-auto-rows: theme("spacings.12");
    }
  }
  // EL nombre de los estilos del componente de las tarjetas de equipo
  > * {
    @include xl {
      grid-row: span 4;

      &:nth-child(2) {
        grid-row: 3 / span 4;
        grid-column: 2;
      }

      &:nth-child(3) {
        grid-row: 2 / span 4;
        grid-column: 3;
      }
    }
  }
}
