%center-inline-flex {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

%reset-apareance {
  appearance: none;
  /* stylelint-disable */
  -moz-appearance: none;
  -webkit-appearance: none;
  /* stylelint-enable */
}

%title-1 {
  @apply mb-6 text-h1 leading-h1 font-normal;

  // @media #{$mq-sm} {
  //   @apply mb-4 text-h3 leading-h3;
  // }

  // @media #{$mq-md} {
  //   @apply text-h2 leading-h2;
  // }

  // @media #{$mq-lg} {
  //   @apply my-4 text-h1 leading-h1;
  // }
}

%title-2 {
  @apply mb-5 text-h2 leading-h2 font-bold;

  // @media #{$mq-md} {
  //   @apply text-h3 leading-h3;
  // }

  // @media #{$mq-lg} {
  //   @apply mt-2 mb-4 text-h2 leading-h2;
  // }
}

%title-3 {
  @apply mb-4 text-h3 leading-h3 font-bold;
  // line-height: 1.3em;

  // @media #{$mq-md} {
  //   @apply mb-4 text-h4 leading-h4;
  // }

  // @media #{$mq-lg} {
  //   @apply mb-4 text-h3 leading-h3;
  // }
}

%title-4 {
  @apply mb-4 text-h4 leading-h4 font-medium;

  // @media #{$mq-md} {
  //   @apply text-h5 leading-h5;
  // }

  // @media #{$mq-lg} {
  //   @apply mb-2 text-h4 leading-h4;
  // }
}

%title-5 {
  @apply mb-3 text-h5 leading-h5 font-medium;

  // @media #{$mq-lg} {
  //   @apply mb-2 text-h5 leading-h5;
  //   // line-height: 1.2em;
  // }
}

%title-6 {
  @apply mb-3 text-h6 leading-h6 font-bold;

  // @media #{$mq-lg} {
  //   @apply mb-2 text-h6 leading-h6;
  // }
}

// Medidas iduales para alto y ancho
@mixin square($side) {
  width: $side;
  height: $side;
}

// Sana un nuevo size personalizado
@mixin plus-size($multipli, $size) {
  font-size: calc(theme("spacings.#{$multipli}") + theme("spacings.#{$size}"));
}

@mixin minus-size($multipli, $size) {
  font-size: calc(theme("spacings.#{$size}") - theme("spacings.#{$multipli}"));
}

@mixin xsm {
  @media #{$mq-xsm} {
    @content;
  }
}

@mixin sm {
  @media #{$mq-sm} {
    @content;
  }
}

@mixin md {
  @media #{$mq-md} {
    @content;
  }
}

@mixin lg {
  @media #{$mq-lg} {
    @content;
  }
}

@mixin xl {
  @media #{$mq-xl} {
    @content;
  }
}

@mixin xxl {
  @media #{$mq-xxl} {
    @content;
  }
}
