/* stylelint-disable selector-max-type */

/** For Inter type */

html {
  font-family: "IBM Plex Sans", theme("fontFamily.sans");
  font-size: theme("fontSize.base");
  line-height: theme("lineHeight.base");
  color: $text;
  background-color: $clear;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "IBM Plex Sans var", theme("fontFamily.sans");
  }
}

body {
  color: theme("colors.text");
}

*|*:any-link {
  // text-decoration: underline;
  text-decoration: none;
}

*|*:link {
  color: inherit;
}

hr {
  max-width: theme("maxWidth.lg");
  margin-top: calc(theme("spacings.4") - 1px);
  margin-right: auto;
  margin-bottom: calc(theme("spacings.4") - 1px);
  margin-left: auto;
  border-color: $gray-500;
  border-top-style: solid;
  border-top-width: 2px;
}

button,
input,
textarea,
select {
  @extend %center-inline-flex;
}

textarea {
  display: block;
  min-height: theme("height.12");
  padding: theme("padding.1");
  line-height: theme("lineHeight.small");
}

th,
td {
  padding: 0;
}

.title {
  color: theme("colors.brand.naranja");
}

.h1 {
  @extend %title-1;
}

.h2 {
  @extend %title-2;
}

.h3 {
  @extend %title-3;
}

.h4 {
  @extend %title-4;
}

.h5 {
  @extend %title-5;
}

.h6 {
  @extend %title-6;
}

.content {
  h1 {
    @extend %title-1;
  }

  h2 {
    @extend %title-2;
  }

  h3 {
    @extend %title-3;
  }

  h4 {
    @extend %title-4;
  }

  h5 {
    @extend %title-5;
  }

  h6 {
    @extend %title-6;
  }

  p {
    @apply mb-3;
  }

  ul,
  ol,
  menu,
  dir {
    margin-bottom: theme("margin.2");
    margin-left: 1ch;
    list-style-position: outside;
    @screen lg {
      margin-left: 3ch;
    }
  }

  ul,
  dir {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  menu {
    list-style: circle;
  }

  dl {
    dt {
      font-weight: bold;
    }

    dd {
      padding-left: theme("margin.2");
      margin-bottom: theme("margin.2");
    }
  }

  blockquote {
    @apply p-1 bg-gray-100 text-gray-600 border-l-4 border-gray-500 italic relative mb-2;

    > p {
      @apply mb-3;
    }

    cite {
      @apply flex items-center;

      /* stylelint-disable-next-line selector-max-compound-selectors */
      > img {
        @apply mr-2 w-24 bg-gray-500 rounded-full;
      }
    }
  }

  a {
    @apply .text-blue-400;
    text-decoration: underline;

    &:visited {
      color: theme("colors.purple.400");
    }
  }

  table {
    @apply w-full text-left;
    border-collapse: collapse;

    tbody {
      @apply align-baseline;
    }

    th {
      @apply font-bold;
    }

    td,
    th {
      @apply p-1;
      border-color: $gray-800;
      border-width: 2px;

      &:first-child {
        border-left-width: 2;
      }

      &:last-child {
        border-right-width: 2;
      }
    }
  }
}
