@tailwind components;

/** ------------------------------------------------------------
##  CUSTOM CLASSES
--------------------------------------------------------- */
@media (max-width: theme("screens.sm")) {
  .container {
    max-width: unset;
  }
}
@media (max-width: theme("screens.lg")) {
  .container {
    max-width: unset;
  }
}
@screen xxl {
  .container:not(.container--wide) {
    max-width: 120ch;
  }
}

@import "components/buttons";
@import "components/respsonsive-embeds";
@import "components/table";
@import "components/base-card";
@import "components/image-responsive";
@import "components/hero-generic";
@import "components/alert-cookie";
@import "components/btn-burger";
@import "components/the-header";
@import "components/arrow-scroll";
@import "components/cookies";
@import "components/load-wheel";
@import "components/acordeon-number-mobile";
@import "components/acordeon-number-desktop";
@import "components/base-title";
@import "components/btn-scroll-top";
@import "components/hacemos";
@import "components/modal";
@import "components/modal-slider";
@import "components/a113";
@import "components/filter-tags";
