/**
 * Solo importa este archivo para debuggear estructuras complejas
 */

@function make-color($hue: 0, $saturation: 100%, $light: 50%) {
  @return hsla($hue, $saturation, $light, 0.2);
}

$outline-light: 20%;
/* stylelint-disable selector-max-compound-selectors, selector-max-specificity, selector-max-id */
#__layout > .layout {
  * {
    background-color: make-color(0);
    outline: 1px solid make-color(0, $light: $outline-light);
  }

  * * {
    background-color: make-color(120);
    outline: 1px solid make-color(120, $light: $outline-light);
  }

  * * * {
    background-color: make-color(240);
    outline: 1px solid make-color(240, $light: $outline-light);
  }

  * * * * {
    background-color: make-color(300);
    outline: 1px solid make-color(300, $light: $outline-light);
  }

  * * * * * {
    background-color: make-color(180);
    outline: 1px solid make-color(180, $light: $outline-light);
  }

  * * * * * * {
    background-color: make-color(60);
    outline: 1px solid make-color(60, $light: $outline-light);
  }

  * * * * * * * {
    background-color: make-color(0);
    outline: 1px solid make-color(0, $light: $outline-light);
  }

  * * * * * * * * {
    background-color: make-color(120);
    outline: 1px solid make-color(120, $light: $outline-light);
  }

  * * * * * * * * * {
    background-color: make-color(240);
    outline: 1px solid make-color(240, $light: $outline-light);
  }
}
