/** ------------------------------------------------------------
##  UTILITIES
--------------------------------------------------------- */

@tailwind utilities;

.animation-paused {
  animation-play-state: paused;
}

.only-mobile {
  display: block;
  @media #{$mq-lg} {
    display: none;
  }
}
