<template>
  <div class="page-recorridos-slug">
    <the-header />
    <marzi-pano
      :tour-scenes="scenes"
      :tour-name="name"
      :tiles-path="tilePath"
    />
  </div>
</template>

<script>
import TheHeader from '~/components/TheHeader.vue'
import MarziPano from '~/components/MarziPano.vue'

export default {
  name: 'PageRecorrido360Slug',
  components: {
    TheHeader,
    MarziPano,
  },
  async asyncData({ error, route }) {
    try {
      const data = await import(`~/assets/data/tours/${route.params.slug}.js`)
      return data.default || data
    } catch (error_) {
      return error({ statusCode: 404 })
    }
  },
  head() {
    return {
      title: 'Recorido virtual 360º',
      description: 'Disfruta de un tour virtual por la galería.',
      bodyAttrs: {
        class: 'page-recorridos-slug',
      },
    }
  },
  layout: 'empty',
}
</script>

.
<style lang="scss">
.page-recorridos-slug {
  height: 100vh;
  padding: 0;
  overflow: hidden;

  .the-header {
    background: rgba($brand-azul, 0.7);

    &__item:hover,
    &__item:focus {
      color: lighten($brand-naranja, 10%);
    }

    &__logo {
      /* stylelint-disable-next-line selector-max-compound-selectors */
      > path:nth-child(2),
      .logo-text path {
        fill: $brand-naranja !important;
      }
    }
  }
}
</style>
