<template>
  <!-- eslint-disable max-len -->
  <main :class="{ 'animated-intro': animateIntro }" class="page page-index">
    <hero
      title="Recorridos 360°"
      bg-image="/files/images/recorridos360_%size%.jpg"
      min-screen
      text-color="white"
      has-scrim
      class="text-left"
      text-align="left"
      title-align="left"
    >
      <p class="text-h6 lg:text-h5 font-light lg:leading-h6 mb-2">
        Generemos una experiencia envolvente y con detalles reales de tus
        instalaciones para tus clientes potenciales, el 41% de la gente que
        visita un recorrido 360° visita las instalaciones físicas*.
      </p>
      <p class="text-h6 lg:text-h5 font-light lg:leading-h6">
        Construyamos una experiencia virtual para darte a conocer en Google,
        esto favorece tu visibilidad y tu posicionamiento orgánico, además de
        dar un valor agregado a tus usuarios. De los consumidores que buscan
        negocios en internet, el 44% utiliza Google Maps*.
      </p>

      <arrow-scroll />
    </hero>

    <section class="section py-12 md:pb-8 section">
      <div class="container">
        <div class="flex flex-col md:flex-row justify-center items-center">
          <ul
            class="flex md:flex-col justify-around md:justify-center items-center w-full md:w-auto mb-6 md:mr-6 lg:mr-20"
          >
            <li class="block">
              <a
                href="https://goo.gl/maps/FS18rcmVhnyB9Yaa9"
                target="_blank"
                class="text-recorrido"
              >
                <img
                  src="images/StreetView/Mitsubishi-streetview.png"
                  alt="Mitsubishi-recorrido-360"
                  class="w-24 lg:w-32"
                />
                Recorrido - Jardin Bicentenario
              </a>
            </li>

            <li class="block">
              <a
                href="https://goo.gl/maps/wh7h2QAUhkdRn4z2A"
                target="_blank"
                class="text-recorrido"
              >
                <img
                  src="images/StreetView/Mitsubishi-streetview.png"
                  alt="Mitsubishi-recorrido-360"
                  class="w-24 lg:w-32"
                />
                Recorrido - Parroquia de san juan bautista
              </a>
            </li>
            <li class="block bg-green-700">
              <n-link
                to="/recorridos-360/vw-insurgentes"
                class="text-recorrido"
              >
                <img
                  src="images/StreetView/Mitsubishi-streetview.png"
                  alt="Mitsubishi-recorrido-360"
                  class="w-24 lg:w-32"
                />
                Recorrido - Volskwagen Insurgentes
              </n-link>
            </li>
            <li class="block bg-green-700">
              <n-link to="/recorridos-360/panetela" class="text-recorrido">
                <img
                  src="images/StreetView/Mitsubishi-streetview.png"
                  alt="Mitsubishi-recorrido-360"
                  class="w-24 lg:w-32"
                />
                Recorrido - Volskwagen Insurgentes
              </n-link>
            </li>
          </ul>

          <div
            class="text-h6 lg:text-h5 font-light leading-h5 lg:leading-h4 md:w-1/2 lg:w-3/4"
          >
            <p class="pb-2 md:pb-8">
              Llámanos
              <a href="">
                <img
                  src="images/icon/phone-call.svg"
                  alt="icono-phone"
                  class="phone-calling"
                />
              </a>
              , en dinamo contamos con equipo especializado y experiencia en
              levantamiento de imagen para recorridos 360 grados de Google Maps,
              Google My Business y Web Sites, cuya parte del éxito se ve
              reflejado.
            </p>

            <div class="flex justify-center items-center mt-4 lg:mt-6">
              <img
                class="w-16 h-16 lg:w-24 lg:h-24"
                src="/files/images/trusted-streetview.svg"
              />
              <div class="ml-4">
                <p>
                  Tenemos más de 1,000,000 de views.
                </p>
                <p>
                  Estamos avalados por Google Trusted. (Insignia)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section py-0">
      <div class="container">
        <h2 class="title h2">
          Nos encantaría trabajar contigo
        </h2>
        <h3 class="subtitle h3">
          ¡Compártenos tus datos y empieza a atraer clientes!
        </h3>
        <form-contact-basic />
      </div>
    </section>
  </main>
</template>

<script>
import FormContactBasic from '~/components/FormContactBasic.vue'
import Hero from '~/components/HeroGeneric.vue'
import ArrowScroll from '~/components/ArrowScroll.vue'

export default {
  name: 'PageRecoridos360',
  components: {
    FormContactBasic,
    Hero,
    ArrowScroll,
  },
  data: () => ({
    animateIntro: false,
    map: '',
  }),
  meta: {
    headerIsDark: true,
  },
  mounted() {
    setTimeout(() => {
      // Aplicando animaciones
      this.animateIntro = true
    }, 300)
  },
}
</script>

<style lang="scss">
.page-recorridos-360 {
  @media #{$mq-lg} {
    .the-header:not(.is-top) {
      /* stylelint-disable-next-line */
      .the-header__item {
        color: #fff;
      }
    }
  }
}
</style>

<style lang="scss" scoped>
@import '~assets/styles/variables';

.text-recorrido {
  display: flex;
  padding-bottom: theme('padding.2');
  color: theme('colors.black');
  text-align: center;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  transition: 300ms ease-out;

  &:hover {
    color: theme('colors.brand.naranja');
  }
}

.phone-calling {
  width: theme('width.3');
  height: theme('height.3');
  margin-left: theme('margin.1');
  transform: rotate(-30deg);
  animation: call 3300ms infinite;
}

// Animacion de icono de telefono
@keyframes call {
  /* Esta animacion esta repitiendo el ciclo cada 4 iteraciones, para que el
  telefono de la apariencia de movimiento de derecha a izquiera y comience
  nuevamente. Todo se repite 3 veces */

  // Primera repeticion
  1% {
    transform: rotate(0deg);
  }

  2% {
    transform: rotate(15deg);
  }

  3% {
    transform: rotate(0deg);
  }

  4% {
    transform: rotate(-30deg);
  }

  // Segunda repeticion
  5% {
    transform: rotate(0deg);
  }

  6% {
    transform: rotate(15deg);
  }

  7% {
    transform: rotate(0deg);
  }

  8% {
    transform: rotate(-30deg);
  }

  // Tercera repeticion
  9% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(15deg);
  }

  11% {
    transform: rotate(0deg);
  }

  12% {
    transform: rotate(-30deg);
  }
}

.map {
  width: 90vw;
  height: 400px;

  @media #{$mq-lg} {
    width: 800px;
    height: 500px;
  }
}
</style>
