<template>
  <div class="layout layout--default" :class="classLayout">
    <!-- header -->
    <the-header-blog />
    <!-- nuxt/pages -->
    <nuxt />
    <the-footer />
    <!-- Poder Boton Maximus -->
    <the-contact-box />

    <alert-cookie />
    <!-- <alert-development /> -->
  </div>
</template>

<script>
import TheHeaderBlog from '~/components/TheHeaderBlog.vue'
import TheFooter from '~/components/TheFooter.vue'
import TheContactBox from '~/components/TheContactBox.vue'
import AlertCookie from '~/components/AlertCookie.vue'

function browserSupportsVariableFonts() {
  if ('CSS' in window === false || 'supports' in CSS === false) {
    return false
  }

  return CSS.supports('(font-variation-settings: normal)')
}
export default {
  name: 'DefaultLayout',
  components: {
    AlertCookie,
    TheContactBox,
    TheHeaderBlog,
    TheFooter,
  },
  computed: {
    /** @returns {[string, {webp: boolean}]} La clase con el nombre de la ruta */
    classLayout() {
      return [
        `page-${this.$route.name}`,
        { webp: this.$nuxt.context.env.hasWebp },
      ]
    },
  },
  created() {
    if (!process.client) {return}
    if (browserSupportsVariableFonts()) {
      import('~/assets/fonts/IBMPlexSans.scss').then((m) => {
        // eslint-disable-next-line no-console
        console.log('variable font', m)
      })
    } else {
      import('~/assets/fonts/IBMPlexSans.scss').then((m) => {
        // eslint-disable-next-line no-console
        console.log('No variable font', m)
      })
    }
  },
}
</script>
