<template>
  <div class="page--error" @dblclick="showDetails = true">
    <div class="bg-brand-azul hero-generic min-h-screen">
      <div class="container text-white text-center">
        <template v-if="error.statusCode === 404">
          <h1 class="h2">¡Opps! No encontramos lo que buscabas</h1>
          <h2 class="h3">quizá algo de esto sea lo que estás buscando:</h2>
        </template>
        <h1 v-else class="h2">
          <strong>Ouch!!</strong>
          <br />A pesar de todos nuestros esfuerzos... algo falló,
          <br />
          <i>guardamos la información para analizarla en breve.</i>
        </h1>
        <div v-show="showDetails" class="container">
          <pre>{{ error }}</pre>
        </div>
        <div class="has-text-centered">
          <nuxt-link to="/hacemos" exact class="btn">¿Qué hacemos?</nuxt-link>
          <nuxt-link to="/portafolio" exact class="btn">Portafolio</nuxt-link>
          <nuxt-link to="/a113" exact class="btn">Blog</nuxt-link>
          <nuxt-link to="/contacto" exact class="btn">Cotiza</nuxt-link>
        </div>
        <img src="/files/images/Sofi_1.png" alt class="mx-auto w-20 md:w-32" />
      </div>
    </div>
  </div>
</template>

<script>
import { CHANGE_HEADER_COLOR } from '~/utils/mutations'
/** @typedef {import('@nuxt/types').NuxtError } NuxtError */

export default {
  name: 'Error',
  props: {
    error: {
      type: [Object, Error],
      required: true,
      default: () => ({
        statusCode: 404,
      }),
    },
  },
  data: () => ({
    showDetails: false,
  }),
  computed: {
    /** @returns {NuxtError} */
    parsedError() {
      if (typeof this.error === 'object') {
        return this.error
      }
      if (typeof this.error === 'string') {
        return { message: this.error, statusCode: 500 }
      }
      return { ...this.error }
    },
  },
  created() {
    this.$store.commit(CHANGE_HEADER_COLOR, 'alternate')
  },
}
</script>

<style scoped>
.btn {
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}
</style>
