<template>
  <main id="page_blog_archive" class="page--blog">
    <div class="relative">
      <hero
        :bg-image="
          $store.state.currentBlogHero || '/files/images/blog/hero/blog%.jpg'
        "
        bg-image-alt="dinamo A113"
        bg-full
        webp
      />

      <filter-tags :tags="tags" @search="setSearchQuery" />
    </div>
   
    <section class="section">
      <nuxt-child :entries="entries" :search-term="searchQuery || ''" />
    </section>
  </main>
</template>

<script>
// import throttle from 'lodash/throttle'
import { SET_BLOG_BACKGROUND } from '../utils/mutations'
import Hero from '~/components/HeroGeneric.vue'
import FilterTags from '~/components/FilterTags.vue'
import { sameAs } from '~/utils/schema'

/** @type {import('schema-dts').Blog} */
const schemaBlog = {
  '@id': 'https://www.dinamo.mx/',
  '@type': 'Blog',

  name: 'Dinamo Blog',
  url: 'https://www.dinamo.mx/a113',
  sameAs,
}

/**
 * @param {import('types').NuxtentBlogPost} entry
 * @returns {import('schema-dts').Blog}
 */
function createArticleSchema(entry) {
  let {
    title,
    abstract,
    autor,
    keywords,
    publishedAt,
    image_cover,
    url,
  } = entry
  return {
    '@type': 'Blog',
    headline: title,
    abstract,
    accessMode: ['textual'],
    author: autor,
    keywords,
    publisher: 'https://www.dinamo.mx',
    datePublished: publishedAt.toString(),
    image: [`https://www.dinamo.mx/files/images/${image_cover}`],
    url,
  }
}

export default {
  name: 'A113',
  components: {
    Hero,
    FilterTags,
  },
  async fetch() {
    try {
      let instance = this.$content('a113')

      if (this.searchQuery) {
        instance = instance.search(this.searchQuery)
      }
      /**
       * @param {{ publishedAt: string | number | Date; }} entry
       */
      
      this.entries = (
        await instance
          .only([
            'autor',
            'publishedAt',
            'createdAt',
            'autor',
            'autor_detalle',
            'description',
            'abstract',
            'title',
            'image_card',
            'headline',
            'keywords',
            'date',
            'tag',
            'main',
            'slug',
          ])
          .sortBy('slug', 'desc')
          .fetch()
      ).map((entry) => {
        if (!(entry.publishedAt instanceof Date)) {
          entry.publishedAt = new Date(entry.publishedAt)
        }
        return entry
      })
    } catch (error_) {
      // eslint-disable-next-line no-console
      console.error(error_)
    }
  },
  async asyncData({ $content }) {
    /** @type {{tag: string}[]} */
    const entries = await $content('a113').only(['tag']).fetch()
    /** @type {string[]} */
    let tags = []
    // eslint-disable-next-line unicorn/no-for-loop
    for (let i = 0; i < entries.length; i++) {
      let { tag } = entries[i]

      if (!tags.includes(tag)) {
        tags.push(tag)
      }
    }
    return { tags }
  },
  data() {
    return {
      /** @type {import('types').NuxtentBlogPost[]} */
      entries: [],
      /** @type {string[]} */
      years: [],
      /** @type {string[]} */
      tags: [],
      findPosts: '',
    }
  },
  computed: {
    /** @returns {string|null} */
    searchQuery() {
      const searchQuery = this.$route.query.search
      if (Array.isArray(searchQuery)) {
        return searchQuery[0] ? searchQuery[0].toLowerCase() : null
      }
      return searchQuery ? searchQuery.toLowerCase() : null
    },
  },
  watch: {
    '$route.query': '$fetch',
    '$route.params.slug': {
      immediate: true,
      handler(slug) {
        if (!slug) {
          this.$store.commit(SET_BLOG_BACKGROUND)
        }
      },
    },
  },
  methods: {
    /** @param {string} query */
    setSearchQuery(query) {
      if (!(query.length > 3)) {
        return
      }
      this.$router.push({ query: { search: query } })
    },
  },
  head() {
    const /**
       * @param {import("../types").NuxtentBlogPost} entry
       */
 blogLeafs = this.entries.map((entry) => createArticleSchema(entry))
    return {
      title: 'A113',
      script: [
        {
          innerHTML: JSON.stringify({
            '@context': {
              '@vocab': 'https://schema.org/',
            },
            '@graph': [schemaBlog, ...blogLeafs],
          }),
          type: 'application/ld+json',
        },
      ],
    }
  },
  meta: {
    headerIsDark: true,
  },
  layout: 'blog',
}
</script>
