<template lang="html">
  <div id="aviso-privacidad" class="page--aviso-privacidad">
    <!-- eslint-disable max-len -->
    <hero :title="$t('Aviso.title')" />

    <section class="section py-0">
      <div class="container">
        <div class="md:w-3/5 mx-auto">
          <p>
            <strong>
              {{$t('Aviso.text1')}}
            </strong>
          </p>

          <h3 class="mt-6 h4"> {{$t('Aviso.uno')}}</h3>
          <p>
            {{$t('Aviso.uno_contenido')}}
          </p>
          <h3 class="mt-6 h4">
            {{$t('Aviso.dos')}}
          </h3>
          <p>
            {{$t('Aviso.dos_contenido')}}
          </p>
         
          <h3 class="mt-6 h4">  {{$t('Aviso.tres')}}</h3>
          <ul class="list-decimal list-inside font-bold">
            <li>
              Brindar el servicio y los servicios y/o productos solicitados.
            </li>
            <li>
              Ofrecer la información sobre nuestros productos y/o servicios.
            </li>
            <li>
              Comunicar descuentos y promociones sobre nuestros servicios y/o
              productos.
            </li>
            <li>Atender solicitudes y quejas.</li>
            <li>Evaluar la calidad de nuestro servicio.</li>
            <li>Para fines comerciales.</li>
            <li>Para fines fiscales y/o de facturación.</li>
            <li>
              Para mejorar nuestro contenido de sitio web y notificarte sobre
              actualizaciones al mismo.
            </li>
            <li>
              Para mantener resguardos físicos, electrónicos y de procedimiento.
            </li>
          </ul>
          <br />
          <p>
             {{$t('Aviso.tres_contenido_2')}}
          </p>
          <p>
           {{$t('Aviso.tres_contenido_3')}}
          </p>
          <p>
            {{$t('Aviso.tres_contenido_3')}}
          </p>
          <h3 class="mt-6 h4">
            {{$t('Aviso.cuatro')}}
          </h3>
          <p>
               {{$t('Aviso.cuatro_contenido')}}
          </p>
          <h3 class="mt-6 h4">    {{$t('Aviso.cinco')}}</h3>
          <p>
         {{$t('Aviso.cinco_contenido')}}
          </p>
          <p>
              {{$t('Aviso.cinco_contenido2')}}
          </p>
          <p>
             {{$t('Aviso.cinco_contenido3')}}
          </p>
          <p>
             {{$t('Aviso.cinco_contenido4')}}
          </p>
          <h3 class="mt-6 h4">
            {{$t('Aviso.seis')}}
          </h3>
          <p>
               {{$t('Aviso.seis_contenido')}}
          </p>
          <p>
                {{$t('Aviso.seis_contenido2')}}
          </p>
          <h3 class="mt-6 h4">
                {{$t('Aviso.siete')}}
          </h3>
          <p>
               {{$t('Aviso.siete_contenido')}}
          </p>
          <h3 class="mt-6 h4">
                {{$t('Aviso.ocho')}}
          </h3>
          <p>
                  {{$t('Aviso.ocho_contenido')}}
          </p>
          <h3 class="mt-6 h4">        {{$t('Aviso.nueve')}}</h3>
          <p>
                  {{$t('Aviso.nueve_contenido')}}
          </p>
          <h3 class="mt-6 h4">
                   {{$t('Aviso.diez')}}
          </h3>
          <p>
                 {{$t('Aviso.diez_contenido')}}
          </p>
          <h3 class="mt-6 h4">        {{$t('Aviso.once')}}</h3>
          <p>
                   {{$t('Aviso.once_contenido')}}
          </p>
          <h3 class="mt-6 h4">        {{$t('Aviso.doce')}}</h3>
          <p>
                   {{$t('Aviso.doce_contenido')}}
          </p>

          <p>
            {{$t('Aviso.doce_contenido2')}}
          </p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Hero from '../components/HeroGeneric.vue'

export default {
  name: 'AvisoPrivacidad',
  components: {
    Hero,
  },
  head() {
    return {
      title: 'Aviso de Privacidad',
    }
  },
  meta: {
    headerIsDark: true,
  },
}
</script>

<style lang="scss" scoped>
.page--aviso-privacidad {
  p {
    margin-bottom: theme('spacings.2');
  }
}
</style>
