<template>
  <div id="page_contacto" class="page_is_contacto">
    <!-- eslint-disable max-len -->
    <section class="section pt-20 pb-12">
      <div class="container text-center">
        <h1 class="h1 title md:w-5/6 lg:w-2/3 mx-auto">
            {{$t('Cotizatop.imagen1_title')}}
        </h1>

        <p
          class="sm:w-3/4 md:w-3/5 lg:w-1/2 xxl:w-2/5 mx-auto font-bold italic"
        >
          <img
            src="/quote-left.svg"
            alt="comilla-apertura"
            class="h-2 inline-block mb-2"
          />
           {{$t('Cotizatop.comillas')}}
          <br />
          <img
            src="/quote-right.svg"
            alt="comilla-cierre"
            class="h-4 inline-block mt-2 mb-2"
          />
        </p>
        <p class="text-base mx-auto w-2/5">  {{$t('Cotizatop.man')}}</p>
      </div>
    </section>
    <section class="section py-0 mb-4">
      <div class="container w-full md:w-5/6 lg:w-4/6">
        <form-contact-basic />
      </div>
    </section>
  </div>
</template>

<script>
import FormContactBasic from '~/components/FormContactBasic.vue'

export default {
  name: 'Contacto',
  components: {
    FormContactBasic,
  },
  head() {
    return {
      title: 'Contacto',
    }
  },
  meta: {
    headerIsDark: true,
  },
}
</script>
