<template>
  <main class="page--cookies section">
    <div class="container cookies">
      <h1 class="h3">Política de cookies</h1>
      <p>
        Las cookies de este sitio web se utilizan para ofrecer contenido y
        anuncios personalizados, además de brindar funciones de redes sociales y
        analizar el tráfico. Es importante que sepas que compartimos información
        sobre el uso que hagas del sitio web con nuestros partners de redes
        sociales, publicidad y análisis web, quienes pueden combinar esta
        información con otra que les hayas proporcionado o que hayan recopilado
        a partir del uso que haya hecho de sus servicios. Aceptas nuestras
        cookies si continúas navegando nuestro sitio web.
      </p>

      <ul class="flex flex-col lg:flex-row justify-between mt-8 mb-6">
        <li
          v-for="(definition, i) in cookieDefinition"
          :key="i"
          class="cookies__list-col"
        >
          <h2 class="h6 title">{{ definition.label }}</h2>
          <div class="content">
            <p v-for="(d, o) in definition.desc" :key="o" v-text="d"></p>
          </div>
        </li>
      </ul>

      <div class="flex flex-col justify-center items-center">
        <p>¿Aceptas las cookies de terceros?</p>
        <input
          id="accept-cookie"
          :value="true"
          type="radio"
          name="accept-cookie"
          class="hidden"
          :checked="trackingOn"
          @change="changeTrackingState(true)"
        />
        <input
          id="deny-cookie"
          :value="false"
          type="radio"
          name="accept-cookie"
          class="hidden"
          :checked="!trackingOn"
          @change="changeTrackingState(false)"
        />
        <div
          class="switch"
          :class="{
            'switch--yes': trackingOn,
            'switch--no': !trackingOn,
          }"
        >
          <label
            class="switch__label switch__label--yes"
            for="accept-cookie"
            >Si</label
          >
          <span class="switch__icon"></span>
          <label
            class="switch__label switch__label--no"
            for="deny-cookie"
            >No</label
          >
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { data as cookieDefinition } from '~/assets/data/cookie-definitions.json'
import {
  INITIAL_VISIT,
  ACCEPTED_STATE,
  DENIED_STATE,
  IMPLICIT_STATE,
} from '~/plugins/tracking.client'

export default {
  // TODO: En vue3 vamos a reemplazar esto por composition API
  name: 'PageCookies',
  meta: {
    headerIsDark: true,
  },
  data() {
    return {
      cookieDefinition,
    }
  },
  computed: {
    trackingState() {
      return this.$tracking.status
    },
    trackingOn() {
      switch (this.trackingState) {
        case IMPLICIT_STATE:
        case INITIAL_VISIT:
        case ACCEPTED_STATE:
          return true
        case DENIED_STATE:
          return false
        default:
          // eslint-disable-next-line no-console
          console.warn(`Estado desconocido de trackeo ${this.trackingState}`)
          return false
      }
    },
  },
  mounted() {
    if (this.$tracking.status !== 'denied') {
      this.$fbq?.bootstrap()
    }
  },
  methods: {
    /** @param {boolean} activate Activa o desactiva el rastreo */
    changeTrackingState(activate) {
      if (activate) {
        this.$tracking.explicitEnable()
      } else {
        this.$tracking.disableTracking()
      }
    },
  },
}
</script>

<style lang="scss" scoped>
$radious: 25px;

.switch {
  position: relative;
  display: grid;
  max-width: theme('maxWidth.sm');
  line-height: theme('lineHeight.small');
  text-align: center;
  border-radius: $radious;
  transition: 0.3s ease;
  transition-property: color, background-color;
  align-items: stretch;
  grid-template-columns: 1fr 40px 1fr;

  &__icon {
    display: block;
    width: 20px;
    height: 4px;
    margin: 4px 4px 4px 12px;
    background: #fff;
    border-radius: 2px;
    transition: 0.2s ease;
    transform: rotate(-45deg);
    align-self: center;

    &::after {
      position: absolute;
      display: block;
      width: 4px;
      height: 12px;
      margin-top: -8px;
      content: '';
      background: #fff;
      border-radius: 2px;
      transition: 0.2s ease;
      transition-property: margin, height, width, background-color;
    }
  }

  &__label {
    display: flex;
    padding: theme('spacings.1');
    align-items: center;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: transparent;
    transition: color 0.2s ease, background-color 0.6s ease-out;

    &:hover,
    &:focus {
      background-color: rgba($black, $alpha: 0.1);
    }
  }

  &__label--yes {
    padding-left: theme('spacings.2');
    text-align: left;
    border-top-left-radius: $radious;
    border-bottom-left-radius: $radious;
  }

  &__label--no {
    padding-right: theme('spacings.2');
    text-align: right;
    border-top-right-radius: $radious;
    border-bottom-right-radius: $radious;
  }

  &--no {
    background-color: #ff3b30;
  }

  &--no & {
    &__label--no {
      font-weight: bold;
    }

    &__icon {
      background-color: #fff;

      &::after {
        height: 20px;
        margin-top: -8px;
        margin-left: 8px;
        background-color: #fff;
      }
    }

    &__label--yes,
    &__label--no {
      color: #fff;
    }
  }

  &--yes {
    font-weight: bold;
    background: $green-500;
  }

  &--yes & {
    &__label--yes {
      font-weight: bold;
    }

    &__label--yes,
    &__label--no {
      color: #fff;
    }
  }
}
</style>
