<template>
  <div id="equipo" class="page--hacemos team">
    <section class="section tp-0 team__hero">
      <div class="container relative">
        <div class="team__hero-title">
          <p class="team__text-shadow">We are</p>
          <p class="team__text-shadow ml-1/4 sm:ml-0 sm:text-center">what</p>
          <p class="team__text-shadow ml-1/2 sm:ml-0 sm:text-right">we are</p>
        </div>
      </div>

      <div class="container">
        <div class="team__body">
          <div class="lg:w-3/5">
            <h1 class="h1 title lg:mb-18">
               {{$t('Equipo.somos')}}
            </h1>
          </div>
          <p class="team__number">
            {{ items.length }}
          </p>
        </div>

        <div class="content team__text">
            <p>
              {{$t('Equipo.p1')}}
          </p>
          <p>   {{$t('Equipo.p2')}}</p>
        </div>
      </div>
    </section>

    <section class="section pt-0">
      <div class="container cards-grid">
        <div
          v-for="(item, i) in items"
          :key="i"
          class="block ficha"
        >
          <button
            class="w-full h-full"
            @click="toggleModal(i)"  
          >
          <card-equipo
            class="w-full h-full "
            :name="item.name"
            :position="item.position"
            :image="item.image"
            :image-center="item.imageCenter"
            :image-back="item.imageBack"
            :image-back-center="item.imageBackCenter"
           
          />
          </button>
          <!--TODO: add proyects in a dinamic way, the way it was added wheres consuming so much cpu on server-->
        </div>
      </div>
    </section>

    <modal-slider
      v-if="currentModal"
      :active="currentIndex !== null"
      :name="currentModal.name"
      :position="currentModal.position"
      :skills="currentModal.skills"
      :description="currentModal.descripcion"
      :theme="currentModal.theme"
      :bg-position="currentModal.bgPosition"
      :image-background="currentModal.imageBackground"
      :alt-image="currentModal.altImage"
      @close="toggleModal(null)"
      @prev="prevSlide(currentIndex)"
      @next="nextSlide(currentIndex)"
    />
    <modal-contact />
  </div>
</template>

<script>
import Vue from 'vue'
import ModalContact from '~/components/ModalContact.vue'
import ModalSlider from '~/components/ModalSlider.vue'
import CardEquipo from '~/components/CardEquipo.vue'
// import { items } from '~/assets/data/equipo.json'

/**
 *
 * @param {import('types').TeamCardInfo} entry
 * @returns  {import('schema-dts').Person}

 */
function createPersonSchema(entry) {
  return {
    '@type': 'Person',
    name: entry.name,
    jobTitle: entry.position,
    worksFor: 'https://www.dinamo.mx/',
    description: entry.descripcion,
    image: entry.imagen,
  }
}

export default Vue.extend({
  name: 'Equipo',
  components: {
    ModalContact,
    CardEquipo,
    ModalSlider,
  },
  async fetch() {
    await fetch(
      this.items.sort(() => 0.5 - Math.random()),
    );
    
  },
  data() {
    return {
      scrollY: 0,
      isActiveModal: false,
      /** @type {import('types').TeamCardInfo[]} */
      items: [],
      
    }
  },
 
  computed: {
    console: () => console,
    currentPerson: {
      /** @returns {string|null} */
      get() {
        let index = this.$route.query.persona
        if (Array.isArray(index)) {
          index = index[0] || ''
        }
        if (index === '' || index === null) {
          return null
        }
        return decodeURI(index)
      },
      /** @param {string | null} value */
      set(value) {
        this.$router.push({
          query: { persona: value ? encodeURI(value) : value },
        })
      },
    },
    currentIndex: {
      /** @returns {number | null} */
      get() {
        const index = this.currentPerson
          ? this.items.findIndex(({ name }) => name === this.currentPerson)
          : null
        if (index === -1) {
          return null
        }
        return index
      },
      /** @param {number | null} index */
      set(index) {
        this.currentPerson = index === null ? null : this.items[index]?.name
      },
    },
    /** @returns {import('types').TeamCardInfo | null} */
    currentModal() {
      if (this.currentIndex === null) {
        return null
      }
      return this.items[this.currentIndex] || null
    },
  },
  created(){
    if(this.$i18n.locale === 'en'){
      this.items = require('~/assets/data/equipo-en.json');
    }
    else{
      this.items = require('~/assets/data/equipo.json');;
    }
  },
  mounted() {
    
    this.isActiveModal = !!this.currentIndex
    if (this.isActiveModal) {
      this.disableScroll()
    }
  },
 
  methods: {
    
    /** @param {number|null} i Index del slide */
    prevSlide(i) {
      const array = this.items.length - 1
      if (i === null) {
        this.currentIndex = null
        return
      }
      if (i <= 0) {
        this.currentIndex = array
      } else if (typeof this.currentIndex === 'number') {
        this.currentIndex--
      } else {
        this.currentIndex = 0
      }
    },
    /** @param {number|null} i Index del slide */
    nextSlide(i) {
      const array = this.items.length - 1
      if (i === null) {
        this.currentIndex = null
        return
      }
      if (i >= array) {
        this.currentIndex = 0
      } else if (typeof this.currentIndex === 'number') {
        this.currentIndex++
      } else {
        this.currentIndex = array
      }
    },
    /** @param {number|null} index Index del slide actual */
    toggleModal(index) {
      this.currentIndex = index
      this.isActiveModal = !this.isActiveModal
      this.console.log('toggle modal fired');

      if (this.isActiveModal) {
        this.$gtag?.event('Open Modal Cta', {
          event_category: 'engagement',
          event_label: `Modal Cta en ${this.$route.path}`,
        })
        // this.disableScroll()
      } else {
        if (this.$gtag?.event && typeof this.$gtag?.event === 'function') {
          this.$gtag?.event('Open Modal Ctal', {
            event_category: 'engagement',
            eventAction: 'Close Modal Cta',
            eventLabel: `Modal Cta en ${this.$route.path}`,
          })
        }
        this.enableScroll()
      }
    },

    disableScroll() {
      this.scrollY = window.scrollY
      document.documentElement.style.scrollBehavior = 'auto'
      setTimeout(() => {
        // Cuando termina la animación aplicamos los estilos
        document.body.style.position = 'fixed'
        document.body.style.top = `-${this.scrollY}px`
        // El delay es el mismo que dura la animacion de __wrapp--is-active
      }, 400)
    },

    enableScroll() {
      const { body } = document
      body.style.position = ''
      body.style.top = ''
      window.scrollTo(0, this.scrollY)
      document.documentElement.style.scrollBehavior = 'smooth'
    },
  },
  head() {
    return {
      title: 'Equipo',
      script: [
        
        ...this.items.map((person) => {
          return {
            innerHTML: JSON.stringify(createPersonSchema(person)),
            type: 'application/ld+json',
          }
        }),
      ],
    }
  },
  meta: {
    headerIsDark: true,
  },
})
</script>

<style lang="scss">
.ficha {
  max-height: 100%;
  padding-bottom: 5rem;
}

.team {
  &__hero {
    position: relative;
    max-height: 600px;
    overflow: hidden;
  }

  &__hero-title {
    position: absolute;
    top: theme('spacings.4');
    left: 0;
    width: 100%;
    white-space: nowrap;

    @include md {
      margin-top: theme('margin.2');
    }
  }

  &__text-shadow {
    font-size: 75px;
    font-weight: theme('fontWeight.medium');
    line-height: 0.9;
    color: rgba(203, 213, 224, 0.2);
    text-transform: uppercase;
    pointer-events: none;

    @include md {
      font-size: 120px;
    }
    @include lg {
      font-size: 150px;
    }
  }

  &__body {
    display: flex;
    padding-top: theme('padding.24');
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;

    @include md {
      padding-top: theme('padding.12');
      flex-direction: row;
    }
  }

  &__number {
    position: absolute;
    top: theme('margin.8');
    left: 0;
    font-size: 190px;
    font-weight: theme('fontWeight.medium');
    line-height: 1;
    color: rgba(203, 213, 224, 0.15);
    pointer-events: none;

    @include md {
      position: static;
      font-size: 250px;
    }
    @include lg {
      font-size: 350px;
    }
  }

  &__text {
    @include sm {
      width: theme('width.3/4');
      margin-left: theme('margin.24');
    }
    @include lg {
      width: theme('width.3/5');
      padding-right: theme('padding.12');
      margin-top: calc(-1 * theme('margin.8'));
      margin-left: theme('margin.32');
    }
  }
}

.heading {
  line-height: 1.3em;
}

.card-equipo {
  &__skills {
    font-size: ritmo(0.7);
    color: theme('colors.black');
  }
}
</style>
