<template lang="thml">

  <div class="fotografia">
    <header>
      <img
        class="logotipo"
        src="~/assets/logotipo19.svg" />
    </header>
    <div class="container px-4 lg:py-0">
      <h1 class="title text-h4 leading-h4 lg:text-h2 lg:leading-h2">
        Make your product great again.
        </h1>
      <p class="featured text-h4 leading-h4 text-center">
        En <strong>dínamo</strong> estamos seguros que la calidad
        de tu producto debe hablar por sí sola.
      </p>
      <p class="text-center">Checa nuestro trabajo de fotografía y
        si te convence platiquemos de todo lo
        que podemos hacer en conjunto para tus
        productos.</p>
    </div>
      <!-- eslint-disable max-len -->
      <gallery
        class="w-full mt-5"
        :image-sizes="[
        {
          separator: '_',
          word: 'desktop',
          size: '1124w',
        },
        {
          separator: '_',
          word: 'fullhd',
          size: '1780w',
        },
      ]"
        :images="[
          {src:'fotografia/Barra_1.jpg', alt:'Barra Norte'},
          {src:'fotografia/Barra_2.jpg', alt:'Barra Norte'},
          {src:'fotografia/color.jpg', alt:'Color'},
          {src:'fotografia/ensalada.jpg', alt:'Ensalada barra norte'},
          {src:'fotografia/cupcakeLove.jpg', alt:'Producto Cup Cake Love'},
          {src:'fotografia/hotcakes_retro.jpg', alt:'Hotcakes Retro'},
          {src:'fotografia/panetela_1.jpg', alt:'Panetela'},
          {src:'fotografia/panetela_2.jpg', alt:'Panetela'},
          {src:'fotografia/panetela_3.jpg', alt:'Panetela'},
          {src:'fotografia/papas_happy.jpg', alt:'Panetela'},
          {src:'fotografia/papas_happy-2.jpg', alt:'Panetela'},
          {src:'fotografia/papas_happy-3.jpg', alt:'Panetela'},
          {src:'fotografia/pastel.jpg', alt:'Panetela'},
          {src:'fotografia/pizza_retro.jpg', alt:'Panetela'},
          {src:'fotografia/rosca.jpg', alt:'Panetela'},
          {src:'fotografia/hamburguesa_retro.jpg', alt:'Hamburguesa Retro'},
          {src:'fotografia/rol.jpg', alt:'Rol'},
          {src:'fotografia/pan_bimbo.jpg', alt:'Pan Bimbo'},
          {src:'fotografia/modelo.jpg', alt:'Book de modelo'},
          {src:'fotografia/mango.jpg', alt:'Gato'},
          ]" />
    <div class="container px-4 lg:py-0 mt-10">
      <h3 class="title text-h2 leading-h2">¿Cuándo platicamos?</h3>

      <form-fotografia
        mailTitle="Campaña de fotorafía"
        sendTo="hola@wdinamo.com"
        ocultCopyTo="ramses@wdinamo.com"
        sheet-destiny="Fotografia"
        class="w-full text-center pb-10" />
    </div>
  </div>
</template>
<script>
import Gallery from '~/components/Gallery.vue'
import FormFotografia from '~/components/FormFotografia.vue'

export default {
  name: 'Fotografia',
  components: { Gallery, FormFotografia },
  head() {
    return {
      title: 'Fotografía',
    }
  },
  layout: 'clean',
  meta: {
    headerIsDark: true,
  },
}
</script>
<style lang="scss" scoped>
@import '~assets/styles/variables';

.logotipo {
  width: 120px;
  height: 120px;
  @media #{$mq-md} {
    width: 150px;
    height: 150px;
  }
  @media #{$mq-lg} {
    width: 200px;
    height: 200px;
  }
}

.fotografia {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
</style>
