<template>
  <main class="bg-brand-naranja">
    <hero-generic title="¡Ya hicimos contacto!" title-color="white" min-screen>
      <h2 class="subtitle h4 text-white">
       {{$t('gracias.dos')}}
      </h2>

      <img
        src="/files/images/Sofi_2.png"
        alt=""
        class="mx-auto w-20 md:-mt-6 md:w-32"
      />

      <div class="text-h6 text-center mt-6 md:mt-10 text-white">
        <p class="mb-2">
          {{$t('gracias.tres')}}
        </p>
        <p class="text-h5 leading-h5 flex justify-center">
          <a
            href="https://facebook.com/dinamo.diseno/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white mx-1"
          >
            <fa-icon :icon="['fab', 'facebook']" />
          </a>
          <a
            href="https://www.twitter.com/wdinamo/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white mx-1"
          >
            <fa-icon :icon="['fab', 'twitter']" />
          </a>
          <a
            href="https://www.linkedin.com/company/dinamo-mx"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white mx-1"
          >
            <fa-icon :icon="['fab', 'linkedin']" />
          </a>
          <a
            href="https://www.instagram.com/dinamo.agencia/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white mx-1"
          >
            <fa-icon :icon="['fab', 'instagram']" />
          </a>
        </p>
      </div>
    </hero-generic>
    <!--
          Aquí se sugiere tener un CTA que mantenga
          al usuario en comunicación con la marca
        -->
  </main>
</template>

<script>
import HeroGeneric from '~/components/HeroGeneric.vue'

export default {
  name: 'PageGracias',
  components: {
    HeroGeneric,
  },
  mounted() {
    // Aquí ejecuta las acciones de rastreo de leads
  },
  head: {
    title: 'Gracias',
    meta: [{ name: 'robots', content: 'noindex' }],
  },
}
</script>
