<template lang="html">
  <div id="hacemos" class="page--hacemos">
    <!-- eslint-disable max-len -->
    <ButtonScrollTop />

    <section class="hero-generic min-h-screen">
      <div class="hero-generic__body w-full section py-0">
        <div class="container">
          <div class="lg:w-4/5 mx-auto -mt-20 md:mt-2 md:mb-2 pb-6 text-center">
            <h1 class="hacemos__title-hero">
              {{$t('Hacemos.what_we')}}
              <span class="hacemos__decoration-text text-black">
                 {{$t('Hacemos.do')}}
              </span>
            </h1>
            <p class="hacemos__text-hero">
               {{$t('Hacemos.subtitle')}}
            </p>
          </div>

          <arrow-scroll />
        </div>
      </div>
    </section>

    <!-- Texto animado -->
    <section id="animation" class="section pt-0 pb-12 md:pb-16 bg-gray-100">
      <div>
        <ul class="hacemos__animation-text">
          <li
            aria-hidden
            class="absolute w-1/2 right-0 top-0 bottom-0 bg-brand-naranja block h-full"
          />
          <li
            v-for="(palabra, index) in palabras"
            :key="index"
            :class="
              palabra.isActive
                ? 'hacemos__animation-text--animation-in'
                : 'hacemos__animation-text--animation-out'
            "
            class="absolute flex h-full w-full font-medium tracking-widest uppercase"
          >
            <div
              class="text-brand-azul absolute top-0 left-0 w-1/2 h-full font-bold flex justify-end items-center"
            >
              <span>{{ palabra.left }}</span>

              <span
                :class="
                  palabra.isActive ? 'hacemos__animation-text--move-tape' : ''
                "
                class="hacemos__animation-text--text-tape"
              />
            </div>

            <span
              class="text-white absolute top-0 right-0 w-1/2 h-full flex items-center font-bold"
            >
              {{ palabra.right }}
            </span>
          </li>
        </ul>
      </div>
      <div class="container content hacemos__servicios">
        <p>
         {{$t('Hacemos.p1')}}
        </p>
        <p>
           {{$t('Hacemos.p2')}}
        </p>
      </div>

      <div class="text-center">
        <cta-inline />
      </div>

    </section>

    <section class="section">
      <acordeon-number :items="items" />
    </section>

    <!-- eslint-enable max-len -->
    <section class="section py-12 md:py-16 lg:py-20 bg-gray-100">
      <h2 class="hacemos__title-end">
        <span class="hacemos__title-end__text-lineTop">
          {{$t('Hacemos.nosotros_ponemos')}}
        </span>
        <span class="hacemos__title-end__text-lineMid">
            {{$t('Hacemos.la')}}
          <span class="text-brand-naranja font-medium">  {{$t('Hacemos.creatividad')}}</span>
        </span>
        <span class="hacemos__title-end__text-lineBot">
             {{$t('Hacemos.y_tu_el')}}
          <span class="hacemos__text-brand-naranja font-bold">   {{$t('Hacemos.reto')}}</span>
        </span>
      </h2>

      <h3 class="hacemos__title-end__question mb-6">
        {{$t('Hacemos.ayuda')}}
      </h3>
      <div class="container text-center">
        <cta-inline />
      </div>

      <div align="center">
      <a href="https://api.whatsapp.com/send?phone=5215515104704&text=Hola%20podria%20darme%20la%20cotización%20sobre" target="_blank" title="link_whatsapp">
      <img 
      src="/files/images/whatsapp.svg"
      alt="Icono de whatsapp Tanya"
      width="200"
      height="200"
      /> 
      <p class= "text-center font-bold text-brand-naranja"> {{$t('Hacemos.mensajito')}}</p>
      </a>
      </div>
    
    </section>
  </div>
</template>

<script>

import ArrowScroll from '~/components/ArrowScroll.vue'
import AcordeonNumber from '~/components/AcordeonNumber.vue'
import ButtonScrollTop from '~/components/ButtonScrollTop.vue'

// import { items } from '~/assets/data/hacemos.json'
/** @typedef {import('types').HacemosWordItem} HacemosWordItem */
export default {
  name: 'Hacemos',
  components: {
    
    ArrowScroll,
    AcordeonNumber,
    ButtonScrollTop,
  },
  data: () => ({
    items:[],
    /** @type {HacemosWordItem[]} */
    palabras: [
      {
        interval: undefined,
        timeoutA: undefined,
        timeoutB: undefined,
        isActive: false,
        left: 'Estra',
        right: 'tegia',
      },
      {
        interval: undefined,
        timeoutA: undefined,
        timeoutB: undefined,
        isActive: false,
        left: 'Dis',
        right: 'eño',
      },
      {
        interval: undefined,
        timeoutA: undefined,
        timeoutB: undefined,
        isActive: false,
        left: 'Fotog',
        right: 'rafía',
      },
      {
        interval: undefined,
        timeoutA: undefined,
        timeoutB: undefined,
        isActive: false,
        left: 'Ima',
        right: 'gen',
      },
    ],
  }),
  created(){
    if(this.$i18n.locale === 'en'){
      this.items = require('~/assets/data/hacemos-en.json');

      this.palabras[0].left = "Stra";
      this.palabras[0].right = "tegy";

      this.palabras[1].left = "Des";
      this.palabras[1].right = "ign";

      this.palabras[2].left = "Photo";
      this.palabras[2].right = "graphy";

      this.palabras[3].left = "Visual";
      this.palabras[3].right = "ization";
    }
    else{
      this.items = require('~/assets/data/hacemos.json');;
    }
    
  },
  mounted() {
    this.timeShow()
    this.nextSectionDoWe()
  },
  beforeDestroy() {
    this.clearIntervals()
  },
  
  methods: {
    clearIntervals() {
      for (let i = 0; i < this.palabras.length; i++) {
        clearInterval(this.palabras[i].interval)
        clearTimeout(this.palabras[i].timeoutA)
        clearTimeout(this.palabras[i].timeoutB)
      }
    },
    timeShow() {
      const animationLenght = 1800
      const timelineLenght = animationLenght * this.palabras.length

      /** @param {number} i Index */
      const executeAnimation = (i) => {
        this.palabras[i].isActive = true
        // la duración de la animación
        this.palabras[i].timeoutB = window.setTimeout(() => {
          this.palabras[i].isActive = false
        }, animationLenght)
      }

      for (let i = 0; i < this.palabras.length; i++) {
        const delay = i * animationLenght
        // Delay para iniciar animación
        this.palabras[i].timeoutA = window.setTimeout(() => {
          // Cada cuanto empieza el loop
          executeAnimation(i)
          this.palabras[i].interval = window.setInterval(
            executeAnimation.bind(this, i),
            timelineLenght
          )
        }, delay)
      }
    },
    nextSectionDoWe() {
      const time = 5
      const sec = document.querySelector('#animation')

      if (sec) {
        setTimeout(() => {
          const secObject = sec.getBoundingClientRect()
          const top = secObject.top || window.innerHeight
          if (window.scrollY === 0) {
            window.scroll({ top })
          }
        }, time * 1000)
      }
    },
  },
  head() {
    return {
      title: 'Nuestro trabajo',
    }
  },
  meta: {
    headerIsDark: true,
  },
} 
</script>
