<template>
  <main id="page_index" class="page-index">
    <!-- eslint-disable max-len -->
    <div class="relative">
      <slider-home />
      <arrow-scroll />
    </div>

    <div class="section w-full pt-16 bg-white">
      <div class="container">
        <div
          class="mb-8 max-w-4xl lg:ml-22 xl:ml-28 lg:mr-auto text-brand-naranja"
        >
      
          <p>
          
            {{$t('home.mensaje_covid')}}
          </p>
          <br><br>
          <iframe src="https://player.vimeo.com/video/540834949" width="100%" height="462" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

        </div>
      </div>
    </div>
    
    <!-- Accesos directos a blog -->
    <section v-if="$i18n.locale === 'es'" class="section access">
      <div
        class="container px-3 sm:px-0 flex flex-wrap justify-between lg:justify-center"
      >
        <article v-for="(acceso, i) in accesos" :key="i" class="access__body">
          <n-link
            :to="acceso.url"
            class="access__link"
            :class="{ access__tag: acceso.tag === 'blog' }"
          >
            <div class="relative aspect-ratio-square">
              <video
                v-if="acceso.image.endsWith('mp4')"
                class="access__img absolute inset-0 object-cover"
                :src="'/files/images/' + acceso.image"
                loading="lazy"
                width="600"
                height="600"
                autoplay
                loop
              >
                Tu navegador no admite el elemento
                <code>video</code>.
              </video>
              <image-responsive
                v-else
                :src="'/files/images/' + acceso.image"
                :alt="acceso.nameImg"
                :responsive="false"
                width="600"
                height="600"
                class="access__img absolute inset-0"
                image-classes="w-full h-full block object-top"
              />
            </div>
            <div class="px-4 py-3">
              <h3 class="h4 text-brand-naranja">{{ acceso.title }}</h3>
              <p>{{ acceso.text }}</p>
            </div>
          </n-link>
        </article>
      </div>
    </section>

    <section class="section bg-gray-100">
      <div class="container content lg:mb-6 font-thin">
        <p class="max-w-2xl mx-auto">
           {{$t('home.p_clientes_1')}}
        </p>
        <p class="max-w-2xl mx-auto">
            {{$t('home.p_clientes_2')}}
        </p>
      </div>

      <!-- Carousel en icons de clientes -->
      <vue-carousel
        :per-page-custom="[
          [0, 2],
          [640, 3],
          [1024, 5],
        ]"
        pagination-active-color="#f83f28"
        autoplay
        center-mode
        loop
        class="lg:w-5/6 container"
      >
        <vue-slide
          v-for="el in clientes"
          :key="el.cliente"
          class="flex justify-center items-center"
        >
          <image-responsive
            :src="'/files/images/' + el.logo"
            :colors="[]"
            :responsive="false"
            class="relative block"
            width="66"
            height="66"
            image-classes="w-full object-contain"
          />
        </vue-slide>
      </vue-carousel>
    </section>

    <section class="section">
      <div class="container items-center pb-5">
        <div class="flex flex-col sm:flex-row">
          <div class="index__body-hacemos flex-grow-0">
            <h4 class="h4 text-brand-naranja">  {{$t('home.q_hacemos_title')}}</h4>
            <p class="mb-3">
             {{$t('home.q_hacemos_content_1')}}
            </p>
            <p>
              {{$t('home.q_hacemos_content_2')}}
            </p>
          </div>
          <div
            class="flex-none block mt-6 lg:mt-1 mx-auto lg:mr-14 xl:mr-20 w-3/4 sm:w-5/12 lg:w-1/4"
          >
            <image-responsive
              src="/files/images/cerdo.png"
              alt="Imagen de cerdo con laptop"
              :responsive="false"
              width="800"
              height="768"
              class="w-full h-full block"
            />
          </div>
        </div>
      </div>
    </section>

    <modal-contact />
  </main>
</template>

<script>
import VueCarousel from 'vue-carousel/src/Carousel.vue'
import VueSlide from 'vue-carousel/src/Slide.vue'
import ModalContact from '~/components/ModalContact.vue'
import ArrowScroll from '~/components/ArrowScroll.vue'
import SliderHome from '~/components/SliderHome.vue'



export default {
  name: 'Index',
  components: {
    VueCarousel,
    VueSlide,
    ModalContact,
    SliderHome,
    ArrowScroll,
  },
  data() {
    return {
      showForm: false,
      clientes: [
        {
          cliente: 'Adecco',
          logo: '/clientes/CatalogoIndex/Adecco.png',
        },
        {
          cliente: 'Infovis',
          logo: '/clientes/CatalogoIndex/Infovis.png',
        },
        {
          cliente: 'ONU Mujeres',
          logo: '/clientes/CatalogoIndex/OnuMujeres.png',
        },
        {
          cliente: 'Summer Hills',
          logo: '/clientes/CatalogoIndex/SummerHills.png',
        },
        {
          cliente: 'Autofin',
          logo: '/clientes/CatalogoIndex/Autofin.png',
        },
        {
          cliente: 'Cityexpress',
          logo: '/clientes/CatalogoIndex/Cityexpress.png',
        },
        {
          cliente: 'Doctora Flor',
          logo: '/clientes/CatalogoIndex/Clinica.png',
        },
        {
          cliente: 'USMEF',
          logo: '/clientes/CatalogoIndex/USMEF.png',
        },
        {
          cliente: 'Jaguar',
          logo: '/clientes/CatalogoIndex/Jaguar.png',
        },
        {
          cliente: 'Bimbo',
          logo: '/clientes/CatalogoIndex/Bimbo.png',
        },
        {
          cliente: 'Inmujeres',
          logo: '/clientes/CatalogoIndex/Inmujeres.png',
        },
      ],
      accesos: [
        {
          tag: 'blog',
          image: 'blog/ONG-que-usan-el-marketing-a-su-favor/cover_0.jpg',
          nameImg: 'Top 5 ONG con campañas de publicidad altamente efectivas',
          url: 'a113/2022/ONG-que-usan-el-marketing-a-su-favor',
          title: 'Top 5 ONG con campañas de publicidad altamente efectivas',
          text:
            ' Cuando escuchamos la palabra marketing es casi inevitable pensar en empresas, productos, servicios y dinero. Pero pocas veces nos imaginamos que las ONG puedan hacer marketing. Sin embargo, algunas lo hacen muy bien.',
        },
        {
          tag: 'blog',
          image: 'blog/que-es-seo-en-redes-sociales/cover_0.jpg',
          nameImg: '¿Qué es SEO en redes sociales y cómo ponerlo en práctica?',
          url: 'a113/2022/que-es-seo-en-redes-sociales-y-como-ponerlo-en-practica',
          title: '¿Qué es SEO en redes sociales y cómo ponerlo en práctica?',
          text:
            '¿Quieres entender qué es el SEO y cómo usarlo en tu estrategia de redes sociales? Recuerda, mejorar tu estrategia de posicionamiento es vital, porque ayuda a mejorar tu visibilidad de búsqueda, aumentar los resultados orgánicos de tu e-commerce y hacerle frente a los demás sitios de la competencia.',
        },
      ],
    }
  },
  head() {
    return {
      title: '',
      titleTemplate: 'dínamo Agencia de Comunicación y Diseño.',
    }
  },
  meta: {
    headerIsDark: true,
  },
}
</script>

<style lang="scss">
.f-brand-azul {
  fill: $brand-azul;
}

.index {
  &__body-hacemos {
    @include lg {
      width: theme('width.1/2');
      margin-right: auto;
      margin-left: theme('margin.22');
    }
    @include xl {
      margin-left: theme('margin.28');
    }
  }
}

.access {
  &__body {
    position: relative;
    width: 100%;
    margin-bottom: theme('margin.12');
    box-shadow: theme('boxShadow.xl');

    @include xsm {
      width: 90%;
      margin: 0 auto;
    }

    @include sm {
      width: 48%;
    }
    @include lg {
      width: 40%;
      margin-right: theme('margin.4');
      margin-left: theme('margin.4');
      transition: transform 250ms ease-in;
      transform: translateY(0);

      &:hover {
        transform: translateY(calc(-1 * theme('spacings.2')));
      }
    }
  }

  &__tag {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: theme('width.14');
      height: theme('height.6');
      color: $white;
      content: 'Blog';
      background: theme('colors.brand.naranja');
    }
  }

  &__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    margin-bottom: theme('margin.1');
  }
}
</style>
