<template>
  <main class="page--hacemos presentacion text-microCopy">
    <section class="section py-12 md:py-16 lg:py-20">
      <div
        class="container flex flex-col xsm:flex-row sm:flex-row-reverse items-center items-center xsm:items-start sm:items-center justify-center"
      >
        <h1 class="presentacion__hero-title">
          <span
            class="presentacion__hero-title--heading"
            :class="{
              'presentacion__hero-title--heading-active': intoAnimation,
            }"
          >10 años de experiencia nos respaldan.</span>
        </h1>

        <image-responsive
          src="/files/images/dinamo-child.png"
          alt="Conoce dínamo"
          :lazy="false"
          :responsive="false"
          width="800"
          image-gradient="white"
          height="768"
          class="mix-w-5/6 xsm:w-32 md:w-56 lg:w-70"
        />
      </div>
    </section>

    <section class="section pt-0">
      <div class="container">
        <p class="presentacion__text-intro presentacion__h1-responsive">
          Conoce
          <b>dínamo</b>, el resultado de nuestro trabajo nos ha llevado a
          un constante crecimiento; entre
          <span
            class="title"
          >2018 y 2019</span> hemos tenido un
          <span class="title">aumento del 40% en cuanto a clientes.</span>
        </p>

        <p class="presentacion__h1-responsive title text-center pb-2 md:pb-6">¿Sabías qué?</p>

        <div class="sm:flex sm:justify-center">
          <!-- Grafica 1 -->
          <div class="presentacion__graphic">
            <pie-chart percent="76" />
            <p
              class="presentacion__graphic-text"
            >De los usuarios de internet lo utilizan para buscar información.</p>
          </div>

          <!-- Grafica 2 -->
          <div class="presentacion__graphic">
            <pie-chart
              percent="73"
              color-text="text-brand-azul"
              color-front-circle="text-brand-naranja"
            />
            <p class="presentacion__graphic-text">
              De los usuarios de internet en México accede a Redes Sociales dos
              o más veces al día.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section pb-0 pt-4 md:pt-0">
      <div class="container">
        <picture>
          <source
            srcset="/files/images/mapa_xs.png 1x, /files/images/mapa_xs.png 2x"
            media="(max-width: 639px)"
            type="image/webp"
          />
          <source
            srcset="/files/images/mapa_xl.png 1x, /files/images/mapa_xl.png 2x"
            media="(max-width: 1480px)"
            type="image/webp"
          />
          <img
            src="/files/images/mapa_xl.png"
            alt="Mapa de México"
            type="image/jpeg"
            class="w-full xsm:w-4/5 xsm:mx-auto mb-6 md:mb-0"
          />
        </picture>
        <div class="presentacion__question">
          <p class="relative inline-block">
            <span class="presentacion__icon presentacion__icon--left">¿</span>
            Te interesa
          </p>
          <p class="presentacion__question--bold">aumentar</p>
          <p class="presentacion__question--small">
            tu matrícula
            <span class="presentacion__icon presentacion__icon--right">?</span>
          </p>
        </div>

        <div class="sm:flex sm:flex-row-reverse sm:justify-center py-20 md:py-32 xl:py-40">
          <image-responsive
            src="/files/images/cubes-child.png"
            alt="Imagen de niño en cubos"
            :responsive="false"
            width="1200"
            height="700"
            class="xsm:w-5/6 sm:w-2/3 mx-auto sm:mx-0"
          />

          <hgroup class="presentacion__text-acordeon mt-6 mx-auto sm:m-0">
            <h2>Reinventemos</h2>
            <h2>
              la
              <span class="title">esencia</span> de
            </h2>
            <h2>
              tu
              <span class="title">escuela</span>
            </h2>
          </hgroup>
        </div>
      </div>
    </section>

    <section class="section pt-0">
      <div class="container">
        <h3 class="presentacion__title text-center">
          En
          <span class="title">dínamo</span> te ofrecemos:
        </h3>

        <div class="presentacion__grid">
          <div class="presentacion__grid__content">
            <h4 class="presentacion__h1-responsive text-center">
              <span class="presentacion__line-text">Estrategia Integral</span>
            </h4>
            <div class="relative">
              <p>
                Un plan 360 de acuerdo a las necesidades de tu negocio.
                Apostamos por una estrategia con objetivos claros, medibles y
                reales. Hablamos de nuestra creatividad en conjunto con: Diseño
                Web, Social Media, UX y Diseño Gráfico.
              </p>
              <image-responsive
                src="/files/images/icon-strategy.svg"
                alt="Imagen de estragia en cubos"
                :responsive="false"
                width="400"
                height="400"
                :webp="false"
                class="presentacion__grid__icon"
              />
            </div>
          </div>

          <image-responsive
            src="/files/images/cubes-strategy.png"
            alt="Icono de estrategia"
            :responsive="false"
            width="1200"
            height="700"
            class="presentacion__grid__img"
          />
        </div>
      </div>
    </section>

    <section class="section pb-0 sm:py-16 xl:py-24">
      <div class="container">
        <h3 class="h4 text-center md:w-3/4 xl:w-1/2 mx-auto">
          Contamos con las herramientas necesarias que facilitan el camino hacia
          los objetivos que definamos en equipo.
        </h3>

        <div class="md:flex md:flex-wrap md:justify-between py-10">
          <article
            v-for="(item, i) in services"
            :key="i"
            class="mb-10 sm:mx-auto md:mx-0 sm:w-5/6 md:w-5/12 lg:w-2/5"
          >
            <div class="flex items-end md:flex-wrap mb-1 sm:mb-2">
              <image-responsive
                :src="`/files/images${item.image}.svg`"
                :alt="item.altImage"
                :responsive="false"
                width="300"
                :webp="false"
                class="w-16 sm:w-18 lg:w-20 mr-2"
              />
              <base-title
                class="font-medium"
                :text="item.title"
                :sillabe-length="item.sillabe"
                tag="h4"
              />
            </div>
            <p>{{ item.content }}</p>
          </article>
        </div>
      </div>
    </section>

    <section class="section py-0">
      <div class="container">
        <div class="xsm:flex xsm:items-center mb-12 lg:mb-16">
          <image-responsive
            src="/files/images/cubes-laptop.png"
            alt="Imagen de nuestra experiencia"
            :responsive="false"
            width="1900"
            height="1000"
            class="xsm:w-1/3"
          />
          <hgroup class="presentacion__text-acordeon font-bold">
            <h2>Nuestra</h2>
            <h2 class="title">experiencia</h2>
          </hgroup>
        </div>

        <div class="flex flex-col sm:flex-row items-center justify-center my-12 lg:my-16">
          <div class="inline-block mx-auto mb-5 sm:m-0">
            <h3 class="presentacion__h1-responsive pb-4 font-medium">
              Summer Hills
              <span
                class="block font-light text-small sm:text-base -mt-2"
              >Cliente desde el 2018</span>
            </h3>

            <div>
              <h4 class="h3 mb-2 font-medium">Realizamos:</h4>
              <ul class="h5 font-normal">
                <li>Diseño y desarrollo Web.</li>
                <li>Gestión de redes sociales.</li>
                <li>Campañas en Google Ads.</li>
                <li>Cobertura de eventos.</li>
                <li>Video corporativo.</li>
                <li>Recorridos 360°.</li>
              </ul>
            </div>
          </div>
          <image-responsive
            src="/files/images/cubes-summer.png"
            alt="Imagen de niños"
            :responsive="false"
            width="1900"
            height="1000"
            class="xsm:w-3/4 sm:w-1/2 sm:ml-8"
          />
        </div>

        <div class="sm:flex sm:items-center sm:justify-center pb-8 md:pb-12 xl:pb-16">
          <div class="sm:min-w-1/2 md:mix-w-1/3 mr-4 lg:mr-8">
            <h3
              class="presentacion__h1-responsive text-center sm:text-left font-medium sm:whitespace-no-wrap"
            >Nuestros logros:</h3>
          </div>
          <div class="xsm:w-3/4 sm:w-1/2 xsm:mx-auto mt-10 sm:m-0">
            <div class="flex items-center pb-4">
              <image-responsive
                src="/files/images/ok.svg"
                alt="Icono de paloma verde"
                :responsive="false"
                width="200"
                height="200"
                :webp="false"
                class="w-8 lg:w-12 xl:w-16 mr-3"
              />
              <p class="md:text-h5 xl:text-h2 font-normal md:leading-h5 xl:leading-h2">
                Diseño y desarrollo de página web: El sitio de Summer Hills se
                construyó desde cero.
              </p>
            </div>
            <div class="flex items-center">
              <image-responsive
                src="/files/images/ok.svg"
                alt="Icono de paloma verde"
                :responsive="false"
                width="200"
                height="200"
                :webp="false"
                class="w-8 lg:w-12 xl:w-16 mr-3"
              />
              <p class="md:text-h5 xl:text-h2 font-normal md:leading-h5 xl:leading-h2">
                El resultado, una página de fácil navegación, acorde a los
                estándares de Google.
              </p>
            </div>
          </div>
        </div>

        <div class="py-4 md:py-8 xl:py-12">
          <h3 class="presentacion__h1-responsive text-center font-medium">Gestión de redes sociales:</h3>

          <div class="sm:flex sm:flex-wrap text-center md:text-h6 mt-4 md:mt-8">
            <div class="sm:w-1/2 xl:w-1/4 mb-8 md:mb-12 xl:mb-0">
              <p class="sm:w-3/4 sm:mx-auto">Incremento de likes e interacciones de 600 a:</p>
              <portafolio-number-counter
                class="presentacion__text-redes title font-semibold"
                class-counter
                :number="1430"
                :init-counter="600"
                :timer="2"
              />
            </div>
            <div class="sm:w-1/2 xl:w-1/4 mb-8 md:mb-12 xl:mb-0">
              <p class="sm:w-3/4 sm:mx-auto">Campañas generación de leads:</p>
              <portafolio-number-counter
                class="presentacion__text-redes title font-semibold"
                class-counter
                :number="10"
                :timer="2"
              />
            </div>
            <div class="sm:w-1/2 xl:w-1/4 mb-8 md:mb-12 xl:mb-0">
              <p class="sm:w-3/4 sm:mx-auto">Leads obtenidos:</p>
              <portafolio-number-counter
                class="presentacion__text-redes title font-semibold"
                class-counter
                :number="184"
                :timer="2"
              />
            </div>
            <div class="sm:w-1/2 xl:w-1/4 mb-8 md:mb-12 xl:mb-0">
              <p class="sm:w-3/4 sm:mx-auto">Costo por lead promedio:</p>
              <portafolio-number-counter
                class="presentacion__text-redes title font-semibold"
                class-counter
                :number="15"
                :timer="2"
              >
                <template #number="{ number }">${{ number }}</template>
              </portafolio-number-counter>
            </div>
          </div>
        </div>

        <div class="py-4 md:py-8 xl:py-12">
          <h3
            class="presentacion__h1-responsive text-center font-medium"
          >Campañas en Google Ads Display:</h3>

          <div class="sm:flex sm:flex-wrap text-center md:text-h6 mt-4 md:mt-8">
            <div class="sm:w-1/2 xl:w-1/4 mb-8 md:mb-12 xl:mb-0">
              <p class="sm:w-3/4 sm:mx-auto">Inversión total:</p>
              <portafolio-number-counter
                class="presentacion__text-google-ads title font-semibold"
                class-counter
                :number="7400"
                :timer="2"
              >
                <template #number="{ number }">${{ number }}</template>
              </portafolio-number-counter>
            </div>
            <div class="sm:w-1/2 xl:w-1/4 mb-8 md:mb-12 xl:mb-0">
              <p class="sm:w-3/4 sm:mx-auto">Impresiones:</p>
              <portafolio-number-counter
                class="presentacion__text-google-ads title font-semibold"
                class-counter
                :number="2529371"
                :timer="2"
              />
            </div>
            <div class="sm:w-1/2 xl:w-1/4 mb-8 md:mb-12 xl:mb-0">
              <p class="sm:w-3/4 sm:mx-auto">Clics:</p>
              <portafolio-number-counter
                class="presentacion__text-google-ads title font-semibold"
                class-counter
                :number="3500"
                :timer="2"
              />
            </div>
            <div class="sm:w-1/2 xl:w-1/4 mb-8 md:mb-12 xl:mb-0">
              <p class="sm:w-3/4 sm:mx-auto">CPC Promedio:</p>
              <portafolio-number-counter
                class="presentacion__text-google-ads title font-semibold"
                class-counter
                :number="87"
                :timer="2"
              >
                <template #number="{ number }">$1.{{ number }}</template>
              </portafolio-number-counter>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section pt-0">
      <div class="container">
        <div class="presentacion__grid-contact">
          <div class="presentacion__grid-contact__content">
            <h4 class="presentacion__h1-responsive font-medium">Contáctanos:</h4>
            <a
              href="mailto:hola@wdinamo.com"
              class="flex items-center title font-bold mb-2 md:mb-3"
              @click="trackCorreo"
            >
              <image-responsive
                src="/files/images/mail.svg"
                alt="Icono de e-mail"
                :responsive="false"
                width="400"
                height="400"
                :webp="false"
                class="presentacion__grid-contact__icon"
              />
              <p class="md:text-h5 xl:text-h2 md:leading-h5 xl:leading-h2">: hola@wdinamo.com</p>
            </a>
            <a
              href="tel:5562807477"
              class="flex items-center title font-bold mb-2 md:mb-3"
              @click="Contactotel"
            >
              <image-responsive
                src="/files/images/phone.svg"
                alt="Icono de telefono"
                :responsive="false"
                width="200"
                height="200"
                :webp="false"
                class="presentacion__grid-contact__icon"
              />
              <p class="md:text-h5 xl:text-h2 md:leading-h5 xl:leading-h2">: 55 6280 7477</p>
            </a>
            <link-whatsapp
              number="525515104704"
              class="flex items-center title font-bold mb-2 md:mb-3"
            >
              <image-responsive
                src="/files/images/whatsapp.svg"
                alt="Icono de whatsapp"
                :responsive="false"
                width="200"
                height="200"
                :webp="false"
                class="presentacion__grid-contact__icon"
              />
              <p class="md:text-h5 xl:text-h2 md:leading-h5 xl:leading-h2">: 55 1510 4704</p>
            </link-whatsapp>
          </div>

          <image-responsive
            src="/files/images/tanya.png"
            alt="Imagen de Tanya contacto"
            :responsive="false"
            width="1600"
            height="1200"
            class="presentacion__grid-contact__img"
          />
        </div>

        <div class="mt-4 md:mt-8 mb-10 text-center">
          <button aria-label="Visita nuestro sitio web">
            <a
              href="https://www.dinamo.mx/"
              target="_blank"
              rel="noopener noreferrer"
              class="btn btn__edge"
            >Visita nuestro sitio web</a>
          </button>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import PieChart from '~/components/PieChart.vue'
import BaseTitle from '~/components/BaseTitle.vue'
import LinkWhatsapp from '~/components/LinkWhatsapp.vue'
import PortafolioNumberCounter from '~/components/Portafolio/NumberCounter.vue'

export default {
  name: 'PresentacionDeServicios',
  components: {
    PieChart,
    BaseTitle,
    LinkWhatsapp,
    PortafolioNumberCounter,
  },
  data() {
    return {
      intoAnimation: false,
      services: [
        {
          title: 'Diseño Web',
          sillabe: 2,
          image: '/web',
          altImage: 'Icono de Diseño Web',
          content:
            'Pensamos en la experiencia móvil por default, sin perder de vista el diseño responsivo y adaptativo, esto nos permite brindar en nuestras páginas la experiencia ideal para cada dispositivo y para tus visitantes.',
        },
        {
          title: 'UX Design',
          sillabe: 2,
          image: '/ux',
          altImage: 'Icono de UX Design',
          content:
            'En el UX pensamos en los usuarios y su contexto, nos enfocamos en diseñar contenido, productos y desarrollo útil para tener usuarios satisfechos.',
        },
        {
          title: 'Social Media',
          sillabe: 2,
          image: '/social',
          altImage: 'Icono de Social Media',
          content:
            'Hoy en día el contenido es fundamental y la calidad del mismo nos permite formar vínculos con tu audiencia. La combinación de contenido, diseño y estrategia nos permite obtener mejores resultados. Además, somos especialistas en generación de campañas de clientes potenciales.',
        },
        {
          title: 'Recorridos 360°',
          sillabe: 2,
          image: '/360',
          altImage: 'Icono de Recorridos 360°',
          content:
            'Mostramos a tus usuarios cómo se ve tu negocio por dentro. Cuidamos cada detalle para brindar una experiencia completa a tus visitantes. Contamos con especialistas certificados por Google.',
        },
        {
          title: 'Multimedia',
          sillabe: 3,
          image: '/multimedia',
          altImage: 'Icono de Multimedia',
          content:
            'Realizamos materiales audiovisuales optimizados para cualquier dispositivo. Hacemos levantamiento de imagen, post producción, animación 2D, y fotografía.',
        },
        {
          title: 'Diseño Gráfico',
          sillabe: 2,
          image: '/design',
          altImage: 'Icono de Diseño Gráfico',
          content:
            'Trabajamos bajo procesos creativos definidos, en donde la observación y la retroalimentación son nuestros pilares. Nuestro trabajo de diseño tiene como objetivo generar experiencias en el usuario final.',
        },
      ],
    }
  },
  mounted() {
    this.intoAnimation = true
  },
  layout: 'clean',
  meta: {
    headerIsDark: true,
  },

  methods: {
    Contactotel(){
      this.$gtag.event("generate_lead",{
        event_category: 'engagment',
        event_label: 'click en contacto telefono',
        value: 1,
      })
    },

    trackCorreo(){
      this.$gtag.event('generate_lead', {
        event_category: 'engagment',
        event_label: 'click en contacto correo',
        value: 1,
      })
    },
  }
}
</script>

<style lang="scss" scoped>
.presentacion {
  &__hero-title {
    position: relative;
    z-index: 10;
    display: flex;
    width: 90%;
    justify-content: center;
    margin-top: theme('margin.1');
    margin-bottom: theme('margin.4');
    font-size: theme('spacings.5');
    font-weight: theme('fontWeight.bold');
    line-height: 1;

    @include sm {
      width: 40%;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: theme('margin.6');
      font-size: theme('spacings.6');
    }
    @include md {
      font-size: theme('spacings.8');
    }
    @include lg {
      margin-left: theme('margin.8');
      font-size: theme('spacings.10');
    }

    &--heading {
      opacity: 0;
      transform: translateY(-100%);
    }

    &--heading-active {
      animation: motionText 1100ms forwards;
      animation-delay: 300ms;
    }

    @keyframes motionText {
      0% {
        opacity: 0;
        transform: translateY(-100%);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__h1-responsive {
    margin-bottom: theme('margin.2');
    font-size: theme('fontSize.h4');
    line-height: theme('lineHeight.h4');

    @include sm {
      font-size: theme('fontSize.h2');
      line-height: theme('lineHeight.h2');
    }
    @include lg {
      margin-bottom: theme('margin.3');
      font-size: theme('fontSize.h1');
      line-height: theme('lineHeight.h1');
    }
  }

  &__text-intro {
    margin: 0 auto theme('margin.10');
    text-align: center;

    @include sm {
      margin-bottom: theme('margin.14');
    }
    @include md {
      width: theme('width.3/4');
    }
    @include lg {
      margin-bottom: theme('margin.16');
    }
    @include xl {
      width: theme('width.1/2');
    }
  }

  &__graphic {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include sm {
      width: 50%;
    }
    @include md {
      padding-bottom: 0;
      margin: 0 theme('margin.4');
    }
    @include lg {
      padding-bottom: 0;
      margin: 0 theme('margin.6');
    }
    @include xl {
      padding-bottom: 0;
      margin: 0 theme('margin.10');
    }

    &:not(:last-child) {
      padding-bottom: theme('padding.10');
    }
  }

  &__graphic-text {
    margin-top: theme('margin.2');
    font-size: theme('fontSize.h6');
    line-height: theme('lineHeight.h6');
    text-align: center;

    @include xsm {
      width: theme('width.3/4');
    }
    @include lg {
      font-size: theme('fontSize.h4');
      line-height: theme('lineHeight.h4');
    }
  }

  &__question {
    position: relative;
    font-size: theme('spacings.6');
    line-height: 0.9;
    text-align: center;

    @include xsm {
      font-size: theme('spacings.8');
    }
    @include md {
      font-size: theme('spacings.12');
    }
    @include xl {
      font-size: theme('spacings.16');
    }

    &--bold {
      font-size: theme('spacings.6');
      font-weight: theme('fontWeight.bold');
      color: $brand-naranja;

      @include xsm {
        @include plus-size(1, 8);
      }
      @include md {
        @include plus-size(1, 12);
      }
      @include xl {
        @include plus-size(1, 16);
      }
    }

    &--small {
      position: relative;
      display: inline-block;
      font-size: theme('spacings.5');

      @include xsm {
        @include minus-size(2, 9);
      }
      @include md {
        @include minus-size(2, 12);
      }
      @include xl {
        @include minus-size(2, 16);
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    font-size: theme('spacings.8');
    transform: translateY(-50%);

    @include xsm {
      @include plus-size(2, 8);
    }
    @include md {
      @include plus-size(2, 12);
    }
    @include xl {
      @include plus-size(2, 16);
    }

    &--left {
      right: 100%;
      margin-top: calc(-1 * theme('spacings.2'));
    }

    &--right {
      left: 100%;
    }
  }

  &__text-acordeon {
    padding-left: theme('padding.4');
    font-size: theme('spacings.6');
    line-height: 1;

    @include xsm {
      width: theme('width.2/3');
      padding-left: 0;
    }
    @include sm {
      width: auto;
    }
    @include md {
      font-size: theme('spacings.8');
    }
    @include lg {
      font-size: theme('spacings.10');
    }
    @include xl {
      font-size: theme('spacings.12');
    }
  }

  &__text-redes {
    font-size: theme('spacings.6');
    line-height: 1.3;

    @include xsm {
      font-size: theme('spacings.8');
    }
    @include lg {
      font-size: theme('spacings.10');
    }
    @include xl {
      font-size: theme('spacings.12');
    }
  }

  &__text-google-ads {
    font-size: theme('spacings.4');
    line-height: 1.3;

    @include xsm {
      font-size: theme('spacings.5');
    }
    @include lg {
      font-size: theme('spacings.6');
    }
    @include xl {
      font-size: theme('spacings.8');
    }
  }

  &__title {
    font-size: theme('spacings.5');
    line-height: 1;

    @include md {
      font-size: theme('spacings.8');
    }
    @include xl {
      font-size: theme('spacings.10');
    }
  }

  &__grid {
    padding: theme('padding.8') 0;

    @include sm {
      display: flex;
      padding: theme('padding.12') 0;
    }
    @include md {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr theme('spacings.8') 1fr;
    }

    &__img {
      width: 100%;
      grid-column: 2 / 4;
      grid-row: 1;

      @include xsm {
        width: theme('width.3/4');
        margin: 0 auto;
      }
      @include sm {
        min-width: theme('width.1/2');
        margin: 0;
      }
      @include md {
        width: auto;
      }
    }

    &__content {
      grid-column: 1 / 3;
      grid-row: 1;
      align-self: end;
      padding-bottom: theme('padding.4');

      @include sm {
        padding-bottom: 0;
      }
      @include lg {
        padding-bottom: theme('padding.10');
      }
    }

    &__icon {
      position: absolute;
      bottom: 100%;
      left: 0;
      width: theme('spacings.12');
      margin-bottom: theme('spacings.6');

      @include xsm {
        width: theme('spacings.10');
        margin-bottom: 0;
      }
      @include sm {
        margin-bottom: theme('spacings.8');
      }
      @include md {
        width: theme('spacings.14');
        margin-bottom: 0;
      }
      @include lg {
        width: theme('spacings.16');
      }
      @include xl {
        width: theme('spacings.20');
      }
    }
  }

  &__grid-contact {
    padding: theme('padding.8') 0;

    @include sm {
      display: flex;
      padding: theme('padding.12') 0;
    }

    &__img {
      @include xsm {
        max-width: theme('width.5/6');
        margin-right: auto;
        margin-left: auto;
      }
      @include sm {
        max-width: theme('width.1/2');
        margin-right: 0;
        margin-left: 0;
      }
      @include md {
        width: auto;
      }
    }

    &__content {
      @include sm {
        width: theme('width.2/5');
      }
      @include md {
        width: auto;
      }
    }

    &__icon {
      width: theme('spacings.5');
      height: theme('spacings.5');
      animation: scaleIcon 1800ms infinite;

      @include md {
        width: theme('spacings.6');
        height: theme('spacings.6');
      }
      @include lg {
        width: theme('spacings.8');
        height: theme('spacings.8');
      }
    }
  }

  &__line-text {
    position: relative;

    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 10%;
      height: 2px;
      content: '';
      background: theme('colors.brand.naranja');
    }
  }
}

@keyframes scaleIcon {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}
</style>
